.allPages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.allPages__develop {
  font-size: calculate-clamp(16px, 40px);
  line-height: line-height(16px, 16px);
}
.allPages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}
.allPages__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--secondary-color-100);
  color: var(--white-color);
  border-radius: var(--radius-md);
  padding: 2px 20px;
}
.allPages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.allPages__link {
  counter-increment: list;
  font-size: calculate-clamp(16px, 30px);
  font-weight: var(--weight-font-xl);
  line-height: line-height(16px, 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.allPages__item {
  width: 100%;
  height: 100%;
}
.allPages__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: calculate-clamp(16px, 20px);
  font-weight: var(--weight-font-xl);
  text-transform: uppercase;
}
.allPages__review {
  font-size: calculate-clamp(16px, 30px);
  font-weight: var(--weight-font-main);
}
.allPages__review a {
  font-weight: var(--weight-font-xl);
}