.companies-detail__info, .companies-detail__item {
  width: 100%;
}
.companies-detail__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.companies-detail__item-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.companies-detail__item-swiper {
  min-width: 0;
  width: 100%;
}

.name-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.name-rating__box {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-md);
  padding: clamp(2px, -2.9182692308px + 0.4807692308vw, 4px) clamp(8px, -1.8365384615px + 0.9615384615vw, 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(4px, -5.8365384615px + 0.9615384615vw, 8px);
  min-height: clamp(32px, 17.2451923077px + 1.4423076923vw, 38px);
}
.name-rating__box * {
  line-height: var(--line-height-tighter);
}
.name-rating--small .name-rating__box {
  min-height: clamp(20px, 9.9651567944px + 2.0905923345vw, 26px);
  padding: clamp(0px, -3.3449477352px + 0.6968641115vw, 2px) 6px;
  gap: 4px;
}
.name-rating--big .name-rating__box {
  min-height: clamp(26px, -10.7944250871px + 7.6655052265vw, 48px);
  padding: clamp(2px, -4.6898954704px + 1.393728223vw, 6px) 8px;
  gap: 4px;
}

.comments__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.comments__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(20px, 4.015625px + 1.5625vw, 24px);
}

.comments-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(20px, 4.015625px + 1.5625vw, 24px);
}
.comments-box__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(20px, 4.015625px + 1.5625vw, 24px);
}
.comments-box__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.comments-box__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.comments-box__forms, .comments-box__details {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.comments-box.active-form .comments-box__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comments-box.active-status .comments-box__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(8px, 4.6550522648px + 0.6968641115vw, 10px);
  background-color: var(--gray-color-100);
  padding: 12px 16px;
  border-radius: var(--radius-md);
}
.comments-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}
.comments-item__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
  width: 100%;
}
.comments-item__tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.comments-item__author > *:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  position: relative;
}
.comments-item__author > *:not(:last-child):before {
  position: absolute;
  content: "/";
  height: 100%;
  width: 7px;
  right: 0;
  top: 0;
  color: var(--primary-color-100);
}
@media (max-width: 1023px) {
  .comments-item {
    padding: 16px;
  }
}