.comparison {
  --count-cards: 4;
  --gap-cards: 32px;
}
.comparison__content {
  display: grid;
  width: 100%;
  gap: var(--gap-cards);
  grid-template-columns: calc(100% / var(--count-item-table, 4) - (var(--gap-cards, 32px))) auto;
}
.comparison__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.comparison__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.comparison__swiper-box {
  width: 100%;
  min-width: 0;
}
.comparison .table-grid__row {
  grid-template-columns: repeat(var(--count-item-table, 4), 1fr);
}
.comparison[data-count="2"] .table-grid__row .table-grid__cell:nth-child(n+3) {
  display: none;
}
.comparison[data-count="3"] .table-grid__row .table-grid__cell:nth-child(n+4) {
  display: none;
}
.comparison[data-count="4"] .table-grid__row .table-grid__cell:nth-child(n+5) {
  display: none;
}
@media (max-width: 1099px) {
  .comparison {
    --gap-cards: 16px;
  }
}
@media (max-width: 1023px) {
  .comparison .table-grid__cell, .comparison .table-grid__decor-cell--big {
    padding: clamp(8px, 4.6550522648px + 0.6968641115vw, 10px) 0;
  }
  .comparison .table-grid__decor-cell--big {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .comparison__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .comparison__inner {
    gap: 16px;
  }
  .comparison .topBox {
    gap: 16px;
  }
  .comparison .topBox__header {
    display: contents;
  }
  .comparison .topBox__header .arrows-swiper {
    -webkit-box-ordinal-group: 1001;
        -ms-flex-order: 1000;
            order: 1000;
  }
}