.companies__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.companies__sticky {
  position: sticky;
  top: calc(var(--header-height, var(--calback-header-height)) + 10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 1279px) {
  .companies__banners {
    display: none;
  }
}

body.scrollBottom .companies__sticky {
  top: 10px;
}

.companies-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(24px, 8.0778210117px + 1.5564202335vw, 28px);
}
.companies-info__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(24px, -7.8443579767px + 3.1128404669vw, 32px);
}
.companies-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(16px, -15.8443579767px + 3.1128404669vw, 24px);
}
.companies-info__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: clamp(8px, -87.53307393px + 9.3385214008vw, 32px);
}
.companies-info__sort-item {
  max-width: clamp(214px, 70.7003891051px + 14.0077821012vw, 250px);
  width: 100%;
}
.companies-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: clamp(24px, -39.6887159533px + 6.2256809339vw, 40px);
}
.companies-info__content .pagination {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.companies-info__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.companies-info__items--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  width: 100%;
  gap: 17px;
}
@media (max-width: 1023px) {
  .companies-info__items--grid {
    gap: 16px 24px;
  }
}
@media (max-width: 479px) {
  .companies-info__sort-item {
    max-width: clamp(160px, 69.6864111498px + 18.8153310105vw, 214px);
    width: 100%;
  }
}

.companies-filter {
  --gap-items: 8px;
  --count-items: 4;
  --item-width: calc(
    (100% / var(--count-items, 4) + 24px) - var(--gap-items, 8)
  );
  display: grid;
  grid-template-columns: var(--item-width) var(--item-width) var(--item-width);
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: var(--gap-items);
}
.companies-filter--bg {
  padding: 8px 0;
}
.companies-filter--six {
  --count-items: 6;
}
.companies-filter--property {
  --gap-items: 8px;
  --item-width: calc((100% / 5) + 12px);
  grid-template-columns: repeat(4, 20%) auto;
}
@media (max-width: 1023px) {
  .companies-filter--map {
    --count-items: 4;
  }
}
@media (max-width: 767px) {
  .companies-filter--map {
    grid-template-columns: 40px calc(100% - 80px - var(--gap-items)) 40px;
  }
}
@media (max-width: 767px) {
  .companies-filter--sort {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: unset;
  }
  .companies-filter--sort > *:nth-child(1) {
    grid-column: span 6;
  }
  .companies-filter--sort > *:nth-child(2) {
    grid-column: span 4;
  }
  .companies-filter--sort > *:nth-child(3) {
    grid-column: span 7;
  }
  .companies-filter--sort > *:nth-child(4) {
    grid-column: span 3;
  }
}

.name-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.name-rating__box {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-md);
  padding: clamp(2px, -2.9182692308px + 0.4807692308vw, 4px) clamp(8px, -1.8365384615px + 0.9615384615vw, 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(4px, -5.8365384615px + 0.9615384615vw, 8px);
  min-height: clamp(32px, 17.2451923077px + 1.4423076923vw, 38px);
}
.name-rating__box * {
  line-height: var(--line-height-tighter);
}
.name-rating--small .name-rating__box {
  min-height: clamp(20px, 9.9651567944px + 2.0905923345vw, 26px);
  padding: clamp(0px, -3.3449477352px + 0.6968641115vw, 2px) 6px;
  gap: 4px;
}
.name-rating--big .name-rating__box {
  min-height: clamp(26px, -10.7944250871px + 7.6655052265vw, 48px);
  padding: clamp(2px, -4.6898954704px + 1.393728223vw, 6px) 8px;
  gap: 4px;
}