.filter {
  --gap-items: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  position: sticky;
  background-color: var(--gray-color-100);
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.filter__items, .filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-items);
}
.filter__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__details {
  --gap-details: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-details);
}
.filter__details > *:not(:last-child) {
  position: relative;
  padding-right: var(--gap-details);
}
.filter__details > *:not(:last-child):before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 90%;
  background-color: var(--dark-color-700);
}
.filter__details-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-details);
}

.catalogy__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.catalogy__blocks {
  display: grid;
  grid-template-columns: auto 280px;
  gap: 32px;
}
.catalogy__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--gap-blocks);
  min-width: 0;
}
.catalogy__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.catalogy__header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.catalogy__filters-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.catalogy__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.catalogy__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.catalogy__items-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.catalogy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.catalogy__item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
}
.catalogy__item-img {
  border-radius: var(--radius-base);
  overflow: hidden;
  max-width: 280px;
  width: 100%;
  height: 210px;
}
.catalogy__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.catalogy__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.catalogy__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 32px;
}
.catalogy__item-head .textbox > * {
  display: none;
}
.catalogy__item-head .textbox > *:nth-child(-n+1) {
  display: block;
}
.catalogy__item-head .textbox.more > *:nth-child(-n+99999) {
  display: block;
}
.catalogy__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.catalogy__banners .banner-news {
  position: sticky;
  top: calc(var(--header-height, 140px) + 15px);
}
.catalogy__map {
  display: none;
}
.catalogy[data-grid=tiles] .catalogy__items-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 14px;
}
.catalogy[data-grid=tiles] .catalogy__items-blocks > *:not(.good-item) {
  grid-column: 1/-1;
}
.catalogy[data-grid=map] .catalogy__items-blocks,
.catalogy[data-grid=map] .pagination {
  display: none;
}
.catalogy[data-grid=map] .catalogy__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogy-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.catalogy-content__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.catalogy-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

body.scrollBottom .catalogy__banners .banner-news {
  position: sticky;
  top: 15px;
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  width: 100%;
}
.pricing__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.pricing__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}
.pricing__footer {
  display: block;
  min-width: 0;
}
.pricing__footer .swiper {
  min-width: 0;
  width: 100%;
}

.pricing-card {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  border-radius: var(--radius-base);
  background-color: var(--white-color);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pricing-card--gray {
  background-color: var(--gray-color-200);
  padding: 8px 12px;
}
.pricing-card--gray .pricing-card__header, .pricing-card--gray .pricing-card__block {
  color: var(--dark-color-500);
}
.pricing-card--gray .pricing-card__footer {
  gap: 8px;
}
.pricing-card--gray .pricing-card__block {
  gap: 2px;
}
.pricing-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  color: var(--dark-color-600);
}
.pricing-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.pricing-card__footer--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.pricing-card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  color: var(--dark-color-600);
}
.pricing-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.pricing-card__rating .icon {
  width: 10px;
  height: 10px;
}
.pricing-card__rating .icon img,
.pricing-card__rating .icon svg {
  width: 100%;
  height: 100%;
}
.pricing-card__rating.green {
  color: var(--green-color-100);
}
.pricing-card__rating.red {
  color: var(--primary-color-500);
}

.market-table {
  border-collapse: separate;
  border-spacing: 0;
  width: auto;
  border-radius: var(--radius-base);
  overflow: hidden;
  background-color: var(--gray-color-100);
}
.market-table td {
  width: 25;
  padding: 10px 16px;
}
.market-table tr:nth-child(even):not(.market-table__head) {
  background-color: var(--white-color);
}
.market-table__head {
  background-color: var(--gray-color-200);
}
.market-table__price.up {
  color: var(--green-color-100);
}
.market-table__price.down {
  color: var(--primary-color-500);
}/*# sourceMappingURL=main.css.map */