.map__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map__info {
  padding-inline: var(--container-inline-full-padding);
}
.map__content {
  position: relative;
  height: calc(100dvh - var(--header-height, var(--calback-header-height)) - var(--info-map-height, 14px));
  display: grid;
  grid-template-columns: 632px auto;
  background-color: var(--secondary-color-100);
}
.map__cart {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-sibebar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.map-sibebar__top .close {
  color: var(--dark-color-100);
}
.map-sibebar__top .close .icon {
  width: 24px;
  height: 24px;
}
.map-sibebar__top .close img,
.map-sibebar__top .close svg {
  width: 100%;
  height: 100%;
}
.map-sibebar .swiper--goods {
  overflow: visible;
}
.map-sibebar .swiper--goods > .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}