.map {
  overflow: hidden;
}
.map.sibebar-open .sibebar {
  max-width: clamp(352px, -334.9064748201px + 67.1462829736vw, 632px);
}
.map__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map__info {
  padding-inline: var(--container-inline-full-padding);
}
.map__content {
  position: relative;
  height: calc(100dvh - var(--header-height, var(--calback-header-height)) - var(--info-map-height, 14px));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: var(--secondary-color-100);
}
.map__cart {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 8;
}
.map__details {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1000;
  background-color: var(--white-color);
  padding: 4px 12px 8px;
  border-radius: var(--radius-xl);
}
@media (min-width: 1024px) {
  .map__details {
    right: 16px;
    top: 16px;
  }
}
@media (max-width: 1023px) {
  .map__details {
    left: 8px;
    bottom: 8px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1439px) {
  .map .good-item {
    min-height: 104px;
  }
  .map .good-item__swiper-box {
    aspect-ratio: 1/1;
  }
  .map .good-item .swiper--good-img .swiper-slide:not(:first-child) {
    display: none;
  }
  .map .good-item__tags {
    gap: 6px;
  }
  .map .good-item__tags .tag {
    background-color: transparent;
    padding: 0;
    min-height: 0;
  }
  .map .good-item__tags .tag p {
    font-size: var(--font-size-3xs);
  }
}
@media (max-width: 767px) {
  .map .good-item {
    display: grid;
  }
  .map .good-item__title {
    font-size: var(--font-size-base);
  }
  .map .good-item__title * {
    font-size: var(--font-size-3xs);
  }
  .map .good-item__content {
    padding: 8px 12px;
  }
  .map__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: transparent;
  }
  .map.sibebar-open .sibebar {
    max-width: 100%;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding: 8px;
    height: 100%;
  }
  .map .sibebar {
    max-width: 100%;
    -webkit-box-shadow: 0px -8px 8px 0px rgba(166, 175, 195, 0.2509803922);
            box-shadow: 0px -8px 8px 0px rgba(166, 175, 195, 0.2509803922);
    border-radius: var(--radius-md);
    max-height: 0;
    overflow: hidden;
  }
}

.map-sibebar__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.map-sibebar__top .close {
  color: var(--dark-color-100);
}
.map-sibebar__pagination {
  margin-top: auto;
}
.map-sibebar .swiper--goods {
  overflow: visible;
}
@media (min-width: 768px) {
  .map-sibebar .swiper--goods > .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
  }
  .map-sibebar .swiper--goods-small > .swiper-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }
}
.map-sibebar__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
@media (max-width: 1279px) {
  .map-sibebar .companie-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    padding: 12px;
    border-radius: var(--radius-md);
  }
  .map-sibebar .companie-card__content, .map-sibebar .companie-card__img-box {
    padding: 0;
  }
  .map-sibebar .companie-card__img-box {
    display: none;
  }
  .map-sibebar .companie-card__header-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .map-sibebar .companie-card__btns {
    display: grid;
    width: 100%;
  }
  .map-sibebar .companie-card__btns--two {
    grid-template-columns: repeat(2, 1fr);
  }
}

.filter {
  --gap-items: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  position: sticky;
  top: calc(var(--header-height, var(--calback-header-height)));
  background-color: var(--gray-color-100);
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-wrap: nowrap;
  z-index: 100;
}
.filter.filter--sticky {
  padding: 8px 0;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.6980392157);
}
.filter--bg {
  padding: 8px 0;
  background-color: var(--gray-color-100);
}
.filter--big .filter__item {
  width: 100%;
}
.filter--big .filter__items {
  grid-template-columns: clamp(250px, -1750px + 125vw, 650px) 91px auto 160px 160px 110px auto auto auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 1550px) {
  .filter--big .filter__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter--big .filter__items .filter__item:has(.button), .filter--big .filter__items .filter__item:has(.checkbox-box) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .filter--big .filter__items .filter__item:has(.select-box--search) {
    width: clamp(170px, -26.7307692308px + 19.2307692308vw, 250px);
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .filter--big .filter__items .filter__item .button--cub {
    width: clamp(40px, 16.03125px + 3.125vw, 48px);
  }
}
@media (max-width: 1023px) {
  .filter--big .filter__items {
    --font-size-xs: 14px;
  }
}
@media (max-width: 767px) {
  .filter--big .filter__items {
    display: grid;
    grid-template-columns: 40px calc(100% - 80px - 16px) 40px;
  }
  .filter--big .filter__items .filter__item:not(:has(.button)) {
    width: 100%;
  }
}
.filter--big .ts-control {
  max-width: 100%;
}
.filter__items, .filter__box {
  gap: var(--gap-items);
}
.filter__items {
  display: grid;
  grid-template-columns: 260px 91px auto 160px 160px auto auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 8px;
}
.filter__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.filter__details {
  --gap-details: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-details);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.filter__details > *:not(:last-child) {
  position: relative;
  padding-right: var(--gap-details);
}
.filter__details > *:not(:last-child):before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 90%;
  background-color: var(--dark-color-700);
}
.filter__details-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-details);
}
@media (max-width: 1439px) {
  .filter__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter__item:not(:has(.button)) {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .filter__items {
    display: grid;
    grid-template-columns: 40px calc(100% - 80px - 16px) 40px;
  }
}

body.scrollBottom .filter {
  position: sticky;
  top: 0;
}

.companies-filter {
  --gap-items: 8px;
  --count-items: 4;
  --item-width: calc(
    (100% / var(--count-items, 4) + 24px) - var(--gap-items, 8)
  );
  display: grid;
  grid-template-columns: var(--item-width) var(--item-width) var(--item-width);
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: var(--gap-items);
}
.companies-filter--bg {
  padding: 8px 0;
}
.companies-filter--six {
  --count-items: 6;
}
.companies-filter--property {
  --gap-items: 8px;
  --item-width: calc((100% / 5) + 12px);
  grid-template-columns: repeat(4, 20%) auto;
}
@media (max-width: 1023px) {
  .companies-filter--map {
    --count-items: 4;
  }
}
@media (max-width: 767px) {
  .companies-filter--map {
    grid-template-columns: 40px calc(100% - 80px - var(--gap-items)) 40px;
  }
}
@media (max-width: 767px) {
  .companies-filter--sort {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: unset;
  }
  .companies-filter--sort > *:nth-child(1) {
    grid-column: span 6;
  }
  .companies-filter--sort > *:nth-child(2) {
    grid-column: span 4;
  }
  .companies-filter--sort > *:nth-child(3) {
    grid-column: span 7;
  }
  .companies-filter--sort > *:nth-child(4) {
    grid-column: span 3;
  }
}

.name-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.name-rating__box {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-md);
  padding: clamp(2px, -2.9182692308px + 0.4807692308vw, 4px) clamp(8px, -1.8365384615px + 0.9615384615vw, 12px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(4px, -5.8365384615px + 0.9615384615vw, 8px);
  min-height: clamp(32px, 17.2451923077px + 1.4423076923vw, 38px);
}
.name-rating__box * {
  line-height: var(--line-height-tighter);
}
.name-rating--small .name-rating__box {
  min-height: clamp(20px, 9.9651567944px + 2.0905923345vw, 26px);
  padding: clamp(0px, -3.3449477352px + 0.6968641115vw, 2px) 6px;
  gap: 4px;
}
.name-rating--big .name-rating__box {
  min-height: clamp(26px, -10.7944250871px + 7.6655052265vw, 48px);
  padding: clamp(2px, -4.6898954704px + 1.393728223vw, 6px) 8px;
  gap: 4px;
}