.ui__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  background-color: #eeeeee;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-inline: 10px;
  border-radius: var(--radius-xl);
}
.ui__box--big {
  padding-bottom: 200px;
}
.ui__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
}

.accordeon__item {
  overflow: hidden;
}
.accordeon__item.active .accordeon__answer {
  padding: 10px 0 0 0 !important;
}
.accordeon__item.active .ui__box {
  padding-block: 10px;
}
.accordeon__item.active .ui__box--big {
  padding-bottom: 200px;
}