@import "base/_helpers.scss";

@import "blocks/_companies-detail.scss";
@import "blocks/_name-rating.scss";
@import "blocks/_comments.scss";
@import "blocks/_property.scss";
@import "blocks/_service-item.scss";
@import "blocks/_companies-filter.scss";
@import "blocks/_masonry-simple.scss";
@import "blocks/_slogan.scss";