@import "base/_helpers.scss";

@import "blocks/_companies-detail.scss";
@import "blocks/_name-rating.scss";
@import "blocks/_comments.scss";
@import "blocks/_property.scss";
@import "blocks/_companies-filter.scss";