@import "base/_helpers.scss";
@import "base/_vars.scss";
@import "base/_reset.scss";
@import "base/_fonts.scss";
@import "base/_text.scss";
@import "base/_global.scss";
@import "base/_utilis.scss";

@import "blocks/_header.scss";
@import "blocks/_menu.scss";
@import "blocks/_buttons.scss";
@import "blocks/_links.scss";
@import "blocks/_breadcrumbs.scss";
@import "blocks/_logo.scss";
@import "blocks/_menu-popup.scss";
@import "blocks/_input-box.scss";
@import "blocks/_dropdown.scss";
@import "blocks/_check.scss";
@import "blocks/_good-item.scss";
@import "blocks/_badge.scss";
@import "blocks/_tag.scss";
@import "blocks/_swiper-pagination.scss";
@import "blocks/_arrows-swiper.scss";
@import "blocks/_banner-promo.scss";
@import "blocks/_card-text.scss";
@import "blocks/_text-banner.scss";
@import "blocks/_pagination.scss";
@import "blocks/_quick.scss";
@import "blocks/_accordeon.scss";
@import "blocks/_banner-news.scss";
@import "blocks/_social.scss";
@import "blocks/_more-details.scss";
@import "blocks/_banners.scss";
@import "blocks/_lists.scss";
@import "blocks/_quote.scss";
@import "blocks/_table-main.scss";
@import "blocks/_modalBlock.scss";
@import "blocks/_attention.scss";
@import "blocks/_share.scss";
@import "blocks/_reques-form.scss";
@import "blocks/_rating.scss";
@import "blocks/_newsletter.scss";
@import "blocks/_cards.scss";
@import "blocks/_swiper-box.scss";
@import "blocks/_comments-form.scss";
@import "blocks/_footer.scss";