@import "base/_helpers.scss";
@import "base/_vars.scss";
@import "base/_reset.scss";
@import "base/_fonts.scss";
@import "base/_text.scss";
@import "base/_global.scss";
@import "base/_utilis.scss";

@import "blocks/_header.scss";
@import "blocks/_menu.scss";
@import "blocks/_buttons.scss";
@import "blocks/_links.scss";
@import "blocks/_list-popup.scss";
@import "blocks/_breadcrumbs.scss";
@import "blocks/_logo.scss";
@import "blocks/_menu-popup.scss";
@import "blocks/_input-box.scss";
@import "blocks/_dropdown.scss";
@import "blocks/_check.scss";
@import "blocks/_good-item.scss";
@import "blocks/_badge.scss";
@import "blocks/_tag.scss";
@import "blocks/_swiper-pagination.scss";
@import "blocks/_arrows-swiper.scss";
@import "blocks/_list-icon.scss";
@import "blocks/_banner-promo.scss";
@import "blocks/_card-text.scss";
@import "blocks/_text-banner.scss";
@import "blocks/_footer.scss";