<div
  class="good-item good-item--noShadow @@if (typeof goodItemClassAdd !== 'undefined') {@@goodItemClassAdd}"
>
  <div class="good-item__swiper-box">
    <div class="good-item__img-box">
      <div class="good-item__decor">
        <!-- prettier-ignore -->

        @@if (typeof badges !== 'undefined') {
            @@include('../good-item/badges.html',
            {"complete": true, "check" : true})
        }
      </div>

      <a
        href="#"
        aria-label="Перейти на страницу объекта"
        title="Тут какой-то title"
        class="swiper swiper--good-img"
      >
        <div class="swiper-wrapper">
          <!-- prettier-ignore -->

          @@loop('../good-item/slides-imgs.html', @@imgs)
        </div>

        <div class="good-item__decors-img">
          @@include('../swiper/arrows-absolute.html')
          @@include('../swiper/swiper-pagination-absolute.html')
        </div>
      </a>
    </div>
  </div>

  <div class="good-item__content">
    <div class="good-item__content-details">
      <header class="good-item__header">
        <div class="good-item__top-box">
          @@if (typeof price !== "undefined") {
          <div class="good-item__top">
            @@if (typeof price !== 'undefined') {
            <p class="h5 semibold-font good-item__title">
              @@price

              <span class="text-uppercase p1">AED</span>
            </p>
            }
          </div>
          }

          <a
            title="Название компании"
            aria-label="Перейти на странцу компании"
            class="good-item__logo"
            href="#"
          >
            <picture>
              <source
                srcset="/img/seller/seller.png 1x, /img/seller/seller.png 2x"
              />
              <img
                src="/img/seller/seller.png"
                alt="фотография"
                loading="lazy"
              />
            </picture>
          </a>
        </div>

        <div class="good-item__block">
          <div class="good-item__block-top">
            @@if (typeof name !== 'undefined') {
            <a
              title="@@name"
              href="#"
              aria-label="Перейти на страницу объекта"
              class="@@nameClass"
            >
              @@name
            </a>
            } @@if (typeof typeItem !== 'undefined') {
            <p class="@@typeItemClass">@@typeItem</p>
            }
          </div>

          @@if (typeof nameAdd !== 'undefined') {
          <a
            title="@@nameAdd"
            href="#"
            aria-label="Перейти на страницу объекта"
            class="@@nameAddClass"
          >
            @@nameAdd
          </a>
          }
        </div>
      </header>

      <div class="good-item__info">
        <div class="good-item__tags">
           <!-- prettier-ignore -->

          @@if (typeof tagBed !== 'undefined') {
          @@loop('../components/tag.html', [{ "text": "2 Bedrooms", "icon":
          "bed", "classAddTag" : "@@tag-class", "classAddIcon" :
          "@@tag-class-icon", "classAddTagText" : "@@tag-class-text" }]) } 
          
          @@if (typeof tagBath !== 'undefined') { @@loop('../components/tag.html', [{
          "text": "2 Bathrooms", "icon": "bath", "classAddTag" : "@@tag-class",
          "classAddIcon" : "icon--big", "classAddTagText" : "@@tag-class-text"
          }]) } 
          
          @@if (typeof tagFloor !== 'undefined') {
          @@loop('../components/tag.html', [{ "text": "1 floor", "icon":
          "floor-plan", "classAddTag" : "@@tag-class", "classAddIcon" :
          "icon--big", "classAddTagText" : "@@tag-class-text" }]) } 
          
          @@if (typeof tagBarrier !== 'undefined') { @@loop('../components/tag.html', [{
          "text": "Q3 2026", "icon": "barrier", "classAddTag" : "@@tag-class",
          "classAddIcon" : "icon--big", "classAddTagText" : "@@tag-class-text"
          }]) } 
          
          @@if (typeof tagRuler !== 'undefined') {
          @@loop('../components/tag.html', [{ "text": "65 sq.m.", "icon":
          "ruler", "classAddTag" : "@@tag-class", "classAddIcon" : "icon--big",
          "classAddTagText" : "@@tag-class-text" }]) }
          
          @@if (typeof tagsWords
          !== 'undefined') { @@loop('../components/tag-words.html', @@tagsWords)
          }
        </div>

        <ul class="list-icon">
          <!-- prettier-ignore -->
          @@if (typeof geo-link !== 'undefined') {
                  @@loop("../components/list-icon-link.html", [{"icon": "map-pin", "text" : "Mohammed Bin Rashid City, Dubai", "iconClassAdd" : "icon--big" }])
              }
        </ul>

        @@if (typeof train !== "undefined") {
        <ul class="list-icon list-icon--media-bg">
          <li class="list-icon__link list-icon__link--start">
            <div class="icon icon--big">
              <span class="kit-icon train"></span>
            </div>

            <div class="text-dots text-dots--media-no-dots">
              <p class="p3">
                <span>Mall of the Emirates</span>

                <span class="medium-font">700 m</span>
              </p>

              <p class="p3">
                <span>Dubai Internet City</span>

                <span class="medium-font">1 200 m</span>
              </p>

              <p class="p3">
                <span>Al Khail (formerly Nakheel)</span>

                <span class="medium-font">9 000 m</span>
              </p>
            </div>
          </li>
        </ul>
        }
      </div>
    </div>

    <footer class="good-item__footer">
      <div class="good-item__btns">
        <!-- prettier-ignore -->
        @@include('../btns/contact-btn.html', {"text" :
        "Contact Seller", "classAddText" : "p3 medium-font"})
        
        @@if (typeof favoriteBtn !== 'undefined' && favoriteBtn === true) {
            @@include('../btns/favorite-btn.html', {"classAdd" : "button--bg-gray-200  @@classAddBtns ", "classAddIcon" : "@@classAddBtnsIcon"})
        }
        
        @@if (typeof comparisonBtn !== 'undefined' && comparisonBtn === true) {
            @@include('../btns/comparison-btn.html', {"classAdd" : "button--bg-gray-200 @@classAddBtns", "classAddIcon" : "@@classAddBtnsIcon"})
        }
      </div>

      <a
        href="/"
        title="Название компании"
        aria-label="Перейти на странцу компании"
        class="good-item__logo"
      >
        <img src="/img/seller/seller.png" alt="логотип селера" />
      </a>
    </footer>
  </div>
</div>
