<div class="chart-box">
  <div class="chart-box__block">
    <canvas id="chart-market"></canvas>
  </div>

  <div class="chart-box__content">
    <div class="badge badge--gray-color-200 badge--middle" style="gap: 8px">
      <div class="dot dot--secondary-color-100"></div>

      <p
        class="p3 regular-font"
        style="line-height: var(--line-height-tighter)"
      >
        Dubai median price
      </p>
    </div>

    <div class="badge badge--gray-color-200 badge--middle" style="gap: 8px">
      <div class="dot dot--primary-color-100"></div>

      <p
        class="p3 regular-font"
        style="line-height: var(--line-height-tighter)"
      >
        Abu Dhabi median price
      </p>
    </div>
  </div>
</div>
