<div class="table-swiper swiper-box tablet-show">
  <div class="table-swiper__header">
    <div class="swiper-box__decor-full">
      <button
        class="button button--noMassa arrow-swiper prev"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <span class="icon icon--little">
          <span class="kit-icon chevron-left"></span>
        </span>
      </button>

      <div class="swiper-pagination"></div>

      <button
        class="button button--noMassa arrow-swiper next"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <span class="icon icon--little">
          <span class="kit-icon chevron-right"></span>
        </span>
      </button>
    </div>
  </div>

  <div
    class="table-grid table-grid--two table-grid--noGap table-grid--border-item"
  >
    <div class="table-grid__header">
      <div class="table-grid__row">
        <div class="table-grid__cell table-grid__cell--gray-color-200">
          <p class="p2 semibold-font">Parameters</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 semibold-font">Min. sale price</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 semibold-font">Avg. sale price</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 semibold-font">Min. rental price</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 semibold-font">Avg. rental price</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-grid__items">
      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3 medium-font">Studio</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">917,646 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">915,646 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">912,646 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">0,646 AED</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3 medium-font">1 bed</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">1 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">2 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">3 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">4 AED</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3 medium-font">2 bed</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">10 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">20 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">30 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">40 AED</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3 medium-font">Villa</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">0 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">240 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">33210 AED</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3">32140 AED</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
