<div
  class="table-swiper swiper-box table-swiper--tablet"
  data-init="767"
  style="--items-table: 5"
>
  <div class="table-swiper__header">
    <div class="swiper-box__decor-full">
      <button
        class="button button--noMassa arrow-swiper prev"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <div class="icon icon--little">
          <span class="kit-icon chevron-left"></span>
        </div>
      </button>

      <div class="swiper-pagination"></div>

      <button
        class="button button--noMassa arrow-swiper next"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <div class="icon icon--little">
          <span class="kit-icon chevron-right"></span>
        </div>
      </button>
    </div>
  </div>

  <div class="table-grid table-grid--two">
    <div class="table-grid__header">
      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3 semibold-font">Key Indicators</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 semibold-font">Dubai</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 semibold-font">Dubai 2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-grid__items">
      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median price per m² (sqm)</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Average Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 620,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median price per m² (sqm)</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Average Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 620,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median price per m² (sqm)</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Average Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 620,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median price per m² (sqm)</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Average Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 620,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median price per m² (sqm)</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Median Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 520,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5320,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p3">Average Price</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 620,000</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 220,000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
