<div class="table-swiper swiper-box tablet-show">
  <div class="table-swiper__header">
    <div class="swiper-box__decor-full">
      <button
        class="button button--noMassa arrow-swiper prev"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <div class="icon icon--little">
          <span class="kit-icon chevron-left"></span>
        </div>
      </button>

      <div class="swiper-pagination"></div>

      <button
        class="button button--noMassa arrow-swiper next"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <div class="icon icon--little">
          <span class="kit-icon chevron-right"></span>
        </div>
      </button>
    </div>
  </div>

  <div
    class="table-grid table-grid--two table-grid--noBg table-grid--noRadius table-grid--border table-grid--noGap"
  >
    <div class="table-grid__header table-grid__header--noBg">
      <div class="table-grid__row">
        <div class="table-grid__cell table-grid__cell--gray-color-200">
          <p class="p2 semibold-font">Parameters</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 semibold-font">Kazan</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 semibold-font">Piter</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-grid__decor">
      <div class="table-grid__cell">
        <p class="p3">Monthly Rent Cost</p>
      </div>
    </div>

    <div class="table-grid__items">
      <div class="table-grid__row">
        <div class="table-grid__cell table-grid__cell--gray-color-200">
          <p class="p3">1-Room Apartment</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 582</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 5482</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell table-grid__cell--gray-color-200">
          <p class="p3">2-Room Apartment</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 1582</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p3 medium-font">$ 57482</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-grid__decor">
      <div class="table-grid__cell">
        <p class="p3">In the City Center</p>
      </div>
    </div>

    <div class="table-grid__items">
        <div class="table-grid__row">
          <div class="table-grid__cell table-grid__cell--gray-color-200">
            <p class="p3">1-Room Apartment</p>
          </div>
  
          <div class="table-swiper__swiper-box">
            <div class="swiper swiper--table">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="table-grid__cell">
                    <p class="p3 medium-font">$ 582</p>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="table-grid__cell">
                    <p class="p3 medium-font">$ 5482</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="table-grid__row">
          <div class="table-grid__cell table-grid__cell--gray-color-200">
            <p class="p3">2-Room Apartment</p>
          </div>
  
          <div class="table-swiper__swiper-box">
            <div class="swiper swiper--table">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="table-grid__cell">
                    <p class="p3 medium-font">$ 1582</p>
                  </div>
                </div>
  
                <div class="swiper-slide">
                  <div class="table-grid__cell">
                    <p class="p3 medium-font">$ 57482</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
