<div
  class="table-swiper swiper-box table-swiper--tablet object-table"
  data-init="767"
  style="--items-table: 4"
>
  <div class="table-swiper__header">
    <div class="swiper-box__decor-full">
      <button
        class="button button--noMassa arrow-swiper prev"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <div class="icon icon--little">
          <span class="kit-icon chevron-left"></span>
        </div>
      </button>

      <div class="swiper-pagination"></div>

      <button
        class="button button--noMassa arrow-swiper next"
        type="button"
        aria-label="Посомтреть прошлый слайд"
      >
        <div class="icon icon--little">
          <span class="kit-icon chevron-right"></span>
        </div>
      </button>
    </div>
  </div>

  <div
    class="table-grid table-grid--two table-grid--noBg table-grid--noRadius table-grid--noGap"
  >
    <div class="table-grid__header table-grid__header--noBg">
      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p2 -add semibold-font">Parameters</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 -add semibold-font">Kazan</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 -add semibold-font">Piter</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2 -add semibold-font">Difference</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-grid__decor">
      <div class="table-grid__cell">
        <p class="p1 medium-font">Monthly Rent Cost</p>
      </div>
    </div>

    <div class="table-grid__items">
      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p2-add">1-Room Apartment</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 582</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 5482</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add text-primary-500">+312%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p2-add">2-Room Apartment</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 1582</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 53482</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add text-green-100">+612%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="table-grid__decor">
      <div class="table-grid__cell">
        <p class="p1 medium-font">Apartment Purchase Price per sq.m.</p>
      </div>
    </div>

    <div class="table-grid__items">
      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p2-add">In the City Center</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 582</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 5482</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add text-primary-500">+312%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-grid__row">
        <div class="table-grid__cell">
          <p class="p2-add">Outside the City Center</p>
        </div>

        <div class="table-swiper__swiper-box">
          <div class="swiper swiper--table">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 1582</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add">$ 53482</p>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="table-grid__cell">
                  <p class="p2-add text-green-100">+612%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
