<div class="comments-box" data-block="comment-relative">
  <header class="comments__header">
    <h2 class="h5">C рейтингом</h2>

    <button
      class="button button--bg-secondary-200"
      type="button"
      aria-label="Написать отзыв"
      data-block="comment-btn"
    >
      <div class="icon">
        <span class="kit-icon chat-circle-add"></span>
      </div>

      <p class="p2 medium-font">Add Сomment</p>
    </button>
  </header>

  <div class="comments__content">
    <div class="comments-box__inner">
      <div class="comments-box__forms">
        <form class="comments-form comments-form--rating form" novalidate>
          <div class="comments-form__content">
            <div class="comments-form__item">
              <div class="comments-form__inputs">
                <div class="input-box input-box--gray">
                  <label class="input-box__content">
                    <div class="input-box__info">
                      <textarea
                        placeholder="Write your comment"
                        name="comment"
                      ></textarea>
                    </div>
                  </label>

                  <p class="input-box__errors p4"></p>
                </div>
              </div>
            </div>

            <div
              class="comments-form__item comments-form__item--grid-two-proccent"
            >
              <div class="comments-form__inputs">
                <div class="input-box input-box--gray form__item">
                  <label class="input-box__content">
                    <div class="input-box__info">
                      <input
                        type="text"
                        name="name"
                        placeholder="Name*"
                        required
                      />
                    </div>
                  </label>

                  <p
                    class="input-box__errors form__errors p4"
                    id="name-comment-errors"
                  ></p>
                </div>
              </div>

              <div class="rating">
                <p class="p2">Rate the project</p>

                <ul class="rating-stars">
                  <li class="rating-stars__item">
                    <span class="icon">
                      <svg viewBox="0 0 21 21">
                        <path
                          d="M0.661133 8.14292C0.347883 7.85324 0.518041 7.32954 0.941738 7.27931L6.94531 6.56722C7.118 6.54674 7.26799 6.4383 7.34082 6.2804L9.87305 0.790614C10.0518 0.403178 10.6025 0.403104 10.7813 0.79054L13.3135 6.28029C13.3863 6.43819 13.5353 6.54692 13.708 6.56739L19.7119 7.27931C20.1356 7.32954 20.3053 7.85339 19.992 8.14308L15.5539 12.2481C15.4263 12.3661 15.3694 12.5419 15.4033 12.7124L16.5812 18.6421C16.6643 19.0606 16.219 19.3848 15.8467 19.1764L10.5713 16.2228C10.4196 16.1378 10.2352 16.1382 10.0835 16.2232L4.80761 19.1757C4.4353 19.3841 3.98911 19.0606 4.07227 18.6421L5.25032 12.7128C5.28421 12.5422 5.22751 12.3661 5.09984 12.248L0.661133 8.14292Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </li>

                  <li class="rating-stars__item">
                    <span class="icon">
                      <svg viewBox="0 0 21 21">
                        <path
                          d="M0.661133 8.14292C0.347883 7.85324 0.518041 7.32954 0.941738 7.27931L6.94531 6.56722C7.118 6.54674 7.26799 6.4383 7.34082 6.2804L9.87305 0.790614C10.0518 0.403178 10.6025 0.403104 10.7813 0.79054L13.3135 6.28029C13.3863 6.43819 13.5353 6.54692 13.708 6.56739L19.7119 7.27931C20.1356 7.32954 20.3053 7.85339 19.992 8.14308L15.5539 12.2481C15.4263 12.3661 15.3694 12.5419 15.4033 12.7124L16.5812 18.6421C16.6643 19.0606 16.219 19.3848 15.8467 19.1764L10.5713 16.2228C10.4196 16.1378 10.2352 16.1382 10.0835 16.2232L4.80761 19.1757C4.4353 19.3841 3.98911 19.0606 4.07227 18.6421L5.25032 12.7128C5.28421 12.5422 5.22751 12.3661 5.09984 12.248L0.661133 8.14292Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </li>

                  <li class="rating-stars__item">
                    <span class="icon">
                      <svg viewBox="0 0 21 21">
                        <path
                          d="M0.661133 8.14292C0.347883 7.85324 0.518041 7.32954 0.941738 7.27931L6.94531 6.56722C7.118 6.54674 7.26799 6.4383 7.34082 6.2804L9.87305 0.790614C10.0518 0.403178 10.6025 0.403104 10.7813 0.79054L13.3135 6.28029C13.3863 6.43819 13.5353 6.54692 13.708 6.56739L19.7119 7.27931C20.1356 7.32954 20.3053 7.85339 19.992 8.14308L15.5539 12.2481C15.4263 12.3661 15.3694 12.5419 15.4033 12.7124L16.5812 18.6421C16.6643 19.0606 16.219 19.3848 15.8467 19.1764L10.5713 16.2228C10.4196 16.1378 10.2352 16.1382 10.0835 16.2232L4.80761 19.1757C4.4353 19.3841 3.98911 19.0606 4.07227 18.6421L5.25032 12.7128C5.28421 12.5422 5.22751 12.3661 5.09984 12.248L0.661133 8.14292Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </li>

                  <li class="rating-stars__item">
                    <span class="icon">
                      <svg viewBox="0 0 21 21">
                        <path
                          d="M0.661133 8.14292C0.347883 7.85324 0.518041 7.32954 0.941738 7.27931L6.94531 6.56722C7.118 6.54674 7.26799 6.4383 7.34082 6.2804L9.87305 0.790614C10.0518 0.403178 10.6025 0.403104 10.7813 0.79054L13.3135 6.28029C13.3863 6.43819 13.5353 6.54692 13.708 6.56739L19.7119 7.27931C20.1356 7.32954 20.3053 7.85339 19.992 8.14308L15.5539 12.2481C15.4263 12.3661 15.3694 12.5419 15.4033 12.7124L16.5812 18.6421C16.6643 19.0606 16.219 19.3848 15.8467 19.1764L10.5713 16.2228C10.4196 16.1378 10.2352 16.1382 10.0835 16.2232L4.80761 19.1757C4.4353 19.3841 3.98911 19.0606 4.07227 18.6421L5.25032 12.7128C5.28421 12.5422 5.22751 12.3661 5.09984 12.248L0.661133 8.14292Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </li>

                  <li class="rating-stars__item">
                    <span class="icon">
                      <svg viewBox="0 0 21 21">
                        <path
                          d="M0.661133 8.14292C0.347883 7.85324 0.518041 7.32954 0.941738 7.27931L6.94531 6.56722C7.118 6.54674 7.26799 6.4383 7.34082 6.2804L9.87305 0.790614C10.0518 0.403178 10.6025 0.403104 10.7813 0.79054L13.3135 6.28029C13.3863 6.43819 13.5353 6.54692 13.708 6.56739L19.7119 7.27931C20.1356 7.32954 20.3053 7.85339 19.992 8.14308L15.5539 12.2481C15.4263 12.3661 15.3694 12.5419 15.4033 12.7124L16.5812 18.6421C16.6643 19.0606 16.219 19.3848 15.8467 19.1764L10.5713 16.2228C10.4196 16.1378 10.2352 16.1382 10.0835 16.2232L4.80761 19.1757C4.4353 19.3841 3.98911 19.0606 4.07227 18.6421L5.25032 12.7128C5.28421 12.5422 5.22751 12.3661 5.09984 12.248L0.661133 8.14292Z"
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <footer class="comments-form__footer">
            <label class="check-simple form__item">
              <div class="check-simple__content">
                <div class="check-simple__custom">
                  <input type="checkbox" name="policy" required />

                  <span></span>
                </div>

                <div class="check-simple__info">
                  <p class="p3">
                    You agree to the
                    <a
                      title="privacy policy"
                      href="#"
                      aria-label="Перейти на privacy policy"
                      class="link-secondary"
                      >privacy policy</a
                    >
                    and
                    <a
                      href="#"
                      title="personal data"
                      aria-label="Перейти на consent to the processing of personal data"
                      class="link-secondary"
                      >consent to the processing of personal data</a
                    >
                  </p>
                </div>
              </div>

              <div
                class="check-simple__errors p4 form__errors"
                id="check-errors"
              ></div>
            </label>

            <div class="comments-form__btns">
              <button
                class="button button--bg-gray-300 button--lg"
                type="reset"
                data-block="comment-cancel"
              >
                <p class="p2 medium-font">Cancel</p>
              </button>

              <button
                class="button button--bg-primary-100 button--lg disabled"
                type="submit"
                data-block="comment-post"
              >
                <p class="p2 medium-font">Post Comment</p>
              </button>
            </div>
          </footer>
        </form>
      </div>

      <div class="comments-box__details" data-block="comment-status"></div>

      <div class="comments-box__items">
        <div class="comments-item">
          <header class="comments-item__header">
            <div class="comments-item__tags">
              <div class="comments-item__author comments-item__tag">
                <p class="p2 semibold-font">David Lee</p>

                <time
                  class="p3 text-dark-500 regular-font"
                  datetime="2025-07-07"
                  >07.07.2025</time
                >
              </div>

              <div class="badge badge--xl badge--gray-color-300 badge--rating">
                <p class="p3">4</p>

                <div
                  class="icon icon--little"
                  style="transform: translateY(-1px)"
                >
                  <span class="kit-icon star"></span>
                </div>
              </div>
            </div>
          </header>

          <div class="comments-item__content">
            <div class="textbox">
              <p class="p3">
                The breakdown of costs and the comparison between buying and
                renting are very insightful. As someone considering property
                investment in Dubai, this guide provides a clear picture of what
                to expect financially.
              </p>
            </div>
          </div>
        </div>

        <div class="comments-item">
          <header class="comments-item__header">
            <div class="comments-item__tags">
              <div class="comments-item__author comments-item__tag">
                <p class="p2 semibold-font">David Lee</p>

                <time
                  class="p3 text-dark-500 regular-font"
                  datetime="2025-07-07"
                  >07.07.2025</time
                >
              </div>

              <div class="badge badge--xl badge--gray-color-300 badge--rating">
                <p class="p3">4</p>

                <div
                  class="icon icon--little"
                  style="transform: translateY(-1px)"
                >
                  <span class="kit-icon star"></span>
                </div>
              </div>
            </div>
          </header>

          <div class="comments-item__content">
            <div class="textbox">
              <p class="p3">
                The breakdown of costs and the comparison between buying and
                renting are very insightful. As someone considering property
                investment in Dubai, this guide provides a clear picture of what
                to expect financially.
              </p>
            </div>
          </div>
        </div>

        <div class="comments-item">
          <header class="comments-item__header">
            <div class="comments-item__tags">
              <div class="comments-item__author comments-item__tag">
                <p class="p2 semibold-font">David Lee</p>

                <time
                  class="p3 text-dark-500 regular-font"
                  datetime="2025-07-07"
                  >07.07.2025</time
                >
              </div>

              <div class="badge badge--xl badge--gray-color-300 badge--rating">
                <p class="p3">4</p>

                <div
                  class="icon icon--little"
                  style="transform: translateY(-1px)"
                >
                  <span class="kit-icon star"></span>
                </div>
              </div>
            </div>
          </header>

          <div class="comments-item__content">
            <div class="textbox">
              <p class="p3">
                The breakdown of costs and the comparison between buying and
                renting are very insightful. As someone considering property
                investment in Dubai, this guide provides a clear picture of what
                to expect financially.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    @@include('../modules/pagination.html', {"details": "false"})
  </div>
</div>
