<div class="tag @@if (typeof classAddTag !== 'undefined') {@@classAddTag}">
  <div class="icon @@if (typeof classAddIcon !== 'undefined') {@@classAddIcon}">
    <span class="kit-icon @@icon"></span>
  </div>

  @@if (typeof classAddTagText !== 'undefined') {
  <p class="@@classAddTagText">@@text</p>
  } @@if (typeof classAddTagText === 'undefined') {
  <p class="p3">@@text</p>
  } @@if (typeof tagText !== 'undefined') {
  <div class="tag__block">
    <p class="p2 @@classAddTagText">@@text</p>

    <p class="p2 medium-font">from 535,300 AED</p>
  </div>
  }
</div>
