<div class="checkbox-box">
  <label class="check" data-tooltip="Посмотреть элементы списком">
    <div class="check__info">
      <input
        type="radio"
        checked
        name="grid"
        data-check="list"
        data-block="grid-check"
      />

      <div class="check__info-content">
        <div class="icon">
          <span class="kit-icon rows"></span>
        </div>

        <span class="p2">List</span>
      </div>
    </div>
  </label>

  <label class="check" data-tooltip="Посмотреть элементы колонками">
    <div class="check__info">
      <input
        type="radio"
        name="grid"
        data-check="tiles"
        data-block="grid-check"
      />

      <div class="check__info-content">
        <div class="icon">
          <span class="kit-icon table"></span>
        </div>

        <span class="p2">Tiles</span>
      </div>
    </div>
  </label>

  <label class="check">
    <a
      href="/map.html"
      aria-label="Перейти на страницу карты"
      title="Перейти на страницу карты"
      class="check__info"
    >
      <div class="check__info-content">
        <div class="icon">
          <span class="kit-icon map"></span>
        </div>

        <span class="p2">Map</span>
      </div>
    </a>
  </label>
</div>
