<div class="checkbox-box @@if (typeof classAdd !== 'undefined') {@@classAdd}">
  <label class="check tab-btn" data-btn-tab="2d-floor">
    <div class="check__info">
      <input type="radio" checked name="floor" />

      <div class="p2 check__info-content">
        <div class="icon">
          <span class="kit-icon d2"></span>
        </div>

        2D
      </div>
    </div>
  </label>

  <label class="check tab-btn" data-btn-tab="3d-floor">
    <div class="check__info">
      <input type="radio" name="floor" />

      <div class="p2 check__info-content">
        <div class="icon">
          <span class="kit-icon d3"></span>
        </div>

        3D
      </div>
    </div>
  </label>
</div>
