<div class="checkbox-box @@if (typeof classAdd !== 'undefined') {@@classAdd}">
  <label class="check tab-btn" data-btn-tab="2d-floor">
    <div class="check__info">
      <input type="radio" checked name="floor" />

      <div class="p2 check__info-content">
        <span class="icon">
          <svg>
            <use xlink:href="#2d-icon"></use>
          </svg>
        </span>

        2D
      </div>
    </div>
  </label>

  <label class="check tab-btn" data-btn-tab="3d-floor">
    <div class="check__info">
      <input type="radio" name="floor" />

      <div class="p2 check__info-content">
        <span class="icon">
          <svg>
            <use xlink:href="#3d-icon"></use>
          </svg>
        </span>

        3D
      </div>
    </div>
  </label>
</div>
