<div class="checkbox-box">
  <label class="check">
    <div class="check__info">
      <input type="radio" checked name="category" />

      <div class="check__info-content">
        <span class="p2">All</span>
      </div>
    </div>
  </label>

  <label class="check">
    <div class="check__info">
      <input type="radio" name="category" />

      <div class="check__info-content">
        <span class="p2">Ready</span>
      </div>
    </div>
  </label>

  <label class="check">
    <div class="check__info">
      <input type="radio" name="category" />

      <div class="check__info-content">
        <span class="p2">Off-Plan</span>
      </div>
    </div>
  </label>
</div>
