<div class="checkbox-box">
  <label class="check">
    <div class="check__info">
      <input
        type="radio"
        checked
        name="grid"
        data-check="list"
        data-block="grid-check"
      />

      <div class="check__info-content">
        <span class="icon">
          <svg>
            <use xlink:href="#rows-icon"></use>
          </svg>
        </span>

        <span class="p2">List</span>
      </div>
    </div>
  </label>

  <label class="check">
    <div class="check__info">
      <input
        type="radio"
        name="grid"
        data-check="tiles"
        data-block="grid-check"
      />

      <div class="check__info-content">
        <span class="icon">
          <svg>
            <use xlink:href="#table-icon"></use>
          </svg>
        </span>

        <span class="p2">Tiles</span>
      </div>
    </div>
  </label>

  <label class="check">
    <a
      href="/map.html"
      aria-label="Перейти на страницу карты"
      title="Map"
      class="check__info"
    >
      <div class="check__info-content">
        <span class="icon">
          <svg>
            <use xlink:href="#map-icon"></use>
          </svg>
        </span>

        <span class="p2">Map</span>
      </div>
    </a>
  </label>
</div>
