.accordeon {
  --padding-inline: #{calculate-clamp(12px, 16px, 1023px, 767px)};

  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    &.active {
      .accordeon {
        &__item-arrow {
          rotate: -180deg;
        }
      }
    }
  }

  &:not(.accordeon--noMassa) {
    .accordeon {
      &__item {
        overflow: hidden;

        &:hover {
          .accordeon {
            &__question {
              background-color: var(--gray-color-300);
            }
          }
        }

        &.active {
          .accordeon {
            &__question {
              background-color: var(--secondary-color-300);
              color: var(--white-color);

              .icon {
                color: var(--white-color);
              }
            }

            &__item-arrow {
              // background-color: var(--dark-color-200);
            }

            &__answer {
              padding-inline: var(--padding-inline);
              padding-top: 8px;
            }
          }
        }
      }

      &__question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        background-color: var(--gray-color-200);
        width: 100%;
        border-radius: var(--radius-md);
        padding: calculate-clamp(8px, 12px, 1023px, 767px) var(--padding-inline);
        transition: all 0.5s;
        text-align: left;
        color: var(--dark-color-200);

        .icon {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          overflow: hidden;
          transition: all 0.5s;

          img,
          svg {
            width: 10px;
            height: 10px;
          }
        }
      }

      &__answer {
        transition: all 0.3s;
      }
    }

    &.accordeon--active-bg-gray-200 {
      .accordeon {
        &__item {
          &.active {
            .accordeon {
              &__question {
                background-color: var(--gray-color-200);
                color: var(--dark-color-200);
              }

              &__item-arrow {
                background-color: var(--dark-color-200);
              }
            }
          }
        }
      }
    }
  }

  &__answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
   
  }

  &__item-arrow {
    color: var(--dark-color-600);
    transition: all 0.3s;
  }

  &--lg {
    .accordeon {
      &__answer {
        max-height: max-content;
      }

      @media (max-width: $lg-breakpoint) {
        &__answer {
          max-height: 0;
        }

        &__question {
          cursor: pointer;
        }
      }
    }
  }

  &--tablet {
    .accordeon {
      &__answer {
        max-height: max-content;
      }

      @media (max-width: $tablet-breakpoint) {
        &__answer {
          max-height: 0;
        }

        &__question {
          cursor: pointer;
        }
      }
    }
  }

  &--lh-small {
    @media (max-width: $lg-breakpoint) {
      .accordeon {
        &__answer {
          p {
            line-height: 1.57;
          }
        }
      }
    }
  }
}
