.accordeon {
  --padding-inline: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    overflow: hidden;

    &:hover {
      .accordeon {
        &__question {
          background-color: var(--gray-color-300);
        }
      }
    }

    &.active {
      .accordeon {
        &__question {
          background-color: var(--secondary-color-300);
          color: var(--white-color);

          .icon {
            rotate: -180deg;
            color: var(--white-color);
          }
        }

        &__item-arrow {
          background-color: var(--dark-color-200);
        } 

        &__answer {
          padding-inline: var(--padding-inline);
        }
      }
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--gray-color-200);
    width: 100%;
    border-radius: var(--radius-md);
    padding: 12px var(--padding-inline);
    transition: all 0.5s;
    text-align: left;
    color: var(--dark-color-200);

    .icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      overflow: hidden;
      transition: all 0.5s;

      img,
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__answer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  
}
