.allPages {
  &__inner {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    gap: 30px;
  }

  &__develop {
    font-size: calculate-clamp(16px, 40px);
    line-height: line-height(16px, 16px);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  &__decor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color-100);
    color: var(--white-color);
    border-radius: var(--radius-md);
    padding: 2px 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: flex-start;
  }

  &__link {
    counter-increment: list;
    font-size: calculate-clamp(16px, 30px);
    font-weight: var(--weight-font-xl);
    line-height: line-height(16px, 16px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    width: 100%;
    height: 100%;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: calculate-clamp(16px, 20px);
    font-weight: var(--weight-font-xl);
    text-transform: uppercase;
  }

  &__review {
    font-size: calculate-clamp(16px, 30px);
    font-weight: var(--weight-font-main);

    a {
      font-weight: var(--weight-font-xl);
    }
  }
}
