.arrows-swiper {
  display: flex;
  align-items: center;
  gap: 10px;

  &--absolute {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;

    &-full {
      left: 0;
      right: 0;
    }

    .arrow-swiper {
      position: absolute;

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }
  }

  &--full {
    position: absolute;
    top: 8px;
    bottom: 8px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;

    .arrow-swiper {
      position: absolute;

      &.prev {
        top: 0;
      }

      &.next {
        bottom: 0;
      }
    }
  }

  &--bg {
    display: flex;
    align-items: center;
    gap: 12px;

    .arrow-swiper {
      min-height: 40px;
      border-radius: var(--radius-2xl);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #00000080;
      color: var(--white-color);
      padding: 10px;
      min-width: 70px;
    }
  }

  &--full-static {
    width: 100%;
    justify-content: center;
  }

  &--big {
    gap: 32px;
  }

  .icon {
    width: 12px;
    height: 12px;

    &--big {
      width: 20px;
      height: 20px;
    }
  }

  &:has(.arrow-swiper.prev.swiper-button-disabled):has(
      .arrow-swiper.next.swiper-button-disabled
    ) {
    display: none;
  }
}

.swiper-box {
  &:has(.arrow-swiper.none.prev.swiper-button-disabled):has(
      .arrow-swiper.none.next.swiper-button-disabled
    ) {
    .arrow-swiper.none {
      display: none;
    }
  }

  // &--arrows-disabled {
  //   &:has(.arrow-swiper.prev.swiper-button-disabled):has(
  //       .arrow-swiper.next.swiper-button-disabled
  //     ) {
  //     .arrow-swiper {
  //       opacity: 0;
  //       visibility: hidden;
  //     }
  //   }
  // }
}

.arrow-swiper {
  &.swiper-button-disabled {
    opacity: 0.7;
    pointer-events: none;
  }
}
