.arrows-swiper {
  display: flex;
  align-items: center;
  gap: 10px;

  &--absolute {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;

    .arrow-swiper {
      position: absolute;

      &.prev {
        left: 0;
      }

      &.next {
        right: 0;
      }
    }
  }

  .icon {
    width: 12px;
    height: 12px;
  }

  &:has(.arrow-swiper.prev.swiper-button-disabled):has(
      .arrow-swiper.next.swiper-button-disabled
    ) {
    display: none;
  }

  .arrow-swiper {
    &.prev {
      rotate: -180deg;
    }

    &.swiper-button-disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}
