.article {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__top-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__top-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__top-img {
    width: 100%;
    height: 400px;
    border-radius: var(--radius-xl);
    overflow: hidden;
    background-color: var(--dark-color-700);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;

    &--small {
      gap: 12px;
    }
  }

  &__item-content,
  &__item-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__top-content {
    max-width: 230px;
    width: 100%;
  }

  &__goods {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__footer-detail {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
