.attention {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 28px;
  background-color: var(--gray-color-200);
  border-radius: var(--radius-xl);
  overflow: hidden;

  &__icon {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-100);
    border-radius: 50%;
    overflow: hidden;
    color: var(--gray-color-200);

    .icon {
      width: 36px;
      height: 36px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
