.attention {
  display: flex;
  align-items: center;
  gap: calculate-clamp(12px, 30px, 1023px, 767px);
  padding: calculate-clamp(16px, 30px, 1023px, 767px) calculate-clamp(16px, 28px, 1023px, 767px);
  background-color: var(--gray-color-200);
  border-radius: var(--radius-xl);
  overflow: hidden;

  &__icon {
    width: calculate-clamp(48px, 56px, 1023px, 767px);
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-100);
    border-radius: var(--radius-md);
    overflow: hidden;
    color: var(--gray-color-200);

    @media (min-width: $lg-breakpoint) {
      border-radius: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: $tablet-breakpoint) {
    align-items: stretch;

    &__icon {
      height: auto;
    }
  }
}
