.auth {
  --padding-main-auth: 30px;
  --bg-main-auth: transparent;
  --blur-strength-auth: 8px;
  --max-width-inner-auth: 392px;
  --inner-gap-auth: 28px;
  --top-gap-auth: 10px;
  --btn-gap-auth: 8px;
  --decor-mh-auth: 40px;
  --decor-padding-auth: 4px 10px;
  --decor-gap-auth: 12px;
  --footer-gap-auth: 10px;

  width: 100%;
  height: 100%;
  position: relative;
  padding: var(--padding-main-auth, 30px);
  background-color: var(--bg-main-auth);

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background-color: #2f31480d;
    backdrop-filter: blur(var(--blur-strength-auth, 8px));
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__inner {
    position: relative;
    z-index: 2;
    max-width: var(--max-width-inner-auth, 392px);
    width: 100%;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--inner-gap-auth, 28px);
  }

  &__top {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: var(--top-gap-auth, 10px);
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: var(--btn-gap-auth, 8px);

    .button {
      &:not(.button--cub) {
        min-width: 143px;
      }
    }
  }

  &__decor {
    min-height: var(--decor-mh-auth);
    padding: var(--decor-padding-auth);
    background-color: var(--secondary-color-200);
    border-radius: var(--radius-base);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--decor-gap-auth);
    width: 100%;
  }

  &__img-box {
    position: absolute;
    inset: 0;
    z-index: 1;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--footer-gap-auth, 10px);
    text-align: center;
  }

  @media (max-width: $tablet-breakpoint) {
    --padding-main-auth: 16px 0;
    --max-width-inner-auth: 100%;

    &__inner {
      margin: 0;
    }

    &__img-box,
    &:before {
        display: none;
    }

    &__top {
        margin: 0;
    }
  }
}
