.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--font-size-xs);
  background-color: var(--dark-color-800);
  font-size: var(--font-size-3xs);
  font-weight: var(--weight-font-md);
  padding: 1px 8px;
  min-height: 22px;
  color: var(--secondary-color-300);

  &--blue {
    color: var(--white-color);

    background-image: linear-gradient(
      88.19deg,
      #4498ff 0%,
      #299ddc 37.49%,
      #26afff 67.79%,
      #1da1f2 100%
    );
  }

  .icon {
    width: 16px;
    height: 16px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
