.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--font-size-xs);
  background-color: var(--dark-color-800);
  font-size: var(--font-size-3xs);
  font-weight: var(--weight-font-md);
  padding: 1px 8px;
  min-height: 22px;
  color: var(--secondary-color-300);

  &--blue {
    color: var(--white-color);

    background-image: linear-gradient(
      88.19deg,
      #4498ff 0%,
      #299ddc 37.49%,
      #26afff 67.79%,
      #1da1f2 100%
    );
  }

  &--big {
    min-height: calculate-clamp(28px, 36px, 1439px, 1023px);
    padding: 2px 10px;
    gap: calculate-clamp(6px, 8px, 1439px, 1023px);
    border-radius: var(--radius-xl);
  }

  &--xs {
    min-height: 20px;
    padding: 0 6px;
    border-radius: var(--radius-md);
  }

  &--middle {
    min-height: 26px;
    padding: 2px 12px;
    border-radius: var(--radius-xl);
  }

  &--xl {
    min-height: 30px;
    padding: 4px 8px;
    border-radius: var(--radius-xl);
    gap: 4px;
  }

  &--2xl {
    min-height: 38px;
    padding: 2px 16px;
  }

  &--secondary-color-470 {
    background-color: var(--secondary-color-470);
    color: var(--white-color);
  }

  &--white {
    background-color: var(--white-color);
    color: var(--dark-color-200);
  }

  &--white-color-170 {
    background-color: var(--white-color-170);
    color: var(--dark-color-200);
  }

  &--secondary-color-200 {
    background-color: var(--secondary-color-200);
    color: var(--dark-color-200);
  }

  &--gray-color-200 {
    background-color: var(--gray-color-200);
    color: var(--dark-color-500);
  }

  &--gray-color-300 {
    background-color: var(--gray-color-300);
    color: var(--secondary-color-400);
  }

  &--green-color-100 {
    background-color: var(--gray-color-300);
    color: var(--green-color-100);
  }
}

.badge-decor {
  display: flex;
  align-items: center;
  gap: 8px;

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
  }

  &--big {
    gap: 4px;

    * {
      line-height: 1;
    }
  }

  &--xl {
    gap: 8px;
  }

  &--gray-100 {
    background-color: var(--gray-color-100);
    padding: 2px 8px;
  }

  &--noBg {
    min-height: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: none;

    * {
      line-height: 1;
    }
  }

  &--start {
    align-items: flex-start;
  }
}

.badge-detail {
  --badge-padding-x: 16px;
  --badge-padding-y: 4px;
  --badge-main-gap: #{calculate-clamp(12px, 16px, 1023px, 767px)};
  --badge-icon-size: 60px;
  --badge-content-gap: 2px;
  --badge-transition: all 0.3s;
  --badge-border-radius: var(--radius-md);
  --badge-icon-border-radius: var(--radius-base);
  --badge-hover-border-radius: var(--radius-5xl);
  --badge-hover-icon-border-radius: 50%;
  --badge-background-color: var(--gray-color-200);

  display: flex;
  align-items: center;
  gap: var(--badge-main-gap);
  padding: var(--badge-padding-y) var(--badge-padding-x) var(--badge-padding-y)
    4px;
  border-radius: var(--badge-border-radius);
  background-color: var(--badge-background-color);
  transition: var(--badge-transition);

  &--white-bg {
    --badge-background-color: var(--white-color);
  }

  &--secondary-bg-200 {
    --badge-background-color: var(--secondary-color-200);
    color: var(--dark-color-200);
  }

  &--circle-icon {
    --badge-icon-border-radius: 50%;
    --badge-border-radius: var(--radius-5xl);
    --badge-hover-border-radius: var(--radius-xl);
    --badge-hover-icon-border-radius: var(--radius-md);
  }

  &--small {
    --badge-icon-size: 48px;
    --badge-icon-size: 48px;
    --badge-main-gap: 12px;
  }

  &--without-img {
    padding-inline-start: 16px;
    padding-inline-end: 16px;

    &:has(.badge-detail__icon) {

      padding-inline-start: 4px;
      padding-inline-end: 16px;
    }
  }

  &__icon {
    width: var(--badge-icon-size);
    height: var(--badge-icon-size);
    flex-shrink: 0;
    border-radius: var(--badge-icon-border-radius);
    overflow: hidden;
    transition: var(--badge-transition);

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--badge-content-gap);
  }

  &.isHover {
    cursor: pointer;

    &:hover {
      border-radius: var(--badge-hover-border-radius);

      .badge-detail {
        &__icon {
          border-radius: var(--badge-hover-icon-border-radius);
        }
      }
    }
  }
}
