.badge {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: var(--font-size-xs);
  background-color: var(--dark-color-800);
  font-size: var(--font-size-3xs);
  font-weight: var(--weight-font-md);
  padding: 1px 8px;
  min-height: 22px;
  color: var(--secondary-color-300);

  &--blue {
    color: var(--white-color);

    background-image: linear-gradient(
      88.19deg,
      #4498ff 0%,
      #299ddc 37.49%,
      #26afff 67.79%,
      #1da1f2 100%
    );
  }


  &--big {
    min-height: 36px;
    padding: 6px 10px;
    gap: 8px;
    border-radius: var(--radius-xl);
  }

  &--secondary-color-470 {
    background-color: var(--secondary-color-470);
    color: var(--white-color);
  }
}

.badge-decor {
  display: flex;
  align-items: center;
  gap: 8px;

  &__content {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &--big {
    gap: 4px;

    * {
      line-height: 1;
    }
  }

  &--xl {
    gap: 8px;
  }

  &--gray-100 {
    background-color: var(--gray-color-100);
    padding: 2px 8px;
  }
}

.badge-detail {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 16px 4px 4px;
  border-radius: var(--radius-5xl);
  background-color: var(--secondary-color-200);
  transition: all 0.3s;

  &--white {
    background-color: var(--white-color);
  }

  &--big {
    .badge-detail {
      gap: 16px;
      
      &__icon {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &.isHover {
    cursor: pointer;

    &:hover {
      border-radius: var(--radius-xl);

      .badge-detail {
        &__icon {
          border-radius: var(--radius-md);
        }
      }
    }
  }
}
