.banner-ai {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 14px;
    flex-shrink: 0;

    .button {
      width: fit-content;

      &:nth-child(3),
      &:nth-child(5) {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }
}

.banner-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 28px;
  border: 1px solid var(--gray-color-400);
  border-radius: var(--radius-2xl);

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.banner-add {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 24px 32px;
  background-color: var(--secondary-color-400);
  border-radius: var(--radius-xl);

  &__header {
    color: var(--white-color);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.banner-content {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-xl);
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: all 0.5s;
  overflow: hidden;

  &.isChangePhoto {
    &:has(.banner-content__footer .button:hover) {
      .banner-content__img--filter img {
        filter: grayscale(0%);
      }
    }
  }

  &--absolute-img {
    position: relative;

    .banner-content {
      &__img {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
      }

      &__content,
      &__footer {
        position: relative;
        z-index: 3;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-width: 80%;
    width: 100%;
  }

  &__header,
  &__content,
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__img {
    width: 200px;
    height: 86px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--filter {
      img {
        filter: drop-shadow(0px 10px 15px rgba(5, 13, 29, 0.18)) grayscale(100%);
        transition: all 0.5s;
      }
    }
  }
}
