.banner-ai {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px 14px;
    flex-shrink: 0;

    .button {
      width: fit-content;

      &:nth-child(3),
      &:nth-child(5) {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }
    }
  }
}

.banner-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 28px;
  border: 1px solid var(--gray-color-400);
  border-radius: var(--radius-2xl);

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.banner-add {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 24px 32px;
  background-color: var(--secondary-color-400);
  border-radius: var(--radius-xl);

  &__header {
    color: var(--white-color);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.banner-content {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-xl);
  padding: calculate-clamp(16px, 28px, 767px, 480px)
    calculate-clamp(16px, 32px, 767px, 480px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calculate-clamp(20px, 28px, 1023px, 767px);
  transition: all 0.5s;
  overflow: hidden;

  &--secondary-bg-300 {
    background-color: var(--secondary-color-300);

    .banner-content {
      &__header {
        color: var(--white-color);
      }
    }
  }

  &.isChangePhoto {
    &:has(.banner-content__footer .button:hover) {
      .banner-content__img--filter img {
        filter: grayscale(0%);
      }
    }
  }

  &--absolute-img {
    position: relative;

    .banner-content {
      &__img {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        max-width: 200px;

        img {
          object-fit: cover;
        }

        &--big {
          max-width: 100%;

          img {
            object-fit: cover;
          }
        }

        &--filter-inherit {
          img {
            mix-blend-mode: soft-light;
            opacity: 0.4;
          }
        }
      }

      &__content,
      &__footer {
        position: relative;
        z-index: 3;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calculate-clamp(20px, 28px, 1023px, 767px);
    max-width: 80%;
    width: 100%;
  }

  &__badges {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    * {
      font-weight: var(--weight-font-main);
    }
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__img {
    width: 200px;
    height: 86px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &--filter {
      img {
        filter: drop-shadow(0px 10px 15px rgba(5, 13, 29, 0.18)) grayscale(100%);
        transition: all 0.5s;
      }
    }
  }

  &__header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__header-img {
    max-width: 130px;

    img,
    svg {
      width: 100%;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__content {
      max-width: 100%;
      align-items: normal;
    }

    &__img {
      display: none;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    border-radius: var(--radius-md);
    gap: calculate-clamp(16px, 20px, 767px, 480px);

    &__content {
      gap: calculate-clamp(16px, 20px, 767px, 480px);
    }

    &__footer {
      align-items: normal;
    }


    &__badges {
      display: grid;
      width: 100%;
    }
  }
}

.banner-status {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: var(--radius-5xl);
  background-color: var(--gray-color-200);

  &--center {
    justify-content: center;
  }

  &--small {
    padding: 12px 16px;
    border-radius: var(--radius-2xl);
  }

  &__icon:not(.banner-status__icon--default) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--dark-color-400);
    flex-shrink: 0;

    .icon {
      width: 16px;
      height: 12px;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__icon {
    &--default {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &.success {
    .banner-status {
      &__icon {
        border-color: var(--green-color-100);
        color: var(--green-color-100);
      }
    }
  }

  &.error {
    background-color: var(--primary-color-200);
    color: var(--primary-color-500);

    .banner-status {
      &__icon {
        border-color: var(--primary-color-500);
        color: var(--primary-color-500);
      }
    }
  }

  &--white-bg {
    background-color: var(--white-color);
    border: 1px solid var(--gray-color-200);
  }

  @media (max-width: $lg-breakpoint) {
    align-items: flex-start;
  }
}

.banner-about {
  padding: 30px 40px;
  background-color: var(--gray-color-200);
  border-radius: var(--radius-xl);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  gap: 32px;

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__img {
    width: 240px;
    height: 240px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--gray-color-300);

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
