.banner-news {
  padding: 20px 16px;
  border-radius: var(--radius-md);
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__header,
  &__content,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__img {
    width: 100%;
    height: 160px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
    }
  }
}
