.banner-promo {
  position: relative;
  border-radius: var(--radius-md);
  overflow: hidden;
  padding: 16px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  &:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(
      90deg,
      rgba(17, 25, 40, 0.5) 32.19%,
      rgba(17, 25, 40, 0) 100%
    );
    inset: 0;
    z-index: 2;
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    position: relative;
    z-index: 2;
    color: var(--white-color);
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__logo {
    width: 58px;
    height: 50px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    max-width: 100%;
  }

  &__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;

    .banner-promo__logo {
      display: none;
    }
  }

  &__footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
  }

  @media (max-width: $tablet-breakpoint) {
    @include columnOrMeidaBannerPromo;
  }
}
