.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radius-md);
  min-height: 40px;
  padding: 4px 12px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
    
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;
    will-change: transform, fill, stroke;

    svg,
    img {
      width: 100%;
      height: 100%;
      will-change: inherit;
      // transition: fill 0.3s ease, stroke 0.3s ease, color 0.3s ease,
      //   transform 0.3s ease;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &--mini {
    min-height: 24px;
    font-size: var(--font-size-2xs);
    padding: 2px 8px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &--xl {
    padding: 10px 32px;
    min-height: 52px;
    font-weight: var(--weight-font-lg);
    border-radius: var(--radius-3xl);
    gap: 12px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  &--big {
    padding: calculate-clamp(6px, 8px, 1024px, 767px) 16px;
    min-height: calculate-clamp(40px, 48px, 1024px, 767px);
    font-weight: var(--weight-font-md);
    font-size: var(--font-size-xs);
    border-radius: var(--radius-base);
  }

  &--middle {
    min-height: 30px;
    font-size: var(--font-size-2xs);
    padding: 2px 8px;
  }

  &--gray {
    background-color: var(--gray-color-300);
    color: var(--dark-color-200);
    border: 2px solid var(--gray-color-300);

    &:hover {
      background-color: var(--dark-color-200);
      color: var(--white-color);
      border-color: var(--dark-color-200);
    }

    &:active {
      background-color: var(--dark-color-300);
      color: var(--white-color);
      border-color: var(--dark-color-200);
    }
  }

  &--gray-second {
    background-color: var(--gray-color-500);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--dark-color-600);
    }
  }

  &--gray-third {
    background-color: var(--gray-color-200);
    color: var(--secondary-color-100);

    &:hover,
    &:active {
      background-color: var(--dark-color-600);
      color: var(--white-color);
    }
  }

  &--yellow {
    background-color: var(--yellow-color-100);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--yellow-color-200);
    }
  }

  &--yellow-second {
    background-color: var(--yellow-color-200);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--yellow-color-100);
    }
  }

  &--blue {
    background-color: var(--blue-color-100);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--blue-color-200);
    }
  }

  &--red-lite,
  &--red {
    background-color: var(--primary-color-100);
    color: var(--white-color);
    border: 2px solid var(--primary-color-100);

    &:hover {
      background-color: var(--primary-color-600);
      border-color: var(--primary-color-600);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--primary-color-100);
      background-color: var(--primary-color-600);
    }
  }

  &--bg-rad {
    border-radius: var(--radius-3xl);

    // @media (max-width: 767px) {
    //   border-radius: var(--radius-base);
    // }
  }

  &--noBg {
    background-color: transparent;
    min-height: 0;
  }

  &--redBorder {
    border: 1px solid var(--primary-color-100);
    color: var(--primary-color-100);

    &:hover,
    &:active {
      background-color: var(--primary-color-100);
      color: var(--white-color);
    }
  }

  &--grayBorder {
    border: 1px solid var(--gray-color-400);
    color: var(--secondary-color-100);

    &:hover {
      border-color: var(--secondary-color-100);
    }

    &:active {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }
  }

  &--dark {
    background-color: var(--secondary-color-400);
    color: var(--white-color);

    &:hover,
    &:active {
      background-color: var(--secondary-color-300);
    }
  }

  &--darkBorder {
    background-color: transparent;
    border: 1px solid var(--dark-color-600);
    color: var(--dark-color-600);
  }

  &--dark-second {
    background-color: var(--dark-color-800);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--dark-color-700);
    }
  }

  &--green {
    background-color: var(--green-color-200);
    color: var(--dark-color-200);
    border: 2px solid transparent;

    &:hover {
      background-color: var(--green-color-300);
      // border-color: var(--green-color-300);
    }

    &:active {
      background-color: var(--green-color-300);
      border-color: var(--green-color-200);
    }
  }

  &--noMassa {
    padding: 0;
    border: none;
  }

  &--secondary {
    background-color: var(--secondary-color-200);
    border: 2px solid var(--secondary-color-200);

    &:hover {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }

    &:active {
      background-color: var(--secondary-color-100);
      border-color: var(--secondary-color-300);
    }
  }

  &--blueviolet {
    background-color: var(--secondary-color-300);
    color: var(--white-color);
    border: 2px solid transparent;

    &:hover {
      background-color: var(--secondary-color-400);
    }

    &:active {
      background-color: var(--secondary-color-300);
      border-color: var(--secondary-color-400);
    }
  }

  &--white {
    background-color: var(--white-color);

    &:hover,
    &:active {
      background-color: var(--secondary-color-200);
    }
  }

  &--favorite {
    &:hover,
    &:active {
      background-color: var(--primary-color-200);
      color: var(--primary-color-100);
    }

    &:hover {
      border-color: var(--primary-color-200);
    }

    &:active {
      border-color: var(--primary-color-100);
    }

    &.active {
      background-color: var(--primary-color-100);
      color: var(--gray-color-100);
      border-color: var(--primary-color-100);
    }
  }

  &--comparison {
    &:hover,
    &:active {
      background-color: var(--secondary-color-200);
      color: var(--dark-color-100);
    }

    &:hover {
      border-color: var(--secondary-color-200);
    }

    &:active {
      border-color: var(--secondary-color-100);
    }

    &.active {
      background-color: var(--secondary-color-300);
      color: var(--white-color);
      border-color: var(--secondary-color-300);
    }
  }

  &--md {
    padding: 4px 20px;
    min-height: 36px;
    border-radius: var(--radius-2xl);

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &--cub {
    padding: 0;
    width: 32px;
    height: 36px;
    border-radius: var(--radius-base);
    flex-shrink: 0;
    min-height: 0;
  }

  &--cub-big {
    width: 40px;
    height: 40px;
    border-radius: var(--radius-md);
    padding: 6px;
  }

  &--cub-xl {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: var(--radius-md);
    padding: 14px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  &--circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 0;
    min-height: 0;
    color: var(--dark-color-100);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &--circle-big {
    width: 40px;
    height: 40px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.btn-decor {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--secondary-color-300);

  &:hover {
    .icon {
      color: var(--white-color);
      background-color: var(--dark-color-200);
    }
  }

  &:active {
    .icon {
      color: var(--white-color);
      background-color: var(--dark-color-300);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--gray-color-400);
    transition: all 0.5s;

    svg,
    img {
      width: 10px;
      height: 10px;
    }
  }
}
