.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radius-base);
  min-height: 40px;
  padding: 4px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;

  .icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    flex-shrink: 0;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &--xs {
    min-height: 24px;
    padding: 1px 8px;
    font-size: var(--font-size-3xs);
  }

  &--sm {
    min-height: 28px;
    padding: 4px 12px;
    font-size: var(--font-size-2xs);
  }

  &--md2x {
    min-height: 32px;
    padding: calculate-clamp(2px, 5px, 1023px, 767px) 16px;
    font-size: var(--font-size-xs);
  }

  &--md {
    min-height: calculate-clamp(30px, 36px, 1023px, 767px);
    padding: 2px calculate-clamp(8px, 16px, 1023px, 767px);
    font-size: var(--font-size-xs);
  }

  &--mdx1 {
    min-height: 44px;
    padding: 6px 20px;
    font-size: var(--font-size-xs);
  }

  &--lg {
    min-height: calculate-clamp(40px, 48px, 1023px, 767px);
    padding: calculate-clamp(2px, 4px, 1500px, 767px)
      calculate-clamp(12px, 16px, 1500px, 767px);
    font-size: var(--font-size-sm);

    &-tablet {
      min-height: calculate-clamp(40px, 48px, 767px, 480px);
      border-radius: calculate-clamp(12px, 24px, 767px, 480px);
    }
  }

  &--2lg {
    min-height: calculate-clamp(52px, 52px, 1023px, 767px);
  }

  &--xl {
    min-height: calculate-clamp(40px, 52px, 1023px, 767px);
    padding: calculate-clamp(2px, 4px, 1023px, 767px)
      calculate-clamp(10px, 32px, 1023px, 767px);
    font-size: var(--font-size-base);
  }

  &--mh-52-44 {
    min-height: calculate-clamp(44px, 52px, 1023px, 767px);
  }

  &--cub {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-height: 0;
    width: 36px;
    height: 36px;

    &--xs {
      width: 24px;
      height: 24px;
    }

    &-sm {
      width: 32px;
      height: 32px;
      border-radius: var(--radius-base);
    }

    &-md {
      width: 36px;
      height: 36px;
      border-radius: var(--radius-md);
    }

    &-md-add {
      width: 40px;
      height: 40px;
      border-radius: var(--radius-md);
    }

    &-lg {
      width: calculate-clamp(40px, 48px, 1023px, 767px);
      height: calculate-clamp(40px, 48px, 1023px, 767px);
      border-radius: var(--radius-md);
    }

    &-2lg {
      width: calculate-clamp(52px, 52px, 1023px, 767px);
      height: calculate-clamp(52px, 52px, 1023px, 767px);
    }

    &-xl {
      width: 56px;
      height: 56px;
      border-radius: var(--radius-2xl);
    }

    .button {
      &__decor-item {
        right: 4px;
        bottom: 2px;
      }
    }
  }

  &--cub-icon {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-height: 0;
    width: 28px;
    height: 40px;
  }

  &--rounded-sm {
    border-radius: var(--radius-sm);
  }

  &--rounded-base {
    border-radius: var(--radius-base);
  }

  &--rounded-md {
    border-radius: var(--radius-md);
  }

  &--rounded-lg {
    border-radius: var(--radius-lg);
  }

  &--rounded-xl {
    border-radius: var(--radius-xl);
  }

  &--rounded-2xl {
    border-radius: var(--radius-2xl);
  }

  &--rounded-3xl {
    border-radius: calculate-clamp(8px, 24px, 1023px, 480px);
  }

  &--circle {
    border-radius: 50%;
    padding: 0;
    width: 40px;
    height: 40px;
    min-height: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-4xl {
      width: 20px;
      height: 20px;
    }

    &-3xs {
      width: 24px;
      height: 24px;
    }

    &-sm {
      width: 32px;
      height: 32px;
    }

    &-md {
      width: 40px;
      height: 40px;
    }

    &-2md {
      width: 44px;
      height: 44px;
    }

    &-lg {
      width: 48px;
      height: 48px;

      &--media {
        width: calculate-clamp(40px, 48px, $tablet-breakpoint, $mobile-breakpoint);
      }
    }

    &-2lg {
      width: calculate-clamp(40px, 52px, 1023px, 767px);
      height: calculate-clamp(40px, 52px, 1023px, 767px);
    }

    &-xl {
      width: 56px;
      height: 56px;
    }
  }

  &--cub-second {
    width: 32px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;

    &-right-border {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &-left-border {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &--bg-white {
    background-color: var(--white-color);
    color: var(--dark-color-100);
  }

  &--bg-white-second {
    background-color: var(--white-color);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--dark-color-200);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--white-color);
    }
  }

  &--bg-white-170 {
    background-color: var(--white-color-170);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--secondary-color-200);
      color: var(--secondary-color-400);
    }
  }

  &--bg-dark-100 {
    background-color: var(--dark-color-100);
    color: var(--white-color);
  }

  &--bg-dark-200 {
    background-color: var(--dark-color-200);
    color: var(--white-color);
  }

  &--bg-dark-300 {
    background-color: var(--dark-color-300);
    color: var(--white-color);
  }

  &--bg-dark-400 {
    background-color: var(--dark-color-400);
    color: var(--white-color);
  }

  &--bg-dark-500 {
    background-color: var(--dark-color-500);
    color: var(--white-color);
  }

  &--bg-dark-600 {
    background-color: var(--dark-color-600);
    color: var(--white-color);
  }

  &--bg-dark-700 {
    background-color: var(--dark-color-700);
    color: var(--white-color);
  }

  &--bg-dark-800 {
    background-color: var(--dark-color-800);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--dark-color-700);
    }

    &:active {
      border-color: var(--dark-color-800);
    }
  }

  &--bg-gray-100 {
    background-color: var(--gray-color-100);
    color: var(--dark-color-100);
  }

  &--bg-gray-200 {
    background-color: var(--gray-color-200);
    color: var(--dark-color-100);

    &:hover,
    &:active {
      background-color: var(--gray-color-300);
      color: var(--dark-color-100);
    }

    &:active {
      border-color: var(--secondary-color-100);
    }
  }

  &--bg-gray-300 {
    background-color: var(--gray-color-300);
    color: var(--dark-color-200);

    &:hover {
      background-color: var(--dark-color-200);
      color: var(--white-color);
    }

    &:active {
      background-color: var(--dark-color-400);
      color: var(--white-color);
      border-color: var(--dark-color-200);
    }
  }

  &--bg-gray-400 {
    background-color: var(--gray-color-400);
    color: var(--dark-color-400);
  }

  &--bg-gray-500 {
    background-color: var(--gray-color-500);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--gray-color-600);
    }

    &:active {
      border-color: var(--gray-color-500);
    }
  }

  &--bg-gray-600 {
    background-color: var(--gray-color-600);
    color: var(--secondary-color-300);
  }

  &--bg-primary-100 {
    background-color: var(--primary-color-100);
    color: var(--white-color);

    &:hover {
      background-color: var(--primary-color-600);
      color: var(--white-color);
    }

    &:active {
      color: var(--white-color);
      background-color: var(--primary-color-600);
      border-color: var(--primary-color-100);
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  &--bg-primary-200 {
    background-color: var(--primary-color-200);
    color: var(--primary-color-100);

    &:hover {
      background-color: var(--primary-color-100);
      color: var(--white-color);
    }

    &:active {
      color: var(--white-color);
      background-color: var(--primary-color-600);
      border-color: var(--primary-color-100);
    }
  }

  &--bg-primary-500 {
    background-color: var(--primary-color-500);
    color: var(--white-color);

    &:hover {
      background-color: var(--primary-color-100);
      color: var(--white-color);
    }

    &:active {
      color: var(--white-color);
      background-color: var(--primary-color-600);
      border-color: var(--primary-color-100);
    }
  }

  &--bg-primary-600 {
    background-color: var(--primary-color-600);
    color: var(--white-color);

    &:hover {
      background-color: var(--primary-color-100);
      color: var(--white-color);
    }

    &:active {
      color: var(--white-color);
      background-color: var(--primary-color-600);
      border-color: var(--primary-color-100);
    }
  }

  &--bg-secondary-100 {
    background-color: var(--secondary-color-100);
    color: var(--white-color);

    &:hover,
    &:active {
      background-color: var(--secondary-color-300);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--secondary-color-400);
    }
  }

  &--bg-secondary-200 {
    background-color: var(--secondary-color-200);
    color: var(--secondary-color-300);

    &:hover,
    &:active {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--secondary-color-300);
    }
  }

  &--bg-secondary-300 {
    background-color: var(--secondary-color-300);
    color: var(--white-color);

    &:hover,
    &:active {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--secondary-color-300);
    }
  }

  &--bg-green-100 {
    background-color: var(--green-color-100);
    color: var(--white-color);
  }

  &--bg-green-200 {
    background-color: var(--green-color-200);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--green-color-300);
      // color: var(--white-color);
    }

    &:active {
      border-color: var(--green-color-500);
    }
  }

  &--bg-green-400 {
    background-color: var(--green-color-400);
    color: var(--green-color-500);

    &:hover,
    &:active {
      background-color: var(--green-color-500);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--green-color-500);
    }
  }

  &--bg-yellow-100 {
    background-color: var(--yellow-color-100);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--yellow-color-200);
    }

    &:active {
      border-color: var(--yellow-color-100);
    }
  }

  &--bg-yellow-200 {
    background-color: var(--yellow-color-200);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--yellow-color-100);
    }

    &:active {
      border-color: var(--yellow-color-200);
    }
  }

  &--bg-blue-100 {
    background-color: var(--blue-color-100);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--blue-color-200);
    }

    &:active {
      border-color: var(--blue-color-100);
    }
  }

  &--bg-blue-200 {
    background-color: var(--blue-color-200);
    color: var(--dark-color-200);
  }

  &--noMassa {
    background-color: transparent;
    padding: 0;
    border: none;
    border-radius: 0;
    min-height: 0;
  }

  &--favorite {
    &:hover,
    &:active {
      background-color: var(--primary-color-200);
      color: var(--primary-color-100);
    }

    &:active {
      border-color: var(--primary-color-100);
    }

    &.active {
      background-color: var(--primary-color-100);
      color: var(--primary-color-200);
    }
  }

  &--comparison {
    &:hover,
    &:active {
      background-color: var(--secondary-color-200);
      color: var(--secondary-color-300);
    }

    &:active {
      border-color: var(--secondary-color-100);
    }

    &.active {
      background-color: var(--secondary-color-300);
      color: var(--secondary-color-200);
    }
  }

  &--share {
    &:hover,
    &:active {
      @include share-hover;
    }
  }

  &--bg-gradient {
    background-image: linear-gradient(89.64deg, #C407FF -2.5%, #7102FE 104.71%);
    background-color: transparent;
    color: var(--white-color);
    background-size: 120% 100%;
background-position: center;
  }

  &--noBg {
    background-color: transparent;

    &-gray-color-300 {
      border-color: var(--gray-color-300);

      &:hover {
        border-color: var(--secondary-color-100);
        color: var(--secondary-color-400);
      }
    }

    &-gray-color-600 {
      border-color: var(--gray-color-600);
      color: var(--secondary-color-300);

      &:hover {
        border-color: var(--secondary-color-100);
        color: var(--secondary-color-400);
      }

      &:active {
        border-color: var(--secondary-color-100);
        background-color: var(--secondary-color-100);
        color: var(--white-color);
      }
    }

    &-dark-color-600 {
      border-color: var(--dark-color-600);
      color: var(--dark-color-600);
    }

    &-dark-color-700 {
      border-color: var(--dark-color-700);
      color: var(--dark-color-500);
    }

    &-primary-color-100 {
      border-color: var(--primary-color-100);
      color: var(--primary-color-100);
    }
  }

  &--border-small {
    border-width: 1px;
  }

  &--pading-inline-lg {
    padding-inline: 30px;
  }

  &--dashed {
    border-style: dashed;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 4px;

    &--big {
      gap: 8px;
    }
  }

  &:has(.button__decor-item) {
    position: relative;
  }

  &__decor-item {
    position: absolute;
  }

  &--hover-white {
    &:hover,
    &:active {
      background-color: var(--white-color);
    }
  }
}

.btn-decor {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  color: var(--secondary-color-300);
}
