.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radius-md);
  min-height: 40px;
  padding: 10px 12px;
  transition: all 0.5s;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;

    svg,
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &--mini {
    min-height: 24px;
    font-size: var(--font-size-2xs);
    padding: 2px 8px;
  }

  &--middle {
    min-height: 30px;
    font-size: var(--font-size-2xs);
    padding: 2px 8px;
  }

  &--gray {
    background-color: var(--gray-color-300);
    color: var(--dark-color-200);

    &:hover,
    &:active {
      background-color: var(--dark-color-200);
      color: var(--white-color)
    }
  }

  &--noBg {
    background-color: transparent;
    min-height: 0;
  }

  &--grayBorder {
    border: 1px solid var(--gray-color-400);
    color: var(--secondary-color-100);

    &:hover {
      border-color: var(--secondary-color-100);
    }

    &:active {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }
  }

  &--noMassa {
    padding: 0;
    border: none;
  }
}
