.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--radius-md);
  min-height: 40px;
  padding: 10px 12px;
  transition: all 0.5s;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;

    svg,
    img {
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &--mini {
    min-height: 24px;
    font-size: var(--font-size-2xs);
    padding: 2px 8px;
  }

  &--big {
    padding: 12px 16px;
    min-height: 48px;
    font-weight: var(--weight-font-md);
    font-size: var(--font-size-xs);
  }

  &--middle {
    min-height: 30px;
    font-size: var(--font-size-2xs);
    padding: 2px 8px;
  }

  &--gray {
    background-color: var(--gray-color-300);
    color: var(--dark-color-200);

    &:hover {
      background-color: var(--dark-color-200);
      color: var(--white-color);
    }

    &:active {
      background-color: var(--dark-color-300);
      color: var(--white-color);
    }
  }

  &--red {
    background-color: var(--primary-color-600);
    color: var(--white-color);
    border: 1px solid var(--primary-color-100);

    &:hover {
      background-color: var(--primary-color-600);
      color: var(--white-color);
    }

    &:active {
      border-color: var(--primary-color-100);
    }
  }

  &--bg-rad {
    border-radius: var(--radius-3xl);
  }

  &--noBg {
    background-color: transparent;
    min-height: 0;
  }

  &--grayBorder {
    border: 1px solid var(--gray-color-400);
    color: var(--secondary-color-100);

    &:hover {
      border-color: var(--secondary-color-100);
    }

    &:active {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }
  }

  &--dark {
    background-color: var(--secondary-color-400);
    color: var(--white-color);

    &:hover,
    &:active {
      background-color: var(--secondary-color-300);
    }
  }

  &--noMassa {
    padding: 0;
    border: none;
  }

  &--white {
    background-color: var(--white-color);

    &:hover,
    &:active {
      background-color: var(--secondary-color-200);
    }
  }

  &--cub {
    padding: 0;
    width: 32px;
    height: 36px;
    border-radius: var(--radius-base);
    flex-shrink: 0;
    min-height: 0;
  }

  &--circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 0;
    min-height: 0;
    color: var(--dark-color-100);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &--circle-big {
    width: 40px;
    height: 40px;

    .icon {
      width: 20px;
      height: 20px;
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

.btn-decor {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;

  &:hover {
    .icon {
      color: var(--white-color);
      background-color: var(--dark-color-200);
    }
  }

  &:active {
    .icon {
      color: var(--white-color);
      background-color: var(--dark-color-300);
    }
  }

  .icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--gray-color-400);
    transition: all .5s;

    svg,
    img {
      width: 10px;
      height: 10px;
    }
  }
}
