.card-text {
    overflow: hidden;
    border-radius: var(--radius-base);
    overflow: hidden;
    height: 100%;
    padding: calculate-clamp(6px, 10px, 1023px, 767px) 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    color: var(--secondary-color-300);
    background-color: var(--white-color);

    @media (max-width: $tablet-breakpoint) {
        padding: 6px 12px;
    }
}