.card-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 140px;
    border-radius: var(--radius-base);
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .ellipse-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

a.card-detail {
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    .card-detail {
      &__img {
        img {
          scale: 1.2;
        }
      }
    }
  }
}

.card-box {
  border-radius: var(--radius-xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color-600);

  &__img-box {
    width: 100%;
    height: 220px;
    position: relative;
    overflow: hidden;
    background-color: var(--gray-color-600);
  }

  &__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s;
    }
  }

  &__img-content {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__img-item {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 26px;
    padding: 3px 12px;
    background-color: var(--white-color);
    overflow: hidden;
    border-top-right-radius: var(--radius-xl);

    .icon {
      width: 20px;
      height: 20px;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 12px;

    &--gray-200 {
      background-color: var(--gray-color-200);
    }
  }
}

a.card-box {
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    .card-box {
      &__img {
        img {
          scale: 1.2;
        }
      }
    }
  }
}

.card-simple {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: var(--gray-color-100);
  border-radius: var(--radius-md);
  overflow: hidden;
  padding: 16px;
  width: 100%;
  text-align: center;

  &--noBg {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  &--big {
    gap: 12px;
  }

  &--row {
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 16px;
  }

  &__icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.card-complex {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: calculate-clamp(4px, 24px, 1280px, 1023px);
  min-height: calculate-clamp(64px, 148px, 1280px, 1023px);
  background-color: var(--gray-color-200);
  border-radius: var(--radius-md);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--secondary-color-100)
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: $lg-breakpoint) {
    min-height: auto;
    flex-direction: row;

    &__icon {
      border-radius: var(--radius-base);
    }
  }
}

.card-result {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-base);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100%;

  &__head,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  @media (max-width: $tablet-breakpoint) {
    flex-direction: row;
    gap: 40px;
    justify-content: center;

    &__item {
      flex-direction: row;
      gap: 4px;
    }

    &__head {
      p {
        font-size: 48px;
      }
    }

    &__item {
      .p1 {
        font-size: 18px;
      }
    }
  }
}
