.card-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
  height: 100%;

  &__img {
    width: 100%;
    min-height: 100px;
    aspect-ratio: 7 / 4;
    border-radius: var(--radius-base);
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.5s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .ellipse-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

a.card-detail {
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    .card-detail {
      &__img {
        img {
          scale: 1.2;
        }
      }
    }
  }
}

.card-box {
  border-radius: var(--radius-xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-color-600);
  height: 100%;

  &--big {
    .card-box {
      &__content {
        padding: 12px 20px;
      }
    }
  }

  &--noBorder {
    border: none;
  }

  &__img-box {
    width: 100%;
    aspect-ratio: 292 / 220;
    position: relative;
    overflow: hidden;
    background-color: var(--gray-color-200);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.2s;
    }
  }

  &__img-content {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__img-item {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 26px;
    padding: 3px 12px;
    background-color: var(--white-color);
    overflow: hidden;
    border-top-right-radius: var(--radius-xl);

    .icon {
      width: 20px;
      height: 20px;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 12px;
    flex: 1;

    &--gray-200 {
      background-color: var(--gray-color-200);
    }
  }

  &__content-item {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }

  &__btns {
    display: grid;
    gap: 8px;
    margin-top: auto;

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__badges {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &--empty {
    .card-box {
      &__img {
        width: 120px;
        height: 120px;
      }
    }
  }

  &--empty.card-box--media {
    @media (max-width: $tablet-breakpoint) {
      .card-box {
        &__img {
          display: flex;
          align-items: center;
          justify-content: center;

          img,
          svg {
            width: 36px;
            height: 36px;
          }
        }
      }
    }
  }

  &--media {
    @media (max-width: $tablet-breakpoint) {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: var(--white-color);

      .card-box {
        &__img-box {
          position: static;
          aspect-ratio: unset;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 16px;
          background-color: transparent;
        }

        &__img-content {
          position: static;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 4px;
        }

        &__img {
          width: 60px;
          height: 60px;
          border-radius: var(--radius-sm);
          overflow: hidden;
          background-color: var(--gray-color-100);
        }

        &__content {
          padding: 0;
        }
      }
    }
  }

  @media (max-width: 360px) {
    &__btns {
      display: flex;
      flex-direction: column;
      align-items: normal;
    }
  }
}

a.card-box {
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    .card-box {
      &__img {
        img {
          scale: 1.2;
        }
      }
    }
  }

  &--empty {
    &:hover {
      .card-box {
        &__img {
          img {
            scale: 1;
          }
        }
      }
    }
  }
}

.card-simple {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: var(--gray-color-100);
  border-radius: var(--radius-md);
  overflow: hidden;
  padding: 16px;
  width: 100%;
  text-align: center;

  &--noBg {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  &--big {
    gap: 12px;
  }

  &--row {
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px 16px;
  }

  &__icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
    }

    &--big {
      width: calculate-clamp(28px, 48px, 1023px, 767px);
      height: calculate-clamp(28px, 48px, 1023px, 767px);
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.card-complex {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: calculate-clamp(4px, 24px, 1280px, 1023px);
  min-height: calculate-clamp(64px, 148px, 1280px, 1023px);
  background-color: var(--gray-color-200);
  border-radius: var(--radius-md);

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--secondary-color-100);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: $lg-breakpoint) {
    min-height: auto;
    flex-direction: row;

    &__icon {
      border-radius: var(--radius-base);
    }
  }
}

.card-result {
  background-color: var(--gray-color-200);
  border-radius: var(--radius-base);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 100%;

  &__head,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  @media (max-width: $tablet-breakpoint) {
    flex-direction: row;
    gap: 40px;
    justify-content: center;

    &__item {
      flex-direction: row;
      gap: 4px;
    }

    &__head {
      p {
        font-size: 48px;
      }
    }

    &__item {
      .p1 {
        font-size: 18px;
      }
    }
  }
}

.card-dev {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color-600);
  border-radius: var(--radius-xl);
  overflow: hidden;

  &__img-box {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
  }

  &__img-block {
    height: 174px;
    width: 100%;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    background-color: var(--gray-color-100);
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: var(--radius-md);
  }

  &__content-item {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.card-team {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(12px, 16px, 1023px, 767px);
  border: 1px solid var(--gray-color-200);
  background-color: var(--gray-color-100);
  padding: 4px 4px calculate-clamp(12px, 16px, 1023px, 767px) 4px;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-xl);
  overflow: hidden;
  

  &--dark-bg-200 {
    background-color: var(--dark-color-200);
    border-color: var(--dark-color-200);
    color: var(--white-color);
  }

  &--small {
    border-radius: var(--radius-md);

    .card-team {
      &__img {
        border-radius: var(--radius-md);
        aspect-ratio: 284 / 188;
      }
    }
  }

  &--content-big {
   

    .card-team {
      &__content {
        padding-inline: 16px;
      }
    }
  }

  &--empty {
    .card-team {
      &__img {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: calculate-clamp(75px, 90px, 1023px, 767px);
          height: calculate-clamp(75px, 90px, 1023px, 767px);
        }
      }
    }
  }

  &__img {
    border-radius: var(--radius-xl);
    overflow: hidden;
    aspect-ratio: 292 / 240;
    background-color: var(--gray-color-200);
    max-height: 300px;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    flex: 1;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    text-align: center;

    &--start {
      align-items: flex-start;
      text-align: start;
    }
  }
}

.card-chips {
  padding: calculate-clamp(12px, 27px, 1280px, 767px)
    calculate-clamp(12px, 20px, 1280px, 767px);
  background-color: var(--gray-color-200);
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(2px, 4px, 1280px, 767px);
  height: 100%;

  &--dark-bg-200 {
    background-color: var(--dark-color-200);
    color: var(--white-color);
  }

  &--small {
    padding: calculate-clamp(12px, 20px, 1280px, 767px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(2px, 4px, 1280px, 767px);
  }
}
