.catalogy {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 32px, 1023px, 480px);
  }

  &__blocks {
    display: grid;
    grid-template-columns: auto 280px;
    gap: calculate-clamp(20px, 32px, 1280px, 1023px);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-blocks);
    min-width: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(4px, 16px, 767px, 480px);

    &--small {
      gap: 8px;
    }
  }

  &__header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__filters-block {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 40px, 1023px, 480px);
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 28px, 1023px, 480px);
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__items-blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
  }

  &__item-img {
    border-radius: var(--radius-base);
    overflow: hidden;
    max-width: 280px;
    width: 100%;
    height: 210px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: calculate-clamp(12px, 32px, 1024px, 767px);

    .textbox {
      & > * {
        display: none;

        &:nth-child(-n + 1) {
          display: block;
        }
      }

      &.more {
        & > * {
          &:nth-child(-n + 99999) {
            display: block;
          }
        }
      }
    }
  }

  .banner-news {
    display: none;
  }

  &__banners {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, 1023px, 480px);

    .banner-news {
      display: flex;
      position: sticky;
      top: calc(
        var(--header-height, --calback-header-height) + var(--filter-height) +
          10px
      );
    }
  }

  &__map {
    display: none;
  }

  &[data-grid="tiles"] {
    .catalogy__items-blocks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 14px;

      & > *:not(.good-item) {
        grid-column: 1 / -1;
      }

      @media (max-width: 1279px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__map-btn {
    display: none;
  }

  // &[data-grid="map"] {
  //   .catalogy__items-blocks,
  //   .pagination {
  //     display: none;
  //   }

  //   .catalogy__map {
  //     display: flex;
  //   }
  // }

  @media (max-width: 1100px) {
    &__banners {
      display: none;
    }

    &__blocks {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    .banner-news {
      display: flex;
      min-height: 243px;
      position: relative;
      align-items: flex-start;

      &__content {
        position: absolute;
        right: 0;
        bottom: 13px;
        max-width: 30%;
        z-index: 1;
      }

      &__header,
      &__footer {
        max-width: 65%;
        position: relative;
        z-index: 2;
      }

      &__img {
        width: 100%;
        height: 100%;

        img {
          object-fit: contain;
        }
      }

      &__footer {
        margin-top: auto;
      }
    }
  }

  @media (max-width: 767px) {
    &[data-grid="tiles"],
    &[data-grid="list"] {
      .catalogy__items-blocks {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .checkbox-box {
      display: none;
    }

    &__map-btn {
      display: flex;
    }

    &__item-head {
      flex-direction: column-reverse;
    }

    &__item-img {
      max-width: 100%;
      width: 100%;
    }
  }

  @media (max-width: 375px) {
    .banner-news {
      &__content {
        max-width: 45%;
      }

      &__header,
      &__footer {
        max-width: 50%;
      }
    }
  }
}

.catalogy-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__market-btn {
    display: none;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__filter-items {
    display: grid;
    grid-template-columns: 24% 24% 24% auto;
    gap: 8px;

    .checkbox-box {
      white-space: nowrap;
    }

    &--flex {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 600px) {
    &__market {
      display: none;
    }

    &__market-btn {
      display: flex;
    }
  }
}

body.scrollBottom {
  .catalogy {
    &__banners {
      .banner-news {
        position: sticky;
        top: calc(var(--filter-height) + 10px);
      }
    }
  }
}
