.catalogy {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: auto 280px;
    gap: 32px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-blocks);
    min-width: 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__filters-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__items-blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
  }

  &__item-img {
    border-radius: var(--radius-base);
    overflow: hidden;
    max-width: 280px;
    width: 100%;
    height: 210px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    .textbox {
      & > * {
        display: none;

        &:nth-child(-n + 1) {
          display: block;
        }
      }

      &.more {
        & > * {
          &:nth-child(-n + 99999) {
            display: block;
          }
        }
      }
    }
  }

  &__banners {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .banner-news {
      position: sticky;
      top: calc(var(--header-height, 140px) + 15px);
    }
  }

  &__map {
    display: none;
  }

  &[data-grid="tiles"] {
    .catalogy__items-blocks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 14px;

      & > *:not(.good-item) {
        grid-column: 1 / -1;
      }
    }
  }

  &[data-grid="map"] {
    .catalogy__items-blocks,
    .pagination {
      display: none;
    }

    .catalogy__map {
      display: flex;
    }
  }
}

.catalogy-content {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

body.scrollBottom {
  .catalogy {
    &__banners {
      .banner-news {
        position: sticky;
        top: 15px;
      }
    }
  }
}
