.catalogy-box {
  &__info {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(22px, 28px, 1280px, 1023px);
    overflow: hidden;
  }

  &__info-item {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 32px, 1280px, 1023px);
  }

  &__content {
    gap: calculate-clamp(20px, 40px, 1280px, 1023px);

    &--big {
      gap: 40px;

      @media (max-width: $lg-breakpoint) {
        gap: 48px;
      }
    }

    &--xl {
      gap: calculate-clamp(48px, 60px, 1280px, 1023px);

      @media (max-width: $tablet-breakpoint) {
        gap: 48px;
      }
    }

    &--2xl {
      gap: var(--gap-blocks);
    }
  }

  &__content-item {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 40px, 1280px, 1023px);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .select-box {
      max-width: 151px;
      width: 100%;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--big {
      gap: 24px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .tag {
      &:not(.tag.active) {
        .tag {
          &__close {
            display: none;
          }
        }
      }

      &:nth-child(even) {
        background-color: var(--gray-color-300);
      }

      &.active {
        background-color: var(--secondary-color-200);
        color: var(--secondary-color-100);
      }

      &.tag--lg {
        min-height: 36px;
      }

      &__close {
        &:hover {
          color: var(--dark-color-100);
        }
      }
    }
  }

  &__tags-block {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__filter {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
  }

  &__filter-item {
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, 1280px, 1023px);
  }

  &__swiper-box {
    min-width: 0;
    width: 100%;
  }

  &__map-btn {
    display: none;
  }

  &__banners {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, 1023px, 480px);
  }

  &__sticky-banner {
    position: sticky;
    top: calc(var(--header-height, --calback-header-height) + 10px);
    transition: all 0.3s;
  }

  &[data-grid="tiles"] {
    .catalogy-box__items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 20px 14px;

      & > *:not(.good-item) {
        grid-column: 1 / -1;
      }
    }
  }

  &__top-item {
    width: 100%;
  }

  @media (max-width: $lg-breakpoint) {
    &__filter {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &[data-grid="tiles"],
    &[data-grid="list"] {
      .catalogy__items-blocks {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .checkbox-box {
      display: none;
    }

    &__map-btn {
      display: flex;
    }

    .banner-status {
      position: relative;
      width: calc(100% + (var(--container-inline-padding) * 2));
      left: calc(var(--container-inline-padding) * -1);
      border-radius: var(--radius-base);
    }

    &__filter {
      display: flex;
      flex-direction: column;
    }

    &__item {
      gap: calculate-clamp(12px, 20px, 1280px, 1023px);
    }
  }
}

body.scrollBottom {
  .catalogy-box {
    &__sticky-banner {
      top: calc(10px);
    }
  }
}
