.catalogy {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: auto 280px;
    gap: 32px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: var(--gap-blocks);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__filters-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__items-blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
