.check {
  cursor: pointer;
  width: 100%;

  &__info {
    input {
      @include visually-hidden;

      &:checked + .check__info-content {
        text-shadow: 0.1px 0 0 currentColor, -0.1px 0 0 currentColor,
          0 0.1px 0 currentColor, 0 -0.1px 0 currentColor;
        background-color: var(--secondary-color-200);
        color: var(--secondary-color-300);
      }
    }

    .check__info-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: calculate-clamp(2px, 6px, 1500px, 767px) calculate-clamp(8px, 12px, 1500px, 767px);
      min-height: calculate-clamp(32px, 40px, 1012px, 767px);
      font-weight: var(--weight-font-main);
      border-radius: var(--radius-base);
      transition: all 0.5s;
      text-shadow: none;
      
    }
  }

  &__info-content {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon {
      padding: 0;
      min-height: 0;
    }
  }
}

.check-simple {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;

  &--center {
    .check-simple {
      &__content {
        align-items: center;
      }
    }
  }

  &.error {
    .check-simple {
      &__errors {
        display: flex;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  &__custom {
    input {
      @include visually-hidden;

      &:checked + span {
        background-color: var(--secondary-color-100);
        border-color: var(--secondary-color-100);

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      border-radius: var(--radius-sm);
      border: 1px solid var(--gray-color-400);
      transition: all 0.2s;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        opacity: 0;
        visibility: hidden;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3Cpath fill='white' d='M530.8 134.1C545.1 144.5 548.3 164.5 537.9 178.8L281.9 530.8C276.4 538.4 267.9 543.1 258.5 543.9C249.1 544.7 240 541.2 233.4 534.6L105.4 406.6C92.9 394.1 92.9 373.8 105.4 361.3C117.9 348.8 138.2 348.8 150.7 361.3L252.2 462.8L486.2 141.1C496.6 126.8 516.6 123.6 530.9 134z'/%3E%3C/svg%3E");
        transition: all 0.2s;
      }
    }
  }

  &__errors {
    display: none;
    flex-direction: column;
    gap: 6px;
    color: var(--primary-color-500);
  }
}

.check-without-input {
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: var(--radius-base);
  background-color: var(--gray-color-200);
  align-items: center;

  &.selected {
    .check-without-input {
      &__check {
        background-color: var(--secondary-color-100);
      }
    }
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border: 1px solid var(--gray-color-600);
    background-color: var(--white-color);
    border-radius: var(--radius-sm);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.check-switch {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;

  &__box {
    background-color: var(--gray-color-300);
    padding: 4px;
    border-radius: var(--radius-xl);
    width: 48px;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s;

    input {
      @include visually-hidden;

      &:checked + .check-switch__decor {
        background-color: var(--secondary-color-100);
        margin-left: auto;
      }
    }

    &:hover {
      background-color: var(--secondary-color-200);

      .check-switch__decor {
        animation: left-right 0.5s;
      }
    }

    &:has(input:checked) {
      background-color: var(--secondary-color-200);
    }
  }

  &__decor {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px 0px #a6afc366;
    transition: all 0.3s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

@keyframes left-right {
  0% {
    transform: translateX(-2px);
  }

  20% {
    transform: translateX(2px);
  }

  40% {
    transform: translateX(-2px);
  }

  60% {
    transform: translateX(2px);
  }

  80% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0px);
  }
}
