.comments {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 24px, 1279px, 1023px); 

    p {
      font-size: calculate-clamp(14px, 16px, $tablet-breakpoint, $mobile-breakpoint);
    }
  }
}

.comments-box {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(20px, 24px, 1279px, 1023px);


  &__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 24px, 1279px, 1023px);
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__forms,
  &__details {
    display: none;
    flex-direction: column;
    gap: 12px;
  }

  &.active-form {
    .comments-box {
      &__forms {
        display: flex;
      }
    }
  }

  &.active-status {
    .comments-box {
      &__details {
        display: flex;
      }
    }
  }
}

.comments-item {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(8px, 10px, 767px, 480px);;
  background-color: var(--gray-color-100);
  padding: 12px 16px;
  border-radius: var(--radius-md);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 100%;

    // &:has(.comments-item__rating):has(.comments-item__author) {
    //   > * {
    //     border-bottom-left-radius: var(--radius-sm);
    //     border-top-left-radius: var(--radius-sm);
    //   }
    // }
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 8px;
  }


  // &__rating {
  //   padding: 7px 16px;
  //   gap: 4px;

  //   .icon {
  //     width: 16px;
  //     height: 16px;
  //   }
  // }

  &__author {
    > *:not(:last-child) {
      display: flex;
      align-items: center;
      padding-right: 15px;
      position: relative;

      &:before {
        position: absolute;
        content: "/";
        height: 100%;
        width: 7px;
        right: 0;
        top: 0;
        color: var(--primary-color-100);
      }
    }
  }

  @media (max-width: $lg-breakpoint) {
    padding: 16px;
  }

  @media (max-width: $tablet-breakpoint) {
    .badge--rating {
      background-color: var(--white-color);
    }
  }
}

