.companies-info {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 28px, 1280px, 1023px);
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 32px, 1280px, 1023px);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 24px, 1280px, 1023px);
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: calculate-clamp(8px, 32px, 1280px, 1023px);
  }

  &__sort-item {
    max-width: calculate-clamp(214px, 250px, 1280px, 1023px);
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calculate-clamp(24px, 40px, 1280px, 1023px);

    .pagination {
     justify-content: flex-start;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: $mobile-breakpoint) {
    &__sort-item {
      max-width: calculate-clamp(160px, 214px, 767px, 480px);
      width: 100%;
    }
  }
}
