.companies {
  &__banners {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__sticky {
    position: sticky;
    top: calc(var(--header-height, var(--calback-header-height)) + 10px);
    transition: all .3s;
  }

  @media (max-width: $md-desktop-breakpoint) {
    &__banners {
      display: none;
    }
  }
}

body.scrollBottom {
  .companies {
    &__sticky {
      top: 10px;
    }
  }
}
