.companies-detail {
  &__info,
  &__item {
    width: 100%;
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item-boxs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item-swiper {
    min-width: 0;
    width: 100%;
  }
}
