.companies-detail {
  &__info,
  &__item {
    width: 100%;
  }

  &__info {
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, $lg-breakpoint, $tablet-breakpoint);
  }

  &__item-block {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 24px, $lg-breakpoint, $tablet-breakpoint);
    justify-content: space-between;
  }

  &__item-boxs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item-swiper {
    min-width: 0;
    width: 100%;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__top-inner {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    width: 100%;
  }

  &__top-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calculate-clamp(12px, 16px, $lg-breakpoint, $mobile-breakpoint)
      calculate-clamp(20px, 32px, $lg-breakpoint, $mobile-breakpoint);

    @media (max-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__aside {
    .companies-detail__item-block {
      align-items: flex-start;
    }
  }

  @media (max-width: $md-desktop-breakpoint) {
    &__item-wrapper {
      display: flex;
      gap: 20px;
    }
  }

  @media (max-width: $md-desktop-breakpoint) and (min-width: calc($tablet-breakpoint + 1px)) {
    // &__item-block {
    //   &--md-end {
    //     align-items: flex-end;
    //   }
    // }

    &__aside {
      max-width: 280px;
      width: 100%;

      .companies-detail__item-block {
        align-items: flex-end;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    overflow: hidden;

    &__top {
      gap: 20px;
    }

    &__item-wrapper {
      flex-direction: column;
      gap: 48px;
    }

    &__top-inner {
      flex-direction: column;
      gap: var(--gap-blocks-small);
      align-items: normal;

      .contact-aside {
        width: 100%;
      }
    }
  }
}
