.companies-filter {
  --gap-items: 8px;
  --count-items: 4;
  --item-width: calc(
    (100% / var(--count-items, 4) + 24px) - var(--gap-items, 8)
  );

  display: grid;
  grid-template-columns: var(--item-width) var(--item-width) var(--item-width);
  grid-auto-columns: auto;
  grid-auto-flow: column;
  gap: var(--gap-items);

  &--bg {
    padding: 8px 0;
  }


  &--six {
    --count-items: 6;
  }

  &--property {
    --gap-items: 8px;
    --item-width: calc((100% / 5) + 12px);
    // grid-template-columns: var(--item-width) var(--item-width) var(--item-width) var(--item-width);
    grid-template-columns: repeat(4, calc(100% / 5)) auto;

    @media (max-width: $tablet-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-columns: unset;
      grid-auto-flow: unset;
      gap: 8px;

      & > *:nth-child(-3n + 3) {
        grid-column: 1 / -1;
      }
    }
  }

  &--map {
    @media (max-width: $lg-breakpoint) {
      --count-items: 4;
    }

    @media (max-width: $tablet-breakpoint) {
      grid-template-columns: 40px calc(100% - 80px - var(--gap-items)) 40px;
    }
  }

  &--sort {
    @media (max-width: $tablet-breakpoint) {
      grid-template-columns: repeat(10, 1fr);
      grid-auto-flow: unset;

      & > * {
        &:nth-child(1) {
          grid-column: span 6;
        }

        &:nth-child(2) {
          grid-column: span 4;
        }

        &:nth-child(3) {
          grid-column: span 7;
        }

        &:nth-child(4) {
          grid-column: span 3;
        }
      }
    }
  }
}
