.contact-form {
  background-color: var(--white-color);
  border: 4px solid var(--secondary-color-200);
  border-radius: var(--radius-xl);
  padding: 12px 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &__head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  &__content,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btns {
    display: grid;
    gap: 10px;
  }
}
