.construction-sibebar {
  .companie-card {
    height: 100%;
    
    &__content {
      justify-content: space-between;
    }

    &__img-block {
      aspect-ratio: unset;
    }

    &--empty {
      .companie-card {
        &__img-block {
          aspect-ratio: 1 / 1;
          width: 100px;
          background-color: transparent;
        }
      }
    }

   

    @media (max-width: $lg-breakpoint) {
      padding: 8px;

      &__content {
        gap: 8px;
      }

      &__info {
        order: 1000;
      }

      &__footer {
        .decor-el {
          background-color: var(--gray-color-200);
          border-radius: var(--radius-md);
          padding: 2px 6px;
          min-height: 20px;
        }
      }
    }
  }

  .swiper-slide {
    height: auto;
  }
}
