.contact-aside {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;

    .button {
      width: 100%;
    }

    &--one {
      display: flex;
      flex-direction: column;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
