.contact-form-aside {
  background-color: var(--secondary-color-200);
  border-radius: var(--radius-md);
  overflow: hidden;
  padding: 4px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px 12px 12px;
  }

  &__logo {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: var(--radius-sm);

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--white-color);
    padding: 16px 8px 8px;
    border-radius: 0 0 var(--radius-md) var(--radius-md);
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    .button {
      padding-inline: 10px;
    }
  }

  &__footer-item-big {
    grid-column: span 2;
  }
}
