.dot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--dark-color-200);

  &--secondary-color-100 {
    background-color: var(--secondary-color-100);
  }

  &--primary-color-100 {
    background-color: var(--primary-color-100);
  }

  &--green-color-100 {
    background-color: var(--green-color-100);
  }
}
