.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: var(--font-size-xs);

  &.active {
    .arrow {
      rotate: -180deg;
    }

    .dropdown {
      &__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s;

    &.icon {
      width: 10px;
      height: 10px;
    }
  }

  &--gray {
    .dropdown {
      &__content {
        background-color: var(--gray-color-200);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    gap: 8px;
    color: inherit;
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--gray-color-400);
    padding: 4px;
    overflow: hidden;
    z-index: 100;
    border-radius: var(--radius-md);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    background-color: var(--white-color);

    &.left {
      right: 0;
      left: auto;
    }

    &.right {
      left: 0;
      right: auto;
    }

    &.bottom {
      bottom: 100%;
      top: auto;
    }

    .top {
      top: 100%;
      bottom: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  .check {
    display: none;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--secondary-color-100);
    color: var(--white-color);

    .icon {
      width: 7px;
      height: 6px;
    }
  }

  &__item {
    padding: 4px 10px;
    display: flex;
    border-radius: var(--radius-base);
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-color-100);
    }

    &.active {
      background-color: var(--gray-color-200);
    }
  }

  &--price {
    &:has(.input-box [data-type="price_min"].has-value),
    &:has(.input-box [data-type="price_max"].has-value) {
      .dropdown__btn {
        border-color: var(--secondary-color-100);
        color: var(--secondary-color-100);

        .check {
          display: flex;
        }

        .arrow {
          margin-left: auto;
        }
      }
    }

    .dropdown__content {
      .input-box__info {
        padding: 8px;
      }
    }

    .dropdown__btn {
      background-color: var(--white-color);

      &.input-box__info {
       padding-block: 4px;
      }
    }
  }

  &--simple {
    .dropdown {
      &__content {
        width: fit-content;
        max-width: 200px;
        left: 50%;
        padding: 8px;
        transform: translateX(-50%);
        white-space: nowrap;
      }
    }
  }

  &--dark-color-500 {
    .dropdown__btn {
      color: var(--dark-color-500);
    }
  }

  @media (max-width: 479px) {
    &__toggle {
      justify-content: space-between;
    }
  }
}

.dropdown-number {
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    border-radius: var(--radius-sm);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--secondary-color-300);
    cursor: pointer;
    transition: all 0.3s;

    &.active {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
    }

    &:hover {
      background-color: var(--gray-color-100);
      color: var(--secondary-color-300);
    }
  }

  &__content {
    background-color: var(--secondary-color-200);
    border-radius: var(--radius-base);
    border: none;
  }
}
