.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: var(--font-size-xs);

  &.active {
    .arrow {
      rotate: -180deg;
    }

    .dropdown {
      &__content {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all 0.5s;

    &.icon {
      width: 10px;
      height: 10px;
    }
  }

  &--gray {
    .dropdown {
      &__content {
        background-color: var(--gray-color-200);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid var(--gray-color-400);
    padding: 4px;
    overflow: hidden;
    z-index: 100;
    border-radius: var(--radius-md);
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    background-color: var(--white-color);

    &.left {
      left: 0;
      right: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  .check {
    display: none;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: var(--secondary-color-100);
    color: var(--white-color);

    .icon {
      width: 7px;
      height: 6px;
    }
  }

  &__item {
    padding: 4px 10px;
    display: flex;
    border-radius: var(--radius-base);
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      background-color: var(--gray-color-100);
    }

    &.active {
      background-color: var(--gray-color-200);
    }
  }

  &--price {
    &:has(.input-box [data-type="price_min"].has-value):has(
        .input-box [data-type="price_max"].has-value
      ) {
      .dropdown__btn {
        border-color: var(--secondary-color-100);
        color: var(--secondary-color-100);

        .check {
          display: flex;
        }

        .arrow {
          margin-left: auto;
        }
      }
    }
  }

  &--simple {
    .dropdown {
      &__content {
        width: 144px;
        left: 50%;
        padding: 8px;
        transform: translateX(-50%);
      }
    }
  }

  @media (max-width: 479px) {
    &__toggle {
      justify-content: space-between;
    }
  }
}
