.filter {
  --gap-items: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: calc(var(--header-height, 140px));
  background-color: var(--gray-color-100);
  z-index: 10;
  transition: all 0.5s;
  text-wrap: nowrap;

  &.filter--sticky {
    padding: 8px 0;
    backdrop-filter: blur(4px);
    background-color: #ffffffb2;
  }

  &__items,
  &__box {
    gap: var(--gap-items);
  }

  &__items {
    display: grid;
    grid-template-columns: auto 91px auto 160px 160px auto auto auto;
    justify-content: space-between;
    width: 100%;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__details {
    --gap-details: 24px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--gap-details);
    transition: all 0.5s;

    & > *:not(:last-child) {
      position: relative;
      padding-right: var(--gap-details);

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
        background-color: var(--dark-color-700);
      }
    }
  }

  &__details-block {
    display: flex;
    align-items: center;
    gap: var(--gap-details);
  }
}

body.scrollBottom {
  .filter {
    position: sticky;
    top: 0;
  }
}
