.filter {
  --gap-items: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  z-index: 100;
  transition: all 0.5s;
  text-wrap: nowrap;
  top: calc(var(--header-height, var(--calback-header-height)) + 10px);

  &--bg {
    padding: 8px 0;
    background-color: var(--gray-color-100);
  }

  &--big {
    .filter {
      &__item {
        width: 100%;
      }

      &__items {
        grid-template-columns: calculate-clamp(250px, 650px, 1920px, 1600px) 91px auto 160px 160px 110px auto auto auto;
        justify-content: flex-start;

        @media (max-width: $xl-desktop-breakpoint) {
          display: flex;

          .filter__item {
            // .button {
            //   width: 100%;
            // }

            &:has(.button),
            &:has(.checkbox-box) {
              width: fit-content;
            }

            &:has(.select-box--search) {
              width: calculate-clamp(170px, 250px, 1439px, 1023px);
              flex-shrink: 0;
            }

            .button--cub {
              width: calculate-clamp(40px, 48px, 1023px, 767px);
            }
          }
        }

        @media (max-width: $lg-breakpoint) {
          --font-size-xs: 14px;
        }

        @media (max-width: $tablet-breakpoint) {
          display: grid;
          grid-template-columns: 40px calc(100% - 80px - 16px) 40px;

          .filter__item {
            &:not(:has(.button)) {
              width: 100%;
            }
          }
        }
      }
    }

    .ts-control {
      max-width: 100%;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__items,
  &__box {
    gap: var(--gap-items);
  }

  &__items {
    display: grid;
    grid-template-columns: 260px 91px auto 160px 160px auto auto auto;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__details {
    --gap-details: 24px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--gap-details);
    transition: all 0.5s;

    & > *:not(:last-child) {
      position: relative;
      padding-right: var(--gap-details);

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
        background-color: var(--dark-color-700);
      }
    }
  }

  &__details-block {
    display: flex;
    align-items: center;
    gap: var(--gap-details);
  }

  &__itog {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (max-width: $desktop-breakpoint) and (min-width: $tablet-breakpoint) {
    &__items {
      display: flex;
    }

    &__item {
      &:not(:has(.button)) {
        width: 100%;
      }

      &:has(.select-box--search) {
        max-width: 390px;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__items {
      display: grid;
      grid-template-columns: 40px calc(100% - 80px - 16px) 40px;
    }
  }
}

.filter-box {
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  z-index: 100;
  top: calc(var(--header-height, var(--calback-header-height)) + 10px);
  position: sticky;

  .container {
    width: 100%;
  }

  &:has(.filter.filter--sticky) {
  }
}

body.scrollBottom {
  .filter {
    top: 0;
  }
}

body.scrollBottom,
body.scrollTop:not(.scrollVisible) {
  // @media (min-width: $tablet-breakpoint) {
  .filter {
    border-color: var(--gray-color-600);
    backdrop-filter: blur(4px);
    background-color: var(--white-color-170);
    padding: 8px 0;

    &__details,
    &__info {
      opacity: 0;
      transition: all 0s;
      position: absolute;
      pointer-events: none;
      visibility: hidden;
    }

    & > * {
      max-width: var(--container-width);
      margin: 0 auto;
      padding-inline: var(--container-inline-padding);
      width: 100%;
    }

    &__item {
      .button,
      .input-box__info,
      .select-box .ts-control {
        min-height: 40px;
      }

      .button,
      .input-box__info,
      .select-box .ts-control {
        padding: 4px 16px;
      }

      .check__info .check__info-content {
        padding-block: 2px;
        min-height: 30px;
      }
    }
  }
  // }
}
