.filter {
  --gap-items: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  position: sticky;
  top: calc(var(--header-height, var(--calback-header-height)));
  background-color: var(--gray-color-100);
  z-index: 100;
  transition: all 0.5s;
  text-wrap: nowrap;
  z-index: 100;

  &.filter--sticky {
    padding: 8px 0;
    backdrop-filter: blur(4px);
    background-color: #ffffffb2;
  }

  &--bg {
    padding: 8px 0;
    background-color: var(--gray-color-100);
  }

  &--big {
    .filter {
      &__item {
        width: 100%;
      }

      &__items {
        grid-template-columns: 40% 91px auto 160px 160px 110px auto auto auto;
        justify-content: flex-start;
      }
    }

    .ts-control {
      max-width: 100%;
    }
  }

  &__items,
  &__box {
    gap: var(--gap-items);
  }

  &__items {
    display: grid;
    grid-template-columns: 260px 91px auto 160px 160px auto auto auto;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__details {
    --gap-details: 24px;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--gap-details);
    transition: all 0.5s;

    & > *:not(:last-child) {
      position: relative;
      padding-right: var(--gap-details);

      &:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 90%;
        background-color: var(--dark-color-700);
      }
    }
  }

  &__details-block {
    display: flex;
    align-items: center;
    gap: var(--gap-details);
  }

  @media (max-width: $desktop-breakpoint) {
    &__items {
      display: flex;
    }

    &__item {
      &:not(:has(.button)) {
        width: 100%;
      }
    }
  }

  @media (max-width: $mobile-breakpoint) {
    &__items {
      display: grid;
      grid-template-columns: 40px calc(100% - 80px - 16px) 40px;
    }
  }
}

body.scrollBottom {
  .filter {
    position: sticky;
    top: 0;
  }
}
