.floor-plan {
  --height-img-small: #{calculate-clamp(235px, 275px, 1279px, 1023px)};

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &--big {
    .floor-plan {
      &__img-box {
        padding: 16px;
        border-radius: var(--radius-base);
        min-height: calculate-clamp(420px, 560px, 1279px, 1023px);
      }

      &__img {
        height: 95%;

        img {
          height: 95%;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  &__img-box {
    width: 100%;
    border-radius: var(--radius-md);
    overflow: hidden;
    border: 1px solid var(--gray-color-600);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    min-height: calculate-clamp(280px, 320px, 1279px, 1023px);
  }

  &__img {
    width: 90%;
    height: var(--height-img-small);
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: var(--height-img-small);
      object-fit: cover;
    }
  }

  &__decors {
    z-index: 3;
    margin: auto 0 0 auto;
  }

  @media (max-width: $tablet-breakpoint) {
    &__img-box {
      min-height: 316px;
      align-items: flex-start;
    }

    &--big {
      .floor-plan {
        &__img {
          position: static;
          text-align: center;
          height: auto;
          width: 100%;

          img {
            height: calculate-clamp(205px, 300px, 767px, 480px);
            object-fit: contain;
          }
        }

        &__img-box {
          padding: 0;
          border: none;
          border-radius: 0;
          display: flex;
          flex-direction: column-reverse;
          gap: 24px;
          min-height: 0;
          
        }

        &__content {
          align-items: normal;
        }

        &__decors {
          margin: 0;
          width: 100%;
        }
      }
    }
  }
}
