.floor-plan {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &--big {
    .floor-plan {
      &__img-box {
        padding: 16px;
        border-radius: var(--radius-base);
        min-height: 560px;
      }

      &__img {
        height: 95%;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  &__img-box {
    width: 100%;
    border-radius: var(--radius-md);
    overflow: hidden;
    border: 1px solid var(--gray-color-600);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    min-height: calculate-clamp(280px, 320px, 1279px, 1023px);
  }

  &__img {
    width: 90%;
    height: 275px;
    position: absolute;
    z-index: 2;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__decors {
    z-index: 3;
    margin: auto 0 0 auto;
  }
}
