.floor {
  --gap-items: #{calculate-clamp(20px, 32px, 1279px, 1023px)};

  display: flex;
  flex-direction: column;
  gap: calculate-clamp(20px, 32px, 1279px, 1023px);
  width: 100%;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-items);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__filter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }


  &__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap-items);
    align-items: center;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  @media (max-width: $tablet-breakpoint) {
    --gap-items: 16px;
    
    &__top ,
    &__content{
      display: flex;
      flex-direction: column;
      align-items: normal;
    }

    &__block {
      gap: 16px;
    }
  }
}
