@mixin bg-item {
  background-color: var(--gray-color-100);
  padding: 12px;
  border-radius: var(--radius-md);
}

.footer {
  --grid-template-columns: 32% auto;
  --gap-inner: #{calculate-clamp(24px, 32px, 1024px, 480px)};

  display: flex;
  flex-direction: column;
  gap: calculate-clamp(24px, 48px, 1023px, 480px);
  background-color: var(--gray-color-200);

  &__lists {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(8px, 32px, 1023px, 480px);
  }

  &__list-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--dark-color-400);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px calculate-clamp(8px, 24px, 1023px, 480px);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  @media (max-width: $lg-breakpoint) {
    &__list-box {
      @include bg-item;
    }
  }
}

.footer-top {
  padding-top: calculate-clamp(24px, 48px, 1023px, 480px);

  &__inner {
    display: grid;
    gap: var(--gap-inner);
    grid-template-columns: var(--grid-template-columns);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
  }

  &__block,
  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__detail {
    .social {
      display: none;
    }
  }

  &__copy {
    display: none;
  }

  @media (max-width: $lg-breakpoint) {
    &__inner {
      display: flex;
      flex-direction: column;
    }

    &__content {
      display: contents;
    }

    &__form {
      order: 1000;
      @include bg-item;
    }

    &__detail {
      gap: 24px;
      align-items: center;

      .social {
        display: flex;
      }

      .footer__copy {
        display: none;
      }
    }

    &__copy {
      display: flex;
      text-align: center;
      justify-content: center;
      order: 100000;
    }
  }

  @media (max-width: 600px) {
    .footer__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .link {
        &.medium-font {
          font-weight: var(--weight-font-main);
        }
      }
    }

    &__form {
      align-items: center;
    }

    &__inputs {
      width: 100%;
    }
  }
}

.footer-bottom {
  background-color: var(--white-color);

  &__inner {
    display: grid;
    gap: var(--gap-inner);
    grid-template-columns: var(--grid-template-columns);
    padding: 8px 0;
  }

  @media (max-width: $lg-breakpoint) {
    &__inner {
      display: flex;
      flex-direction: column;
    }

    .footer__list {
      justify-content: center;
    }

    .social {
      display: none;
    }
  }
}
