.form-reply {
  padding: 24px;
  background-color: var(--secondary-color-300);
  border-radius: var(--radius-xl);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--white-color);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__content,
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
  }

  &__item {
    &--big {
      grid-column: 1 / -1;
    }
  }

  &__btns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 12px;
  }

  .rating {
    align-items: flex-start;
    gap: 8px;

    .rating-stars {
        flex:1;
    }
  }
}
