.gallery-simple {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  height: 523px;

  --gap-small-items: 8px;

  &__swiper-big,
  &__swiper-small {
    height: 100%;
    min-width: 0;
    width: 100%;
  }

  &__swiper-small {
    max-width: 280px;
  }

  &__swiper-big {
    padding: 12px;

    .swiper {
      position: absolute;
      inset: 0;
    }
  }

  &__swiper-small {
    .gallery-simple {
      &__img-box {
        height: 100%;
        border-radius: var(--radius-base);
        overflow: hidden;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all .3s;

        &:hover {
          border-color: var(--secondary-color-100);
        }
      }
     
    }
  }

  .swiper {
    height: 100%;
  }

  &__item {
    position: relative;
    border-radius: var(--radius-base);
    overflow: hidden;
    height: 100%;
  }

  &__img-box {
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    &--info {
      margin-top: auto;
    }
  }
}
