.gallery {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  &__item {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--dark-color-700);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
    }

    &--big {
      grid-column: span 2;
      grid-row: span 2;
    }

    &.modal-open {
      cursor: pointer;
    }
  }

  &__modile {
    display: none;
  }
}
