.gallery-caption {
  width: 100%;

  &__inner {
    border-radius: var(--radius-base);
    width: 100%;
    padding: 4px;
    position: relative;
    min-height: calculate-clamp(220px, 414px, 767px, 480px);
    display: flex;
    align-items: flex-end;
  }

  &__swiper-box {
    border-radius: inherit;
    min-width: 0;
    width: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
  }

  &__content {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid var(--gray-color-300);
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-color: #d6e9eccc;
    border-radius: var(--radius-base);
    position: relative;
    z-index: 2;
  }

  &__item,
  .swiper {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

  &__img {
    width: 100%;
    height: 100%;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__inner {
      border-radius: var(--radius-md);
    }

    &__content {
      display: none;
    }
  }
}
