.gallery-simple {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  height: calculate-clamp(414px, 523px, 1439px, 1023px);

  --gap-small-items: 8px;

  &--big {
    height: calculate-clamp(414px, 608px, 1439px, 1023px);

    .gallery-simple {
      &__item {
        border-radius: var(--radius-md);
      }
    }
  }

  &__swiper-big,
  &__swiper-small {
    height: 100%;
    min-width: 0;
    width: 100%;
  }

  &__swiper-small {
    max-width: 280px;
  }

  &__swiper-big {
    padding: 12px;

    .swiper {
      position: absolute;
      inset: 0;
      z-index: 11;
    }
  }

  &__swiper-small {
    .gallery-simple {
      &__img-box {
        height: 100%;
        border-radius: var(--radius-base);
        overflow: hidden;
        cursor: pointer;
        border: 2px solid transparent;
        transition: all 0.3s;

        &:hover {
          // border-color: var(--secondary-color-100);
        }
      }
    }
  }

  .swiper {
    height: 100%;
  }

  &__item {
    position: relative;
    border-radius: var(--radius-base);
    overflow: hidden;
    height: 100%;
  }

  &__img-box {
    width: 100%;
    height: 100%;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-slide {
    &.modal-open {
      cursor: pointer;
    }
  }

  &__details {
    position: absolute;
    inset: 12px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    position: absolute;
    z-index: 11;

    &--info {
      top: 12px;
      left: 12px;
    }

    &--decor {
      left: 12px;
      bottom: 12px;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__swiper-small {
      display: none;
    }

    &__item {
      border-radius: var(--radius-2xl);
    }

    &__tags {
      top: 8px;
      left: 8px;
      right: auto;
      bottom: auto;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    height: calculate-clamp(270px, 414px, 767px, 480px);
    position: relative;
    width: calc(100% + (var(--container-inline-padding) * 2));
    left: calc(var(--container-inline-padding) * -1);

    &--big {
      height: calculate-clamp(270px, 414px, 767px, 480px);

      .gallery-simple {
        &__item {
          border-radius: 0;
        }
      }
    }

    &__item {
      border-radius: 0;
    }
  }
}
