.good-item {
  --radius-card: var(--radius-lg);

  display: grid;
  grid-template-columns: 40% auto;
  border-radius: var(--radius-card);
  background-color: var(--white-color);
  min-height: 280px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  // height: 100%;

  &--column {
    display: flex;
    flex-direction: column;
    height: 100%;

    .good-item {
      --radius-card: var(--radius-xl);

      &__swiper-box {
        aspect-ratio: 4 / 3;
        height: 220px;
      }

      &__content {
        padding: 12px;
        gap: 12px;
        border-radius: 0 0 var(--radius-card) var(--radius-card);
        border-top: none;
      }

      &__top-box {
        align-items: flex-start;

        .good-item__logo {
          display: flex;
        }
      }

      &__top {
        gap: 2px;
      }

      &__title {
        font-size: var(--font-size-base2);
      }

      &__desc {
        font-size: var(--font-size-xs);
      }

      &__header {
        .tag,
        .list-icon {
          .p2 {
            font-size: var(--font-size-2xs);
          }
        }
      }

      &__footer {
        .good-item__logo {
          display: none;
        }
      }
    }
  }

  &:hover {
    &:not(.good-item--noShadow) {
      box-shadow: 0px 10px 15px 0px #050d1d2e;
    }

    .good-item {
      &__decors-img {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &--small {
    .good-item {
      &__content {
        padding: 12px;
      }
    }
  }

  &--big {
    .good-item {
      &__content {
        padding: 20px;
        gap: 20px;
      }

      &__header {
        gap: 12px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 16px 20px;
    border: 1px solid var(--gray-color-600);
    flex: 1;
    border-radius: 0 var(--radius-card) var(--radius-card) 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  &__top-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .good-item {
      &__logo {
        display: none;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 50px;
    height: 40px;
    flex-shrink: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  &__swiper-box {
    position: relative;
    height: 100%;
    aspect-ratio: 20 / 17;
    width: 100%;

    .swiper {
      width: 100%;
      height: 100%;
    }
  }

  &__btns {
    * {
      line-height: 1;
    }
  }

  &__img-box {
    position: absolute;
    inset: 0;
  }

  &__img-item {
    width: 100%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }

  &__decor {
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 8px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__decors-img {
    opacity: 0;
    transition: all 0.1s;
  }

  &__top-btns {
    display: flex;
    gap: 4px;
  }

  @media (max-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;

    &__btns {
      width: 100%;

      .button {
        &:first-child {
          width: 100%;
        }
      }
    }

    &__decors-img {
      opacity: 1;
      visibility: visible;
    }
  }
}
