@mixin column-item {
  flex-direction: column;

  .good-item {
    &__content {
      padding: 12px;
      flex: 1;

      .p2 {
        font-size: var(--font-size-2xs);
      }

      .h5 {
        font-size: 22px;
      }
    }

    &__logo {
      display: none;
    }

    &__swiper-box {
      max-width: 100%;
    }

    &__img-box {
      min-height: 220px;
      max-height: calculate-clamp(220px, 230px, 767px, 480px);
    }
  }
}

.good-item {
  display: flex;
  background-color: var(--white-color);
  border-radius: var(--radius-xl);
  overflow: hidden;
  border: 1px solid var(--gray-color-400);

  &--column {
    @include column-item;
  }

  &--mini {
    .good-item {
      &__swiper-box {
        max-width: 300px;
      }
     

      &__img-box {
        min-height: 240px;
        max-height: 100%;
      }
    }
  }

  &__swiper-box {
    min-width: 0;
    max-width: 360px;
    width: 100%;
    position: relative;

    .swiper,
    .swiper-wrapper,
    .swiper-slide {
      height: 100%;
    }
  }

  &__img-box {
    width: 100%;
    height: 100%;
    min-height: 306px;
    max-height: 400px;
    background-color: var(--dark-color-800);
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__decor {
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 20px;
    width: 100%;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__block {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    .icon {
      width: 24px;
      height: 24px;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: auto;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    width: 50px;
    height: 40px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  @media(max-width:767px) {
    .list-icon {
      display: none;
    }
  }
}


