.guide-item {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__header {
    display: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--secondary-color-200);
    padding: 4px 8px;
    border-radius: var(--radius-base);

    .icon {
      color: var(--secondary-color-100);
    }
  }

  &__info {
    padding: 4px 16px 4px 4px;
    border: 1px solid var(--gray-color-600);
    background-color: var(--gray-color-100);
    border-radius: var(--radius-md);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__img {
    border-radius: var(--radius-base);
    overflow: hidden;
    width: calculate-clamp(60px, 80px, 1439px, 1023px);
    height: calculate-clamp(60px, 80px, 1439px, 1023px);
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  }

  &__budges {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media (max-width: $lg-breakpoint) {
    &__header {
      display: flex;
    }

    &__info {
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      border: none;
    }

    &__content {
      
    }
  }
}
