.guide-item {
  padding: 4px 16px 4px 4px;
  border: 1px solid var(--gray-color-600);
  background-color: var(--gray-color-100);
  border-radius: var(--radius-md);
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 16px;

  &__img {
    border-radius: var(--radius-base);
    overflow: hidden;
    width: 80px;
    height: 80px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
