.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  right: 0;
  transition: all 0.5s;

  &.scrollBottom {
    transform: translateY(-100%);
  }
}

.header-top {
  padding: 8px 0;
  background-color: var(--gray-color-100);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__media {
    display: none;
  }

  &__details {
    --gap-blocks: #{calculate-clamp(16px, 24px, 767px, 480px)};

    display: flex;
    align-items: center;
    gap: var(--gap-blocks);

    @media (min-width: 1024px) {
      & > *:not(:last-child) {
        padding-right: var(--gap-blocks);
        border-right: 1px solid var(--gray-color-400);
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: calculate-clamp(16px, 24px, 1500px, 1023px);
  }

  &__lists-items {
    --paddig-inline: 12px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  &__lists-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__list-box {
    display: flex;
    flex-direction: column;
  }

  &__list-block {
    padding: 4px var(--paddig-inline);
    display: flex;
    flex-direction: column;
    gap: 5px;

    .button {
      justify-content: flex-start;
    }

    .link {
      min-height: 0;
    }
  }

  .list-popup {
    &:hover {
      color: var(--secondary-color-100);

      .list-popup {
        &__btn {
          &:hover {
            color: var(--secondary-color-100);
          }
        }
      }
    }
  }

  &__list-head {
    display: flex;
    align-items: center;
    min-height: 30px;
    font-size: var(--font-size-2xs);
    padding: 2px var(--paddig-inline);
    background-color: var(--gray-color-300);
    color: var(--dark-color-200);
    border-radius: var(--radius-md);
  }

  @media (max-width: $lg-breakpoint) {
    background-color: var(--white-color);

    &__info {
      order: 10000;

      .header-top {
        &__menu {
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
        }
      }

      .button--noBg {
        background-color: var(--gray-color-200);
        border: none;
        border-radius: var(--radius-base);
        padding: 2px 5px;
        min-height: 32px;

        .button__block {
          display: none;
        }

        .p4 {
          font-size: var(--font-size-2xs);
        }
      }

      .dropdown__content {
        min-width: 200px;
      }
    }

    &__details {
      margin-left: auto;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    display: none;

    &__media {
      display: flex;
    }
  }
}

.header-main {
  padding: calculate-clamp(19px, 27px, 1500px, 1023px) 0;
  background-color: var(--white-color);
  border-top: 1px solid var(--gray-color-200);
  border-bottom: 1px solid var(--gray-color-200);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__person {
    display: none;

    .icon {
      width: 24px;
      height: 24px;

      img,
      svg {
        width: 100%;
        height: 100px;
      }
    }
  }

  @media (max-width: $lg-breakpoint) {
    padding: 2px 0;
    border: none;
    background-color: var(--gray-color-200);
  }

  @media (max-width: $tablet-breakpoint) {
    padding: 19px 0;
    background-color: var(--white-color);
    border-bottom-left-radius: var(--radius-md);
    border-bottom-right-radius: var(--radius-md);
    border-top: none;
    border-bottom: 1px solid var(--gray-color-200);

    &__person {
      display: flex;
      order:1000;
    }

    .logo {
      > *:not(.logo__info) {
        display: none;
      }

      & > *:not(:last-child) {
        padding-right: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}
