.hero {
  --padding-inner-x: 36px;

  @mixin bg-inner {
    background-image: linear-gradient(
      128.81deg,
      #b1dafa -6.47%,
      #a5d2f3 52.47%,
      #c8deeb 110.2%
    );
  }

  &__inner {
    padding: calculate-clamp(42px, 68px, $lg-breakpoint, $tablet-breakpoint) var(--padding-inner-x) calculate-clamp(56px, 80px, $lg-breakpoint, $tablet-breakpoint);
    border-radius: var(--radius-2xl);
    overflow: hidden;
    @include bg-inner;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .2s;
  }

  &:has(.accordeon__item.active) {
    .hero {
      &__inner {
        padding-top: calculate-clamp(25px, 42px, $lg-breakpoint, $tablet-breakpoint);
        padding-bottom: calculate-clamp(25px, 42px, $lg-breakpoint, $tablet-breakpoint);;
      }

      &__content {
        gap: calculate-clamp(24px, 32px, $lg-breakpoint, $tablet-breakpoint);;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 32px, $lg-breakpoint, $tablet-breakpoint);
    max-width: calc(70% + (var(--padding-inner-x) * 2));
    width: 100%;
    margin: 0 auto;
    transition: all .2s;
    position: relative;
    z-index: 2;
  }

  &__img {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    color: var(--white-color);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  @media (max-width: $lg-breakpoint) {
    &__content {
      max-width: 100%;
    }

    &__img {
      display: none;
    }

    
  }

  @media (max-width: $tablet-breakpoint) {
    position: relative;

    &__inner {
      // background-image: none;
      // border-radius: 0;
      padding: 24px 16px 28px;
      overflow: visible;

      // &:before {
      //   content:"";
      //   position: absolute;
      //   z-index: 1;
      //   inset:0;
      //   @include bg-inner;
      //   bottom: 31%;
      //   border-radius: var(--radius-2xl);
      // }
    }

    &__head {
      max-width: 90%;
      // padding-inline: 16px;
    }

   
  }
}
