.hero-block {
  position: relative;
  min-height: calculate-clamp(368px, 608px, $lg-breakpoint, $tablet-breakpoint);
  padding: calculate-clamp(16px, 40px, $lg-breakpoint, $tablet-breakpoint)
    calculate-clamp(16px, 40px, $lg-breakpoint, $tablet-breakpoint)
    calculate-clamp(20px, 40px, $lg-breakpoint, $tablet-breakpoint);
  border-radius: var(--radius-xl);
  overflow: hidden;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 16px;

  &:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    height: calculate-clamp(200px, 200px, $lg-breakpoint, $tablet-breakpoint);
    backdrop-filter: blur(2px);
    background-image: linear-gradient(
      -180deg,
      rgba(17, 25, 40, 0.64) 0%,
      rgba(17, 25, 40, 0) 100%
    );
    z-index: 1;
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

    flex: 1;

    align-items: flex-start;
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    z-index: 2;
  }

  &__bottom {
    display: none;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: $lg-breakpoint) {
    &__footer {
      .button {
        border-radius: var(--radius-md);
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    border-radius: 0;
    padding: 0;
    min-height: 0;

    &:after {
      display: none;
    }


    &__content {
      position: relative;
      border-radius: var(--radius-md);
      padding: 8px;
      overflow: hidden;
      align-items: flex-end;
      min-height: calculate-clamp(196px, 368px, $tablet-breakpoint, $mobile-breakpoint);;
      

      .item-info {
        &__content {
          display: none;
        }
      }
    }

    &__footer {
      display: none;
    }

    &__bottom {
      display: flex;
    }
  }
}
