.hero {
  --padding-inner-x: 36px;

  @mixin bg-inner {
    background-image: linear-gradient(
      128.81deg,
      #b1dafa -6.47%,
      #a5d2f3 52.47%,
      #c8deeb 110.2%
    );
  }

  &__inner {
    padding: calculate-clamp(32px, 80px, 1023px, 767px) var(--padding-inner-x) calculate-clamp(36px, 40px, 1023px, 767px);
    border-radius: var(--radius-2xl);
    overflow: hidden;
    @include bg-inner;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .5s;
  }

  &:has(.accordeon__item.active) {
    .hero {
      &__inner {
        padding-top: calculate-clamp(20px, 40px, 1023px, 767px);
      }

      &__content {
        gap: calculate-clamp(12px, 36px, 1023px, 767px);;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(32px, 60px, 1023px, 767px);
    max-width: calc(70% + (var(--padding-inner-x) * 2));
    width: 100%;
    margin: 0 auto;
    transition: all .5s;
    position: relative;
    z-index: 2;
  }

  &__img {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;

    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  @media (max-width: $lg-breakpoint) {
    &__content {
      max-width: 100%;
    }

    &__img {
      display: none;
    }

    
  }

  @media (max-width: $tablet-breakpoint) {
    position: relative;

    &__content {
      gap: 24px;
    }

    &__inner {
      background-image: none;
      border-radius: 0;
      padding: 24px 16px 0;
      overflow: visible;

      &:before {
        content:"";
        position: absolute;
        z-index: 1;
        inset:0;
        @include bg-inner;
        bottom: 31%;
        border-radius: var(--radius-2xl);
      }
    }

    &__head {
      padding-inline: 16px;
    }

   
  }
}
