.input-box {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
  }

  &--gray {
    .input-box {
      &__info {
        background-color: var(--gray-color-200);
        border-color: var(--gray-color-200);
        color: var(--secondary-color-100);
      }
    }
  }

  &--gray-100 {
    .input-box {
      &__info {
        background-color: var(--gray-color-100);
        border-color: var(--gray-color-300);
        color: var(--dark-color-500);
      }
    }
  }

  &--white {
    .input-box {
      &__info {
        background-color: var(--white-color);
        border-color: var(--gray-color-600);
        color: var(--dark-color-200);
      }
    }
  }

  &--noBg {
    .input-box {
      &__info {
        background-color: transparent;
      }
    }
  }

  &--border {
    &-gray-600 {
      .input-box {
        &__info {
          border-color: var(--gray-color-600);
        }
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: calculate-clamp(40px, 48px, 1023px, 767px);
    border-radius: var(--radius-md);
    border: 1px solid var(--gray-color-400);
    padding: calculate-clamp(2px, 10px, 1023px, 767px)
      calculate-clamp(8px, 16px, 1023px, 767px);
    color: var(--dark-color-500);
    background-color: var(--white-color);
    justify-content: space-between;
    font-size: var(--font-size-xs);

    &:has(textarea) {
      padding: 12px 16px;
      min-height: 100px;
      align-items: flex-start;
    }

    input,
    textarea {
      width: 100%;
      background-color: transparent;
      cursor: pointer;
      color: var(--dark-color-200);
      resize: none;

      &::placeholder {
        font-size: var(--font-size-xs);
        color: var(--dark-color-500);
        font-weight: var(--weight-font-main);
      }
    }

    textarea {
      min-height: 96px;
      max-height: 210px;
    }

    &:focus,
    &:hover {
      border-color: var(--dark-color-600);
    }
  }

  &__errors {
    font-size: var(--font-size-3xs);
    color: var(--primary-color-500);
    padding: 0 15px;
    display: none;

    &--bg {
      background-color: var(--white-color);
      border-radius: var(--radius-base);
      width: fit-content;
    }
  }

  &__icon {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &__states {
    --color-content-states: var(--primary-color-500);

    display: none;
    flex-direction: column;
    gap: 8px;
    padding-top: 8px;
  }

  &__states-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    white-space: nowrap;
    color: var(--color-content-states);
  }

  &__states-line {
    background-color: var(--gray-color-300);
    border-radius: var(--radius-sm);
    overflow: hidden;
    width: 100%;
    height: 6px;

    div {
      height: 100%;
      width: 40%;
      background-color: var(--color-content-states);
      border-radius: var(--radius-sm);
    }
  }

  &__states-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__states-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__states-item {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--dark-color-600);

    &:before {
      content:"";
      border-radius: 50%;
      width: 16px;
      height: 16px;
      border: 1px solid var(--dark-color-600);
    }

    &.success {
      color: var(--green-color-100);

      &:before {
        border: none;
        border-radius: 0;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M2.66602 8.00004L5.96585 11.2999L13.0375 4.22888' stroke='%2326B539' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }
  }

  &.has-value {
    .input-box {
      &__states {
        display: flex;
      }
    }
  }

  &.weak {
    .input-box {
      &__states {
        --color-content-states: var(--primary-color-500);
      }
    }
  }

  &.medium {
    .input-box {
      &__states {
        --color-content-states: var(--yellow-color-300);
      }
    }
  }

  &.strong {
    .input-box {
      &__states {
        --color-content-states: var(--green-color-100);
      }
    }
  }

  &.success {
    .input-box {
      &__icon {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &.error {
    > .input-box__errors {
      display: flex;
    }

    > .input-box__content > .input-box__info {
      border-color: var(--primary-color-500);

      input {
        color: var(--primary-color-500);

        &::placeholder {
          color: var(--primary-color-500);
        }
      }
    }
  }

  &.disabled {
    &.input-box {
      pointer-events: none;
    }

    .input-box {
      &__info {
        background-color: var(--gray-color-300);
        opacity: 0.4;
      }
    }
  }

  &--xl {
    &:first-child {
      .input-box {
        &__info {
          min-height: calculate-clamp(40px, 52px, 1023px, 767px);
        }
      }
    }
  }

  &--little {
    &:first-child {
      .input-box {
        &__info {
          min-height: 36px;
          padding: 4px 12px;
          font-size: var(--font-size-2xs);
        }
      }
    }
  }

  &.has-value {
    .decor {
      background-color: var(--secondary-color-200);
      color: var(--secondary-color-100);
    }
  }

  &__block {
    display: flex;
    align-items: center;
  }
}

.special-input {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: calculate-clamp(48px, 56px, 1023px, 767px);
  width: 100%;
  border-radius: var(--radius-4xl);
  background-color: var(--white-color);
  padding: 4px 4px 4px 16px;
  justify-content: space-between;
  border: 1px solid var(--gray-color-400);
  cursor: pointer;
  position: relative;
  transition: all 0.5s;

  &__info,
  &__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__info {
    width: 100%;

    input {
      background-color: transparent;
      cursor: pointer;
      font-size: var(--font-size-xs);
      color: var(--dark-color-200);
      transition: all 0.5s;
      width: 100%;

      &::placeholder {
        font-size: var(--font-size-xs);
        color: var(--dark-color-500);
      }
    }
  }

  &:has(input:focus, input:active, input:hover) {
    border-color: var(--gray-color-500);
  }

  &__errors {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color-200);
    border-radius: var(--radius-md);
    padding: 4px 12px;
    color: var(--white-color);
    position: absolute;
    bottom: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    &:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 12px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--dark-color-200);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    }
  }

  &.error {
    border-color: var(--primary-color-500);

    .special-input {
      &__errors {
        display: flex;
      }

      &__info {
        input {
          color: var(--primary-color-500);
          width: 100%;

          &::placeholder {
            color: var(--primary-color-500);
          }
        }
      }
    }
  }
}
