.input-box {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 48px;
    border-radius: var(--radius-md);
    border: 1px solid var(--gray-color-400);
    padding: 12px 16px;
    color: var(--dark-color-500);
    background-color: var(--white-color);

    .icon {
      width: 24px;
      height: 24px;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }

    input {
      width: 100%;
      background-color: transparent;
      cursor: pointer;
      color: var(--dark-color-200);

      &::placeholder {
        font-size: var(--font-size-xs);
        color: var(--dark-color-500);
        font-weight: var(--weight-font-main);
      }
    }

    &:has(input:focus, input:active, input:hover) {
      border-color: var(--dark-color-600);
    }
  }

  &__errors {
    font-size: var(--font-size-3xs);
    color: var(--primary-color-500);
    padding: 0 15px;
    display: none;
  }

  &.error {
    .input-box {
      &__errors {
        display: flex;
      }

      &__info {
        border-color: var(--primary-color-500);
      }
    }
  }

  &.disabled {
    &.input-box {
      pointer-events: none;
    }

    .input-box {
      &__info {
        background-color: var(--gray-color-300);
        opacity: 0.4;
      }
    }
  }
}
