.input-box {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  &--gray {
    .input-box {
      &__info {
        background-color: var(--gray-color-200);
        border-color: var(--gray-color-200);
        color: var(--secondary-color-100);
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: calculate-clamp(40px, 48px, 1023px, 767px);
    border-radius: var(--radius-md);
    border: 1px solid var(--gray-color-400);
    padding: calculate-clamp(2px, 10px, 1023px, 767px) calculate-clamp(8px, 16px, 1023px, 767px);
    color: var(--dark-color-500);
    background-color: var(--white-color);
    justify-content: space-between;

    &:has(textarea) {
     padding: 12px 16px;
     min-height: 100px;
     align-items: flex-start; 
    }

    .icon {
      width: 24px;
      height: 24px;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }

    input,
    textarea {
      width: 100%;
      background-color: transparent;
      cursor: pointer;
      color: var(--dark-color-200);
      resize: none;

      &::placeholder {
        font-size: var(--font-size-xs);
        color: var(--dark-color-500);
        font-weight: var(--weight-font-main);
      }
    }

    textarea {
      min-height: 96px;
      max-height: 210px;
    }

    &:focus,
    &:hover {
      border-color: var(--dark-color-600);
    }
  }

  &__errors {
    font-size: var(--font-size-3xs);
    color: var(--primary-color-500);
    padding: 0 15px;
    display: none;
  }

  &.error {
    .input-box {
      &__errors {
        display: flex;
      }

      &__info {
        border-color: var(--primary-color-500);
      }
    }
  }

  &.disabled {
    &.input-box {
      pointer-events: none;
    }

    .input-box {
      &__info {
        background-color: var(--gray-color-300);
        opacity: 0.4;
      }
    }
  }

 

  &--xl {
    &:first-child {
      .input-box {
        &__info {
          min-height: calculate-clamp(40px, 52px, 1023px, 767px);
        }
      }
    }
  }

  &--little {
    &:first-child {
      .input-box {
        &__info {
          min-height: 36px;
          padding: 4px 12px;
        }
      }
    }
  }

  &.has-value {
    .decor {
      background-color: var(--secondary-color-200);
      color: var(--secondary-color-100);
    }
  }
}

.special-input {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: calculate-clamp(48px, 56px, 1023px, 767px);
  width: 100%;
  border-radius: var(--radius-4xl);
  background-color: var(--white-color);
  padding: 4px 4px 4px 16px;
  justify-content: space-between;
  border: 1px solid var(--gray-color-400);
  cursor: pointer;
  position: relative;
  transition: all 0.5s;

  &__info,
  &__details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__info {
    input {
      background-color: transparent;
      cursor: pointer;
      font-size: var(--font-size-xs);
      color: var(--dark-color-200);
      transition: all 0.5s;

      &::placeholder {
        font-size: var(--font-size-xs);
        color: var(--dark-color-500);
      }
    }
  }

  &:has(input:focus, input:active, input:hover) {
    border-color: var(--gray-color-500);
  }

  &__errors {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color-200);
    border-radius: var(--radius-md);
    padding: 4px 12px;
    color: var(--white-color);
    position: absolute;
    bottom: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    &:before {
      position: absolute;
      content: "";
      width: 16px;
      height: 12px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--dark-color-200);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    }
  }

  &.error {
    border-color: var(--primary-color-500);

    .special-input {
      &__errors {
        display: flex;
      }

      &__info {
        input {
          color: var(--primary-color-500);
          width: 100%;

          &::placeholder {
            color: var(--primary-color-500);
          }
        }
      }
    }
  }
}
