.link {
  --link-color-active: var(--primary-color-100);
  --link-underline-color: var(--primary-color-100);
  --link-underline-height: 1px;
  --link-underline-offset: 0px;
  --link-underline-offset-with-icon: -5px;
  --link-transition-color: 0.5s;
  --link-transition-line: 0.3s;

  position: relative;
  background-color: transparent;
  transition: color var(--link-transition-color);

  &.active {
    color: var(--link-color-active);
  }

  &.active-line {
    &:before {
      transform-origin: left;
      scale: 1;
    }
  }

  &.active-noColor {
    color: inherit;
  }

  &:hover {
    @include hover-link;
  }

  &.hover-no-line {
    &:hover {
      &:before {
        scale: 0;
      }
    }
  }

  &.with-icon {
    &:before {
      top: calc(100% + var(--link-underline-offset-with-icon));
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(100% + var(--link-underline-offset));
    left: 0;
    right: 0;
    scale: 0;
    height: var(--link-underline-height);
    background-color: var(--link-underline-color);
    transform-origin: right;
    transition: scale var(--link-transition-line);
  }
}

.link-dashed {
  position: relative;
  transition: all 0.3s;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px dashed var(--dark-color-600);
    left: 0;
    right: 0;
    bottom: -2px;
    transition: all 0.3s;
  }

  &--dashed-4 {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 1.5px;
      border: none;

      background-image: url("data:image/svg+xml;utf8,\
  <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='2'>\
    <line x1='0' y1='1' x2='100%' y2='1' \
      stroke='rgb(157, 163, 175)' \
      stroke-width='1.5' \
      stroke-dasharray='4 4' \
      stroke-linecap='round' />\
  </svg>");

      background-repeat: repeat-x;
    }

    &:hover {
      &:after {
        background-image: url("data:image/svg+xml;utf8,\
        <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='2'>\
          <line x1='0' y1='1' x2='100%' y2='1' \
            stroke='rgb(218, 11, 53)' \
            stroke-width='1.5' \
            stroke-dasharray='4 4' \
            stroke-linecap='round' />\
        </svg>");
      }
    }
  }

  &:hover {
    color: var(--primary-color-100);

    &:after {
      border-color: var(--primary-color-100);
    }
  }
}

.link-secondary {
  color: var(--secondary-color-100);
  text-decoration: underline;
}

.link-simple {
  --link-color-active: var(--primary-color-100);
  --link-transition-line: 0.3s;

  transition: color var(--link-transition-line);

  &:hover {
    color: var(--link-color-active);
  }
}
