.link {
  --link-color-active: var(--primary-color-100);
  --link-underline-color: var(--primary-color-100);
  --link-underline-height: 1px;
  --link-underline-offset: 0px;
  --link-underline-offset-with-icon: -5px;
  --link-transition-color: 0.5s;
  --link-transition-line: 0.3s;

  position: relative;
  background-color: transparent;
  transition: color var(--link-transition-color);

  &.active {
    color: var(--link-color-active);
  }

  &.active-line {
    &:before {
      transform-origin: left;
      scale: 1;
    }
  }

  &.active-noColor {
    color: inherit;
  }

  &:hover {
    @include hover-link;
  }

  &.hover-no-line {
    &:hover {
      &:before {
        scale: 0;
      }
    }
  }

  &.with-icon {
    &:before {
      top: calc(100% + var(--link-underline-offset-with-icon));
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: calc(100% + var(--link-underline-offset));
    left: 0;
    right: 0;
    scale: 0;
    height: var(--link-underline-height);
    background-color: var(--link-underline-color);
    transform-origin: right;
    transition: scale var(--link-transition-line);
  }
}

.link-dashed {
  position: relative;
  transition: all 0.3s;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px dashed var(--dark-color-600);
    left: 0;
    right: 0;
    bottom: -2px;
    transition: all 0.3s;
  }

  // &--custom {
  //   &:after {
  //     height: 3px;
  //     border: none;
  //     bottom: -7px;
  //     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='3'%3E%3Crect x='0' y='0' width='17' height='3' rx='2' fill='%239da3af' /%3E%3C/svg%3E");
  //     background-repeat: repeat-x;
  //     background-size: 20px 2px;
  //   }
  // }

  &:hover {
    color: var(--primary-color-100);

    &:after {
      border-color: var(--primary-color-100);
    }
  }
}

.link-secondary {
  color: var(--secondary-color-100);
  text-decoration: underline;
}

.link-simple {
  --link-color-active: var(--primary-color-100);
  --link-transition-line: 0.3s;

  transition: color var(--link-transition-line);

  &:hover {
    color: var(--link-color-active);
  }
}
