.link {
  transition: all 0.5s;
  position: relative;
  background-color: transparent;

  &.active {
    color: var(--primary-color-100);
  }

  &.active-line {
    &:before {
      transform-origin: left;
      scale: 1;
    }
  }

  &.active-noColor {
    color: inherit;
  }

  &:hover {
    color: var(--primary-color-100);

    &:before {
      transform-origin: left;
      scale: 1;
    }
  }

  &.with-icon {
    &:before {
      top: calc(100% - 5px);
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    scale: 0;
    height: 2px;
    background-color: var(--primary-color-100);
    transform-origin: right;
    transition: scale 0.3s;
  }
}

.link-dashed {
  position: relative;
  transition: all .3s;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    border: 1px dashed var(--dark-color-600);
    left: 0;
    right: 0;
    bottom: -2px;
    transition: all .3s;
  }

  &:hover {
    color: var(--primary-color-100);

    &:after {
      border-color: var(--primary-color-100);
    }
  }
}
