.list-icon {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__link {
    display: flex;
    align-items: center;
    gap: 8px;

    &--start {
      align-items: flex-start;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &--media-bg {
      padding: 16px;
      background-color: var(--gray-color-200);
      border-radius: var(--radius-md);

      .list-icon {
        &__link {
          align-items: flex-start;
        }
      }
    }
  }
}

.list-popup {
  --top-padding: 10px;

  position: relative;

  &.relative {
    &:after {
      position: absolute;
      opacity: 0;
      content: "";
      left: 0;
      right: 0;
      width: 100%;
      bottom: calc(var(--top-padding) * -2);
      height: calc(var(--top-padding) * 2);
      pointer-events: none;
    }
  }

  &.relative-top > .list-popup__box {
    top: calc(100% + var(--top-padding));
  }

  &__box {
    position: absolute;
    right: 0;
    top: 100%;
    width: 300px;
    z-index: 10;
    background-color: var(--gray-color-200);
    border: 1px solid var(--gray-color-300);
    border-radius: var(--radius-xl);
    padding: 10px 8px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 5px 12px 0px #0000001a;

    transition: all 0.2s;

    &.min {
      width: 190px;
    }

    &.inner-list {
      left: auto;
      top: 0;
      right: calc(100% + 12px);
      background-color: var(--gray-color-300);
    }

    &.left {
      left: 0;
      right: auto;
    }

    &--white {
      background-color: var(--white-color);
      box-shadow: 0px 4px 12px 0px #0d0a2c0f;
      border-color: var(--gray-color-200);
    }

    &--white-second {
      background-color: var(--white-color);
      border-color: var(--gray-color-300);
    }
  }

  &:hover {
    &.relative {
      &:after {
        pointer-events: all;
      }
    }

    & > .list-popup__btn.link {
      @include hover-link;
    }
  }

  &:hover > .list-popup__box {
    opacity: 1;
    visibility: visible;
  }

  & .list-popup__btn:hover + .list-popup__box {
    opacity: 1;
    visibility: visible;
  }

  & .list-popup__box:hover {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: $tablet-breakpoint) {
    .list-popup__box {
      max-width: 150px;
      left: -50%;
      transform: translateX(-50%);
    }

    &.left-media {
      .list-popup__box {
        left: 0;
        transform: translate(0);
      }
    }
  }
}

.list-number {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;
  counter-reset: list-number;

  &__link {
    counter-increment: counter-reset 1;
  }

  &__head,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__head {
    position: relative;
    align-items: center;
    flex-direction: row;
    gap: 7px;

    &:before {
      content: counter(counter-reset) ".";
      font-size: var(--font-size-sm);
      line-height: var(--line-height-looser);
      font-weight: var(--weight-font-lg);
      padding-left: 5px;
    }
  }

  &__content {
    padding-left: 27px;
  }
}

.list-dots {
  display: flex;
  flex-direction: column;
  gap: 14px;
  list-style: none;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    padding-left: 27px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 11px;
      width: 4px;
      height: 5px;
      background-color: currentColor;
      padding-left: 5px;
      border-radius: 50%;
    }
  }
}

.list-links {
  display: flex;
  flex-direction: column;

  &__item {
    padding: 2px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: var(--radius-sm);
    background-color: transparent;
    transition: all 0.3s;

    button {
      background-color: transparent;
    }

    &:hover {
      background-color: var(--white-color);
    }
  }
}

.list-title {
  .list-popup__box {
    padding: 8px;
    color: var(--secondary-color-100);
    width: 276px;
    min-width: 100px;
  }
}

.list-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calculate-clamp(20px, 32px, 1439px, 1023px);
  width: 100%;

  &--one {
    display: flex;
    flex-direction: column;
  }

  &__box {
    display: flex;
    flex-direction: column;

    &--two {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0 32px;

      .list-info {
        &__link {
        }
      }
    }
  }

  &__link {
    padding: 12px 0;
    border-bottom: 1px solid var(--gray-color-300);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    align-items: flex-start;

    &--row-two {
      grid-row: span 2;
    }
  }

  &__key,
  &__mean {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
      font-size: var(--font-size-s);
    }
  }

  &__key {
    color: var(--dark-color-500);
  }

  &__img {
    width: 90px;
    aspect-ratio: 1 / 1;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(4px, 6px, 767px, 480px);

    &__link {
      padding: calculate-clamp(8px, 12px, 767px, 480px) 0;
    }
  }
}

.list-price {
  .list-popup__box {
    padding: 12px 4px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: auto;
    max-width: 300px;
    white-space: nowrap;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.list-simple {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &--small {
    gap: 8px;

    .list-simple {
      &__item {
        gap: 8px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
