.list-icon {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__link {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    .icon {
      width: calculate-clamp(20px, 24px, 1024px, 767px);
      height: calculate-clamp(20px, 24px, 1024px, 767px);

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
