.list-popup {
  --top-padding: 10px;

  position: relative;

  &.relative {
    top: calc(100% + var(--top-padding));

    &:after {
      position: absolute;
      opacity: 0;
      content: "";
      left: 0;
      right: 0;
      width: 100%;
      bottom: calc(var(--top-padding) * -2);
      height: calc(var(--top-padding) * 2);
    }
  }

  &__box {
    position: absolute;
    right: 0;
    top: 100%;
    width: 300px;
    z-index: 10;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color-300);
    border-radius: var(--radius-xl);
    padding: 10px 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;

    &.min {
      width: 190px;
    }

    &.inner-list {
      left: auto;
      top: 0;
      right: calc(100% + 12px);
    }

    &.left {
      left: 0;
      right: auto;
    }
  }

  &:hover > .list-popup__box {
    opacity: 1;
    visibility: visible;
  }

  & .list-popup__btn:hover + .list-popup__box {
    opacity: 1;
    visibility: visible;
  }

  & .list-popup__box:hover {
    opacity: 1;
    visibility: visible;
  }
}
