.loader {
  background-color: var(--gray-color-600);
  display: flex;
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;
  min-height: calculate-clamp(40px, 48px, 1023px, 767px);
  height: fit-content;
  width: 100%;

  span {
    width: 24px;
    height: 24px;
    border: 5px dotted var(--secondary-color-100);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }

  &--chart {
    min-height: calculate-clamp(130px, 400px, 1023px, 767px);
  }

  &--good {
    min-height: calculate-clamp(300px, 400px, 1023px, 767px);
  }

  &--dev {
    min-height: calculate-clamp(294px, 300px, 1023px, 767px);
  }
}
