.logo {
  --gap: 9px;

  display: flex;
  align-items: center;
  gap: var(--gap);
  align-items: flex-start;
  color: var(--dark-color-500);

  &__info {
    width: calculate-clamp(161px, 220px, 1023px, 375px);
    height: calculate-clamp(24px, 40px, 1023px, 375px);

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  & > *:not(:last-child) {
    padding-right: var(--gap);
    position: relative;

    &:before {
      position: absolute;
      content: "";
      right: 0;
      width: 1px;
      height: 22px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--primary-color-100);
    }
  }
}
