.logo {
  --gap: 9px;

  display: flex;
  align-items: center;
  gap: var(--gap);
  align-items: flex-start;
  color: var(--dark-color-500);

  &__info {
    width: 220px;
    height: 40px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  & > *:not(:last-child) {
    padding-right: var(--gap);
    // border-right: 1px solid var(--primary-color-100);
    position: relative;

    &:before {
        position: absolute;
        content:"";
        right: 0;
        width: 1px;
        height: 22px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--primary-color-100);
    }
  }
}
