.logo {
  --gap: 9px;

  display: flex;
  align-items: center;
  gap: var(--gap);
  align-items: flex-start;
  color: var(--dark-color-500);
  white-space: nowrap;

  &__info {
    min-width: calculate-clamp(161px, 221px, 1023px, 375px);
    max-width: 240px;
    width: 100%;
    height: calculate-clamp(16px, 22px, 1023px, 375px);

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > *:not(:last-child) {
    padding-right: var(--gap);
    position: relative;

    &:before {
      position: absolute;
      content: "";
      right: 0;
      width: 1px;
      height: 22px;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--primary-color-100);
    }
  }
}
