.map-sibebar {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .close {
      color: var(--dark-color-100);
    }
  }

  &__pagination {
    margin-top: auto;
  }

  .swiper--goods {
    overflow: visible;

    @media (min-width: 768px) {
      & > .swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-small {
        & > .swiper-wrapper {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media (max-width: $md-desktop-breakpoint) {
    .companie-card {
      @include companieCardMediaOrSmall;
    }
  }
}
