.map-sibebar {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .close {
      color: var(--dark-color-100);
    }
  }

  .swiper--goods {
    overflow: visible;

    & > .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
