.map-sibebar {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .close {
      color: var(--dark-color-100);
    }
  }

  &__pagination {
    margin-top: auto;
  }

  .swiper--goods {
    overflow: visible;

    @media (min-width: 768px) {
      & > .swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-small {
        & > .swiper-wrapper {
          display: flex;
          flex-direction: column;
          gap: 12px;
        }
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media (max-width: $md-desktop-breakpoint) {
    .companie-card {
      @include companieCardMediaOrSmall;
    }

    .good-item {
      grid-template-columns: 40% auto;
    }
  }

  @media (max-width: calc($lg-breakpoint + 1px)) {
    .good-item {
      grid-template-columns: 31% auto;

      &__content {
        padding: 8px 12px;
      }

      &__desc,
      .tag .p3 {
        font-size: var(--font-size-3xs);
      }
      &__top {
        gap: 4px;
      }
    }

    // background-color: transparent;
  }

  @media (max-width: calc($tablet-breakpoint)) {
    .good-item {
      grid-template-columns: 35% auto;
    }

    &__top {
      gap: 2px;
    }
  }
}
