.map {
  overflow: hidden;

  &.sibebar-open {
    .sibebar {
      max-width: calculate-clamp(352px, 632px, 1223px, 1023px);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__info {
    padding-inline: var(--container-inline-full-padding);
  }

  &__content {
    position: relative;
    height: calc(
      100dvh - var(--header-height, var(--calback-header-height)) -
        var(--info-map-height, 14px)
    );
    display: flex;
    width: 100%;
    background-color: var(--secondary-color-100);
  }

  &__cart {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
  }

  &__details {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
    background-color: var(--white-color);
    padding: 4px 12px 8px;
    border-radius: var(--radius-xl);

    @media (min-width: 1024px) {
      right: 16px;
      top: 16px;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__details {
      right: 8px;
      bottom: 8px;
      align-items: flex-start;
    }
  }

  @media (max-width: $desktop-breakpoint) {
    .good-item {
      min-height: 104px;

      &__swiper-box {
        aspect-ratio: 1 / 1;
        // width: auto;
      }

      .swiper--good-img {
        .swiper-slide {
          &:not(:first-child) {
            display: none;
          }
        }
      }

      &__tags {
        gap: 6px;

        .tag {
          background-color: transparent;
          padding: 0;
          min-height: 0;

          p {
            font-size: var(--font-size-3xs);
          }
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__cart {
      position: fixed;
      inset:0;
      top: var(--header-height, --calback-header-height);
    }

    &__info {
      background-color: var(--white-color-170);
      border-bottom-left-radius: var(--radius-md);
      border-bottom-right-radius: var(--radius-md);
      overflow: hidden;
      z-index: 10;
    }

    .filter {
      top: 0;
    }

    .good-item {
      display: grid;
      border-radius: var(--radius-base);
      border: 1px solid var(--gray-color-600);
     

      &__title {
        font-size: var(--font-size-base);

        * {
          font-size: var(--font-size-3xs);
        }
      }

      &__header {
        // gap: 4px;
      }

      &__swiper-box {
        height: 100%;
        max-height: 200px;
      }

      &__content {
        padding: 8px 12px;
        border-radius: 0px;
        border: none;
      }
    }

    &__content {
      display: flex;
      flex-direction: column-reverse;
      background-color: transparent;
    }

    &.sibebar-open {
      .sibebar {
        max-width: 100%;
        max-height: fit-content;
        padding: 8px;
        height: 100%;
      }
    }

    .sibebar {
      max-width: 100%;
      background-color: var(--white-color);
      box-shadow: 0px -8px 8px 0px #a6afc340;
      border-radius: var(--radius-md);
      max-height: 0;
      z-index: 999;
      gap: 8px;

      overflow: visible;

      &:after {
        position: absolute;
        content: "";
      }
    }

    &__details {
      right: auto;
      left: 8px;
    }
  }
}
