.map {
  overflow: hidden;

  &.sibebar-open {
    .sibebar {
      max-width: 632px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__info {
    padding-inline: var(--container-inline-full-padding);
  }

  &__content {
    position: relative;
    height: calc(100dvh - var(--header-height, var(--calback-header-height)) - var(--info-map-height, 14px));
    display: flex;
    width: 100%;
    background-color: var(--secondary-color-100);


  }

  &__cart {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 8;
  }

  &__details {
    position: absolute;
    right: 16px;
    top: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    z-index: 10;
  }
}
