.map-sibebar {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .close {
      color: var(--dark-color-100);

      .icon {
        width: 24px;
        height: 24px;
      }

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .swiper--goods {
    overflow: visible;

    & > .swiper-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
