.market-table {
  border-collapse: separate;
  border-spacing: 0;
  width: auto;
  border-radius: var(--radius-base);
  overflow: hidden;
  width: 100%;

  background-color: var(--gray-color-100);

  td {
    width: calc(100% / 4);
    padding: 10px 16px;
  }

  &--two-grid {
    td {
      width: calc(100% / 2);
    }
  }

  &:not(&--noHead) {
    tr:nth-child(even):not(.market-table__head) {
      background-color: var(--white-color);
    }
  }

  &--noHead {
    tr:nth-child(odd) {
      background-color: var(--white-color);
    }

    tr:nth-child(even) {
      background-color: var(--gray-color-100);
    }
  }

  &__head {
    background-color: var(--gray-color-200);
  }

  &__price {
    &.up {
      color: var(--green-color-100);
    }

    &.down {
      color: var(--primary-color-500);
    }
  }
}
