.masonry-simple {
  width: 100%;
  --gap-items-box: 14px;

  &__items-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-items-box);
  }

  &__items-row {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $lg-breakpoint) and (min-width: $tablet-breakpoint) {
    --gap-items-box: 8px;

    &__items-row {
      display: contents;
    }

    &__items-box {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      flex-wrap: wrap;
    }

    &__item {
      height: auto;

      &--media {
        &-lg {
          grid-column: span 4;
        }

        &-md {
          grid-column: span 3;
        }

        &-xs {
          grid-column: span 2;
        }

        &-xl {
          grid-column: span 5;
        }

        &-full {
          grid-column: 1 / -1;
        }
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --gap-items-box: 8px;

    &__items-row {
      display: contents;

      &:nth-child(3n + 1) {
        .masonry-simple {
          &__item {
            &:first-child {
              grid-column: 1 / -1;
            }
          }
        }
      }

      &:nth-child(3n + 2) {
        .masonry-simple {
          &__item {
            &:nth-child(2) {
              grid-column: 1 / -1;
            }
          }
        }
      }
    }

    &__items-box {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 360px) {
    &__items-box {
      display: flex;
      flex-direction: column;
    }
  }
}
