.menu-popup {
  box-shadow: 0px 5px 12px 0px #0000001a;
  background-color: var(--gray-color-200);
  border: none;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: var(--secondary-color-100);
    padding: 2px 8px;
    border-radius: var(--radius-sm);
    transition: all 0.5s;
    cursor: pointer;

    button {
      background-color: transparent;
      transition: all 0.5s;
      color: var(--secondary-color-100);
    }

    .icon {
      width: 10px;
      height: 10px;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      background-color: var(--white-color);
    }

    &:has(.inner-list .menu-popup__link:hover) {
      background-color: inherit;
    }

   

    &:active {
      background-color: var(--secondary-color-100);

      button {
        color: var(--white-color);
      }

      color: var(--white-color);
    }

    &:has(.inner-list .menu-popup__link:active) {
      background-color: var(--white-color);

      color: var(--secondary-color-100);
    }
  }
}
