.modalBlock {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(var(--dark-color-100-rgb), 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  justify-content: center;
  max-height: 100dvh;
  overflow: hidden;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;

    .modalBlock {
      &__inner {
        transform: translate(0);
      }
    }
  }

  &__inner {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    margin: auto 0;
    transform: translateY(-400%);
    transition: all 0.5s;
    background-color: var(--white-color);
    padding: 20px calculate-clamp(16px, 20px, 1023px, 767px)
      calculate-clamp(16px, 24px, 1023px, 767px);
    border-radius: var(--radius-md);
    overflow: hidden;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;

    &--big {
      padding: calculate-clamp(16px, 28px, 1023px, 767px)
        calculate-clamp(16px, 32px, 1023px, 767px);

      .modalBlock__head {
        top: 12px;
        right: 20px;
      }
    }
  }

  &__head {
    position: absolute;
    top: 14px;
    right: 18px;
    z-index: 4;

    &--static {
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__head-block {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__close {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &--width {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: var(--radius-base);

      @media (max-width: $tablet-breakpoint) {
        box-shadow: 0px 5px 12px 0px #0000001a;
        background-color: var(--white-color);
      }
    }

    * {
      pointer-events: none;
    }

    .icon {
      width: 12px;
      height: 12px;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content,
  &__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 2px calculate-clamp(8px, 12px, 1023px, 767px);
    min-height: 32px;
    border-radius: var(--radius-sm);
    transition: all 0.5s;
    color: var(--dark-color-200);

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-text {
      color: var(--dark-color-600);
    }

    &:hover {
      background-color: var(--gray-color-200);
    }

    &.active,
    &:active {
      background-color: var(--secondary-color-200);

      .modalBlock__btn {
        &-text {
          color: var(--dark-color-400);
        }
      }
    }
  }

  &--active-secondary-color-100 {
    .modalBlock {
      &__btn {
        &.active,
        &:active {
          color: var(--secondary-color-100);
        }
      }
    }
  }

  &__items-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__items-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    background-color: var(--gray-color-200);
    padding: 2px calculate-clamp(8px, 12px, 1023px, 767px);
    min-height: 32px;
    border-radius: var(--radius-sm);
  }

  &__swiper-box {
    width: 100%;
    min-width: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    &:not(.modalBlock--media-fit) {
      padding: 0;

      .modalBlock {
        &__inner {
          height: 100%;
          max-height: 100dvh;
          border-radius: 0;
        }
      }
    }
  }
}

.modalBlockGrid {
  &__inner {
    &:not(:has(.modalBlockGrid__items-grid :nth-child(10))) {
      max-width: 233px;
    }

    &:has(.modalBlockGrid__items-grid :nth-child(10)) {
      .modalBlock {
        &__btn-text {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -moz-box;
          -moz-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          line-clamp: 1;
          box-orient: vertical;
        }
      }
    }
  }

  &__items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 8px 28px;

    &:has(:nth-child(10)) {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }

    &:not(:has(:nth-child(10))) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.languagesModal {
}

.currenciesModal {
  .modalBlock {
    &__btn-text {
      color: var(--dark-color-600);
      transition: all 0.5s;
    }
  }
}

.modalContent {
  &--small {
    .modalContent {
      &__inner {
        padding: 20px calculate-clamp(20px, 32px, 1023px, 767px);
        border-radius: var(--radius-md);
      }
    }
  }

  &__inner {
    width: fit-content;
    max-width: 90vw;
    padding: 28px 32px;
    border-radius: var(--radius-2xl);
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;

    &--small {
      gap: 6px;
    }
  }

  &__header,
  &__footer,
  &__content,
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__header,
  &__footer,
  &__content {
    gap: 20px;
  }

  &__info {
    gap: 12px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .modal-close {
    .icon {
      width: 14px;
      height: 14px;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &:not(.modalBlock--media-fit) {
      padding: 0;

      .modalContent {
        &__inner {
          height: 100%;
          max-height: 100dvh;
          border-radius: 0;
          max-width: 100%;
          width: 100%;
        }

        &__content {
          margin: auto;
        }
      }
    }
  }
}

.successModal {
  &__img {
    max-width: 198px;
    width: 100%;
    height: 90px;
    margin: 0 auto;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &:not(.modalBlock--media-fit) {
      padding: 0;

      .modalBlock {
        &__inner {
          height: 100%;
          max-height: 100dvh;
          border-radius: 0;
          max-width: 100%;
          width: 100%;
        }

        &__content {
          margin: auto;
        }
      }
    }
  }
}

.requestModal {
  .modalBlock {
    &__inner {
      max-width: 640px;
      display: flex;
      flex-direction: column;
      gap: calculate-clamp(16px, 28px, 1023px, 767px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 28px, 1023px, 767px);
  }
}

.featuresModal {
  &__items {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 40px, 1023px, 767px);
  }

  .modalBlock__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 40px, 1023px, 767px);
  }

  .modalBlock__block {
    gap: 20px;
  }

  &__item-box {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 20px, 1023px, 767px);
  }

  &__items-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: calculate-clamp(8px, 20px, 1023px, 767px)
      calculate-clamp(8px, 28px, 1023px, 767px);
  }

  @media (max-width: $tablet-breakpoint) {
    &__items-box {
      display: flex;
      flex-direction: column;
    }
  }
}

.filterModalBox {
  &__inner {
    padding: 4px;
    max-width: 1150px;
    overflow: hidden;
    max-height: none;

    @media (max-width: $lg-breakpoint) {
      padding: 8px;
    }
  }

  .modalBlock {
    &__content {
      height: 100%;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: calculate-clamp(8px, 20px, 1023px, 767px)
      calculate-clamp(8px, 28px, 1023px, 767px);
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    @media (max-width: $tablet-breakpoint) {
      max-height: calc(100dvh - 100px);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 32px, 1023px, 767px);
  }

  &__items-box {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(12px, 16px, 1023px, 767px);

    &--bg {
      padding: 12px 8px;
      background-color: var(--secondary-color-200);
      border-radius: var(--radius-md);
    }

    &:not(.filterModal__items-box--bg) {
      padding-inline: 8px;
    }
  }

  &__items-boxs {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: calculate-clamp(8px, 12px, 1023px, 767px);

    &--media {
      @media (min-width: $tablet-breakpoint) and (max-width: $lg-breakpoint) {
        &-four {
          & > *:nth-child(n + 9) {
            grid-column: span 2;
          }
        }

        &-one {
          display: flex;
          flex-direction: column;
        }

        &-twelve {
          grid-template-columns: repeat(12, minmax(0, 1fr));

          & > * {
            grid-column: span 3;
          }

          & > *:nth-child(n + 5) {
            grid-column: span 4;
          }
        }

        &-three {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        &-two {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }
      }
    }

    @media (max-width: $tablet-breakpoint) {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &--media-one {
        display: flex;
        flex-direction: column;
      }
    }

    &--tablet-two {
      @media (max-width: $tablet-breakpoint) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__item-big {
    grid-column: span 2;
  }

  &__footer {
    padding: calculate-clamp(8px, 18px, 1023px, 767px)
      calculate-clamp(12px, 28px, 1023px, 767px);
    background-color: var(--gray-color-100);
    border: 1px solid var(--gray-color-300);
    border-radius: var(--radius-md);
    margin-top: auto;
  }

  &__footer-box,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__footer-box {
    justify-content: space-between;
    flex-direction: row;
  }

  &__footer-info {
    background-color: var(--secondary-color-200);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: center;
    padding: 6px 0;
    width: 100%;

    .button {
      &:not(:last-child) {
        position: relative;

        &:before {
          position: absolute;
          content: "";
          right: 0;
          background-color: var(--dark-color-700);
          width: 1px;
          height: 100%;
        }
      }
    }
  }

  &__footer-btns {
    display: flex;
    align-items: center;
    gap: 12px;

    .button:not(.button--noMassa) {
      padding-inline: calculate-clamp(28px, 45px, 1023px, 767px);
    }

    &--media-big {
      @media (max-width: $lg-breakpoint) {
        gap: 40px;
      }
    }
  }

  @media (max-width: $desktop-breakpoint) {
    &__footer {
      padding: 8px 0 0 0;
    }

    &__footer-box {
      padding-inline: 12px;
    }

    &__inner {
      padding: 0;
    }

    &__top {
      padding: 12px 8px 24px;
    }
  }

  @media (max-width: 360px) {
    &__items-boxs {
      display: flex;
      flex-direction: column;
    }
  }
}

.floorModal {
  &__inner {
    padding: 8px 18px 8px 16px;
    max-width: 655px;
    border-radius: var(--radius-2xl);
  }

  &__img {
    width: 100%;
    height: 558px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.galleryModal {
  --height-small-img: 140px;
  --gap-box: 8px;
  --padding-block-inner: 20px;
  --padding-top-content: 12px;

  padding: 0;

  &__inner {
    background-color: transparent;
    max-width: 100%;
    padding: var(--padding-block-inner) 20px;
    border-radius: 0;
    max-height: 100dvh;
    margin: 0;

    .checkbox-box {
      margin: 0 auto;
      white-space: nowrap;
    }
  }

  .modalBlock__content {
    padding-top: var(--padding-top-content);
    width: 100%;
    height: 100%;
  }

  &__swiper-block {
    min-width: 0;
    width: 100%;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-box);
    min-width: 0;
  }

  &__swiper-box {
    display: flex;
    align-items: center;
    gap: 12px;

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--big {
      .arrow-swiper {
        visibility: hidden;
      }

      &:hover {
        .arrow-swiper {
          visibility: visible;
        }
      }
    }

    &--small {
      padding-inline: 52px;
    }
  }

  .swiper--big-gallery {
    .galleryModal {
      &__img {
        height: calc(
          100dvh - var(--height-small-img, 140px) - var(--gap-box, 8px) -
            (var(--padding-block-inner, 20px) * 2) - var(--padding-top-content) -
            60px
        );
      }
    }
  }

  .swiper--small-gallery {
    .galleryModal {
      &__img {
        height: var(--height-small-img);
        border: 5px solid transparent;
        cursor: pointer;
      }

      .swiper-slide {
        border: 5px solid transparent;

        &.swiper-slide-thumb-active {
          border-color: var(--white-color);
        }
      }
    }

    .swiper-slide {
      &.swiper-slide-thumb-active {
        .galleryModal {
          &__img {
            border-color: var(--white-color);
          }
        }
      }
    }
  }

  @media (max-width: $lg-breakpoint) {
    --padding-top-content: 0;

    &__swiper-box--small,
    .arrow-swiper,
    .modalBlock__head .checkbox-box {
      display: none;
    }

    .swiper--big-gallery {
      .galleryModal {
        &__img {
          height: 100dvh;
        }
      }
    }

    &__inner {
      padding: 0;
    }

    .modalBlock {
      &__head,
      &__head--static {
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        top: 12px;
        right: 12px;
        left: 4px;
      }

      &__close {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        flex-shrink: 0;
        transition: all 0.3s;

        &:hover,
        &:active {
          background-color: #00000080;
        }
      }
    }

    &__arrows-main {
      position: absolute;
      z-index: 10;
      right: 24px;
      bottom: 12px;

      .arrow-swiper {
        display: flex;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .modalBlock {
      &__close {
        background-color: #00000080;
      }
    }

    &__arrows-main {
      left: 24px;
      justify-content: center;
    }
  }
}

.mapModal {
  .modalBlock {
    &__inner {
      padding: 8px;
      max-width: var(--container-width);
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &__map {
    width: 100%;
    height: min(600px, 50vh);
    border-radius: var(--radius-md);
    overflow: hidden;
    background-color: var(--secondary-color-200);
  }

  @media (max-width: $tablet-breakpoint) {
    .modalBlock {
      &__content {
        height: 100%;
      }

      &__inner {
        gap: 6px;
      }
    }

    .tab-item {
      height: 100%;
      flex: 1;
    }

    &__map {
      height: 100%;
    }
  }
}

.modalBox {
  .modalBlock {
    &__inner {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.modalTableBox {
  .modalBlock {
    &__inner {
      // padding: 20px 0 0 0;
    }

    &__head {
      // padding-inline: 14px;
    }

    &__content {
      // padding-inline: 14px;
    }
  }
}

.selectedItemsModalBox {
  transition: all 1s;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transform: translateY(calc(100% - 200px));
    transition: 1s;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
    max-height: calc(100dvh);
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .good-item {
      display: grid;
      min-height: 104px;

      &__swiper-box {
        aspect-ratio: 1 / 1;
        // width: auto;
      }

      .swiper--good-img {
        .swiper-slide {
          &:not(:first-child) {
            display: none;
          }
        }
      }

      &__tags {
        gap: 6px;

        .tag {
          background-color: transparent;
          padding: 0;
          min-height: 0;

          p {
            font-size: var(--font-size-3xs);
          }
        }
      }
    }
  }

  &__footer {
    margin-top: auto;
  }
}

body .wrapper {
  .modalSecond {
    padding: 0 0 0 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
    z-index: 999;
    height: calc(100dvh - var(--header-height, var(--calback-header-height)));
    overflow: hidden;
    top: var(--header-height, var(--calback-header-height));

    &__inner {
      width: 100%;
      height: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 0;
      border-radius: 0;
      background-color: var(--white-color);
    }

    &__header,
    &__header-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    &__header {
      padding: 12px var(--container-inline-padding);
      background-color: var(--gray-color-100);
      border-bottom: 1px solid var(--gray-color-300);
    }

    &__content {
      padding: 0 var(--container-inline-padding) 12px;
      overflow-x: hidden;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

body.scrollBottom .wrapper .modalSecond {
  top: 0;
  height: 100dvh;
}

.searchingBox {
  .modalBlock {
    &__inner {
      max-width: 410px;
      padding: calculate-clamp(16px, 32px, 1023px, 767px) calculate-clamp(16px, 36px, 1023px, 767px);
    }
  }

  &__content,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__content {
    &--big {
      gap: 32px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btns {
    display: grid;
    gap: 8px;
  }

  .input-box__info textarea {
    min-height: 132px;
    font-size: 16px;
    line-height: var(--line-height-loosest);
  }

  .textbox {
    color: var(--dark-color-500);
  }
}
