.modalBlock {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgba(var(--dark-color-100-rgb), 0.8);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  justify-content: center;
  max-height: 100dvh;
  overflow: hidden;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;

    .modalBlock {
      &__inner {
        transform: translate(0);
      }
    }
  }

  &__inner {
    max-width: 985px;
    width: 100%;
    margin: 0 auto;
    height: fit-content;
    margin: auto 0;
    transform: translateY(-400%);
    transition: all 0.5s;
    background-color: var(--white-color);
    padding: 20px 20px 24px;
    border-radius: var(--radius-md);
    overflow: hidden;
    max-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;

    &--big {
      padding: 28px 32px;

      .modalBlock__head {
        top: 12px;
        right: 20px;
      }
    }
  }

  &__head {
    position: absolute;
    top: 8px;
    right: 12px;
    z-index: 2;

    &--static {
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }

  &__close {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    * {
      pointer-events: none;
    }

    .icon {
      width: 12px;
      height: 12px;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__content,
  &__block {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 2px 8px;
    min-height: 32px;
    border-radius: var(--radius-sm);
    transition: all 0.5s;
    width: fit-content;

    &:hover {
      background-color: var(--gray-color-200);
    }

    &.active,
    &:active {
      background-color: var(--secondary-color-200);
    }

    .icon {
      width: 28px;
      height: 28px;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.languagesModal {
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
    gap: 8px 28px;
  }
}

.currenciesModal {
  .modalBlock {
    &__inner {
      max-width: 233px;
    }

    &__btn-text {
      color: var(--dark-color-600);
      transition: all 0.5s;
    }

    &__btn {
      &.active,
      &:active {
        .modalBlock__btn-text {
          color: var(--dark-color-400);
        }
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }
}

.modalSecond {
  padding: 0;

  &__inner {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 16px;
    border-radius: 0;
  }

  &__header,
  &__header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }

  &__content {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.modalContent {
  &__inner {
    width: fit-content;
    max-width: 90vw;
    padding: 28px 32px;
    border-radius: var(--radius-2xl);
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }

  &__header,
  &__footer,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .modal-close {
    .icon {
      width: 14px;
      height: 14px;
    }
  }
}

.successModal {
  &__img {
    max-width: 198px;
    width: 100%;
    height: 90px;
    margin: 0 auto;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.requestModal {
  .modalBlock {
    &__inner {
      max-width: 640px;
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

.featuresModal {
  &__items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .modalBlock__block {
    gap: 20px;
  }

  &__item-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__items-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px 28px;
  }
}

.filterModal {
  &__inner {
    padding: 4px;
    max-width: 1130px;
    overflow: hidden;
    max-height: none;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 28px;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__items-box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &--bg {
      padding: 12px 0px;
      background-color: var(--secondary-color-200);
      border-radius: var(--radius-md);
    }
  }

  &__items-boxs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
  }

  &__item-big {
    grid-column: span 2;
  }

  &__footer {
    padding: 18px 28px;
    background-color: var(--gray-color-100);
    border: 1px solid var(--gray-color-300);
    border-radius: var(--radius-md);
  }

  &__footer-box,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__footer-box {
    justify-content: space-between;
    flex-direction: row;
  }

  &__footer-btns {
    display: flex;
    align-items: center;
    gap: 12px;

    .button:not(.button--noMassa) {
      padding-inline: 45px;
    }
  }
}

.floorModal {
 

  &__inner {
    padding: 8px 18px 8px 8px;
    max-width: 655px;
    border-radius: var(--radius-2xl);
  }

  &__img {
    width: 100%;
    height: 558px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
   

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
