.more-details {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__items {
    & > *:not(:first-child) {
      display: none;
    }

    &.more {
      > * {
        display: flex;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
}
