.name-rating {
  display: flex;
  align-items: center;
  gap: 12px;

  &__box {
    background-color: var(--gray-color-200);
    border-radius: var(--radius-md);
    padding: calculate-clamp(2px, 4px, 1439px, 1023px) calculate-clamp(8px, 12px, 1439px, 1023px);
    display: flex;
    align-items: center;
    gap: calculate-clamp(4px, 8px, 1439px, 1023px);
    min-height: calculate-clamp(32px, 38px, 1439px, 1023px);

    * {
      line-height: var(--line-height-tighter);
    }
  }

  &--small {
    .name-rating {
      &__box {
        min-height: calculate-clamp(20px, 26px, 767px, 480px);
        padding: calculate-clamp(0px, 2px, 767px, 480px) 6px;
        gap: 4px;
      }
    }
  }
}
