.newsletter {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 28px 32px;
  border-radius: var(--radius-xl);
  background-color: var(--gray-color-200);

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
