.newsletter {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  padding: 28px 32px;
  border-radius: var(--radius-xl);
  background-color: var(--gray-color-200);

  &--row {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: center;
   gap: 28px;

   .newsletter {
    &__tags {
      gap: 12px;
    }

    &__header {
      gap: 16px;
    }
   }
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
