.news-block {
  --gap-inner-news-block: #{calculate-clamp(
      24px,
      40px,
      $lg-breakpoint,
      $tablet-breakpoint
    )};

  &__inner {
    padding: calculate-clamp(24px, 40px, $lg-breakpoint, $tablet-breakpoint);
    border-radius: var(--radius-2xl);
    overflow: hidden;
    border: 1px solid var(--gray-color-100);
    background-color: var(--gray-color-200);
    display: flex;
    justify-content: space-between;
    gap: var(--gap-inner-news-block);
  }

  &__content {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 28px, $lg-breakpoint, $tablet-breakpoint);
    align-items: flex-start;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(8px, 12px, $lg-breakpoint, $tablet-breakpoint);

    .textbox {
      color: var(--dark-color-500);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, $lg-breakpoint, $tablet-breakpoint);
    max-width: 560px;
    width: 100%;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, $lg-breakpoint, $tablet-breakpoint);
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
  }

  @media (max-width: $lg-breakpoint) {
    &__inner {
      flex-direction: column;

      & > *:not(:last-child) {
        padding-bottom: var(--gap-inner-news-block);
        border-bottom: 1px solid var(--gray-color-600);
      }
    }

    &__content,
    &__info {
      max-width: 100%;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --gap-inner-news-block: #{calculate-clamp(
        16px,
        20px,
        $tablet-breakpoint,
        $mobile-breakpoint
      )};
      // background-color: var(--gray-color-200);

    &__inner {
      // background-color: transparent;
      padding-inline: var(--container-inline-padding);
      border-radius: 0;
    }

    &__items {
      gap: 15px;
    }

    .container {
      padding: 0;
    }
  }
}
