.newsletter {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(20px, 32px, 1280px, 1023px);
  width: 100%;
  padding: calculate-clamp(24px, 28px, 1280px, 1023px)
    calculate-clamp(24px, 32px, 1280px, 1023px);
  border-radius: var(--radius-xl);
  background-color: var(--gray-color-200);

  &--row {
    @media (min-width: calc($lg-breakpoint + 1px)) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 28px;

      .newsletter {
        &__tags {
          gap: 12px;
        }

        &__header {
          gap: 16px;
        }
      }
    }

    @media (max-width: calc($lg-breakpoint)) {
      .newsletter {
        &__header {
          display: contents;

          .form {
            order: 10000;
          }
        }
      }
    }
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 28px, 1280px, 1023px);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding: calculate-clamp(20px, 24px, 767px, 480px)
      calculate-clamp(12px, 24px, 767px, 480px);
  }
}

.newsletter-second {
  padding: 20px 16px;
  border: 1px solid var(--gray-color-200);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: var(--radius-xl);
  width: 100%;

  &.form {
    gap: 20px;
  }

  &__top {
    display: flex;
    align-items: flex-start;
    gap: calculate-clamp(12px, 16px, 1023px, 767px);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color-200);
    color: var(--primary-color-100);
    border-radius: var(--radius-base);
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__content,
  &__inputs,
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .input-box__info {
    input {
      font-size: var(--font-size-2xs);
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__content {
      flex-direction: row;
    
      .input-box__info,
      .input-box,
      .input-box__content {
        height: 100%;
      }
    }

    &__inputs {
      width: 100%;
    }

    &__icon {
      height: 100%;
    }
  }
}
