.object {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

.object-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.object-bottom {
  display: grid;
  grid-template-columns: auto 280px;
  gap: 32px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__top-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__top-line {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__top-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 32px;
  }

  &__info {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  &__details {
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto;
    gap: 32px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }
}
