.object {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 28px, 1439px, 1023px);

    &--small {
      @media (max-width: $tablet-breakpoint) {
        gap: calculate-clamp(12px, 24px, 1439px, 1023px);
      }
    }

    &--medium {
      gap: calculate-clamp(20px, 24px, 1439px, 1023px);
    }
  }

  @media (max-width: $lg-breakpoint) {
    overflow: hidden;
  }

  @media (max-width: $tablet-breakpoint) {
    &__inner {
      gap: calculate-clamp(20px, 24px, $tablet-breakpoint, $mobile-breakpoint);

      &--medium {
        gap: calculate-clamp(
          16px,
          20px,
          $tablet-breakpoint,
          $mobile-breakpoint
        );
      }
    }
  }
}

.object-top {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(8px, 16px, 1439px, 1023px);

  &--big {
    gap: 16px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__header-btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__info-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    width: 100%;

    &--full {
      grid-template-columns: repeat(1, 1fr);
    }

    .share {
      &__btns {
        .button {
          width: 100%;
        }
      }
    }
  }
}

.object-bottom {
  --gap-footer: 28px;

  display: grid;
  grid-template-columns: auto 280px;
  gap: 32px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(48px, 60px, 1439px, 1023px);
    min-width: 0;
    width: 100%;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(32px, 40px, 1439px, 1023px);
  }

  &__top-boxs {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 40px, 1439px, 1023px);
  }

  &__top-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    &--center {
      align-items: center;
    }
  }

  &__top-line {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: calculate-clamp(8px, 32px, 1439px, 1023px);
  }

  &__top-footer {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    gap: var(--gap-footer);
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 20px, 767px, 480px);
    width: 100%;
  }

  &__boxs {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__top-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 100%;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calculate-clamp(20px, 32px, 1439px, 1023px);
    min-width: 0;
    width: 100%;

    &--small {
      gap: calculate-clamp(20px, 24px, 1439px, 1023px);
    }
  }

  &__top-items-boxs,
  &__top-items-box {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 32px, 1439px, 1023px);
  }

  &__top-items-box {
    &--row-lg {
      @media (max-width: $lg-breakpoint) and (min-width: $tablet-breakpoint) {
        flex-direction: row-reverse;

        .price {
          white-space: nowrap;

          &__top {
            flex-direction: column;
          }
        }
      }
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px calculate-clamp(12px, 32px, 1439px, 1023px);

    &--four {
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }

    &--two {
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: $lg-breakpoint) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  &__top-line-btns {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__details {
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto;
    gap: calculate-clamp(24px, 32px, 1439px, 1023px);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__top-content,
  &__top-footer-content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 24px, 1439px, 1023px);
  }

  &__top-content-info {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 24px, 1439px, 1023px);

    &--small {
      gap: calculate-clamp(8px, 16px, 1439px, 1023px);
    }
  }

  &__banners {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__sticky-banner {
    position: sticky;
    top: calc(var(--header-height, --calback-header-height) + 10px);
    transition: all 0.3s;
    z-index: 10;
  }

  &__top-block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .list-icon {
      padding-left: 8px;
    }
  }

  &__top-btns {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    .button {
      min-width: 210px;
    }
  }

  &__item-property {
    &:not(:has(.swiper-pagination.swiper-pagination-lock)) {
      .object-bottom__property-details .pagination {
        // display: none;
      }
    }
  }

  &__property {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;

    &--big {
      gap: calculate-clamp(20px, 40px, 1439px, 1023px);
    }
  }

  &__property-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;

    &--three {
      grid-template-columns: repeat(3, 1fr);
      gap: calculate-clamp(8px, 14px, 1439px, 1023px);
    }
  }

  &__property-box {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 24px, 1439px, 1023px);
    width: 100%;
  }

  &__property-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &-btns {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  &__property-select {
    width: 147px;
  }

  &[data-grid="tiles"] {
    .object-bottom__items-blocks {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 24px 14px;

      .banner-promo {
        @include columnOrMeidaBannerPromo;
      }

      // & > *:not(.good-item) {
      //   grid-column: 1 / -1;
      // }
    }
  }

  &__goods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 8px;
    width: 100%;

    @media (max-width: $lg-breakpoint) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 16px;
    }

    @media (max-width: $tablet-breakpoint) {
      display: flex;
      flex-direction: column;
    }
  }

  &__property-swiper-box {
    width: 100%;
    min-width: 0;

    @media (min-width: $tablet-breakpoint) {
      .swiper--property {
        & > .swiper-wrapper.swiper-wrapper--grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 14px;

          @media (max-width: $lg-breakpoint) {
            grid-template-columns: repeat(2, 1fr);
          }

          .good-item--column .good-item__swiper-box {
            aspect-ratio: unset;
          }

          & > .swiper-slide {
            @media (min-width: $lg-breakpoint) {
              &:not(:nth-child(-n + 3)) {
                display: none;
              }
            }

            @media (min-width: $tablet-breakpoint) and (max-width: $lg-breakpoint) {
              &:not(:nth-child(-n + 2)) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &__table-box {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(8px, 16px, 767px, 480px);
    width: 100%;
  }

  &__tables {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, 1439px, 1023px);
    width: 100%;
  }

  &__items-blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__property-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    &--big {
      gap: calculate-clamp(20px, 24px, $lg-breakpoint, $tablet-breakpoint);
    }

    &--reverse-tablet {
      @media (max-width: $tablet-breakpoint) {
        flex-direction: column-reverse;
      }
    }

    .checkbox-box {
      width: fit-content;
    }
  }

  &__property-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;

    .checkbox-box {
      width: 100%;
    }
  }

  @media (max-width: $md-desktop-breakpoint) {
    display: flex;
    flex-direction: column;

    &__banners {
      display: none;
    }

    &__top-items {
      display: flex;
      align-items: normal;
      flex-direction: column;
      gap: 40px;
      width: 100%;

      &--reverse {
        flex-direction: column-reverse;
      }

      &--between-md {
        justify-content: space-between;
      }
    }

    &__top-footer {
      display: grid;
      grid-template-columns: calc(100% - 280px - var(--gap-footer)) 280px;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__feature-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      width: 100%;

      .button {
        width: 100%;
      }
    }

    &__item--near {
      .object-bottom__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__top-item {
      gap: calculate-clamp(12px, 20px, 767px, 480px);
      flex-direction: column-reverse;
      align-items: normal;

      &--center {
        align-items: normal;
      }
    }

    &[data-grid="tiles"],
    &[data-grid="list"] {
      .object-bottom__items-blocks {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__tables {
      gap: calculate-clamp(12px, 20px, 767px, 480px);
    }

    &__top-content-info {
      gap: 32px;

      &--small {
        gap: 16px;
      }

      &--inner {
        gap: 8px;
      }
    }

    &__top-content {
      gap: 12px;
    }

    &__item--near {
      background-color: var(--gray-color-200);
      border-radius: var(--radius-md);
      padding: 12px 4px;
      text-align: center;
      align-items: normal;

      .object-bottom__items {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .card-complex {
        background-color: var(--white-color);

        &__icon {
          background-color: var(--secondary-color-200);
          color: var(--secondary-color-100);
        }
      }
    }

    &__top-items-boxs {
      gap: 32px;

     
    }

    &__top-items-box {
      gap: 12px;

      
    }

    &__top-footer {
      --gap-footer: 32px;

      display: flex;
      flex-direction: column;

      .contact-aside {
        width: 100%;
      }

      &--reverse-media {
        flex-direction: column-reverse;
      }
    }

    &__property-filter {
    }

    &__property-select {
      width: auto;
      min-width: 80px;
    }

    &__top-items {
      gap: calculate-clamp(16px, 40px, 767px, 480px);
    }

    &__items {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }

    &__top-btns {
      display: flex;
      flex-direction: column;
      align-items: normal;

      .button {
        width: 100%;
      }
    }

    &__property-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;

      .checkbox-box {
        width: 100%;
      }

      &--three {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      align-items: normal;
    }

    &__property-block {
      &.accordeon__item {
        gap: 0;
      }

      &.accordeon__item.active {
        .accordeon__answer {
          padding-top: 12px;
        }

        .accordeon__question {
          background-color: var(--dark-color-200);
          color: var(--white-color);
        }
      }
    }

    &__details {
      gap: calculate-clamp(8px, 24px, 767px, 480px);
      grid-template-columns: 60% auto;
    }

    &__feature-footer {
      display: flex;
    }

    .table-swiper {
      position: relative;
      width: calc(100% + (var(--container-inline-padding) * 2));
      left: calc(var(--container-inline-padding) * -1);
    }
  }

  @media (max-width: $mobile-breakpoint) {
    // &__property-items {
    //   &--three {
    //     grid-template-columns: 108px 108px auto;
    //   }
    // }
  }

  @media (max-width: 359px) {
    &__property-items {
      &--three {
        grid-template-columns: repeat(2, 1fr);

        & > *:last-child {
          grid-column: 1 / -1;
        }
      }
    }
  }
}

body.scrollBottom {
  .object-bottom {
    &__sticky-banner {
      top: calc(10px);
    }
  }
}
