.object {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }
}

.object-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.object-bottom {
  display: grid;
  grid-template-columns: auto 280px;
  gap: 32px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    min-width: 0;
    width: 100%;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__top-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;

    &--center {
      align-items: center;
    }
  }

  &__top-line {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__badges {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  &__top-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    width: 100%;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    min-width: 0;
    width: 100%;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 32px;

    &--four {
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
    gap: 32px;
    width: 100%;
  }

  &__details {
    width: 100%;
    display: grid;
    grid-template-columns: 70% auto;
    gap: 32px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__top-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__banners {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__top-block {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .list-icon {
      padding-left: 8px;
    }
  }

  &__top-btns {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    .button {
      min-width: 210px;
    }
  }

  &__property {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
  }

  &__property-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;

    &--three {
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
    }
  }

  &__goods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 8px;
  }

  &__property-swiper-box {
    width: 100%;
    min-width: 0;
  }

  &__table-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  &__tables {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    
  }
}
