.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  &__details {
    display: flex;
    align-items: center;
    gap: 12px;

    .input-box {
      max-width: 65px;
      width: 100%;
     

      &__info {
        padding: 6px 12px;
        font-size: var(--font-size-xs);
      }

      &__content {
        width: 100%;
      }
    }
  }
}

.pagination-box {
  display: flex;
  align-items: center;

  gap: 24px;

  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

