.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;

  &__details {
    display: flex;
    align-items: center;
    gap: 12px;

    .input-box {
      max-width: 65px;
      width: 100%;

      &__info {
        padding: 6px 12px;
        font-size: var(--font-size-xs);
      }

      &__content {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    width: 100%;

    &__details {
      display: none;
    }

    .button--circle {
      width: 36px;
      height: 36px;
      border-radius: var(--radius-base);
    }
  }
}

.pagination-box {
  display: flex;
  align-items: center;

  gap: 24px;

  &__list {
    display: flex;
    align-items: center;
    gap: calculate-clamp(4px, 8px, 1024px, 767px);
  }

  @media (max-width: 767px) {
    width: 100%;
    justify-content: space-between;

    &__list {
      .pagination-box__link {
        &:not(:nth-child(-n + 3)):not(:nth-last-child(-n + 2)) {
          display: none;
        }
      }

      .button--cub {
        width: 36px;
        height: 36px;
        border-radius: var(--radius-base);
      }
    }
  }

  @media (max-width: 360px) {
    gap: 6px;
  }
}
