.params {
  width: 100%;

  &__box {
    width: 100%;
    padding: calculate-clamp(8px, 12px, 1439px, 1023px) calculate-clamp(8px, 20px, 1439px, 1023px);
    background-color: var(--gray-color-100);
    border: 1px solid var(--gray-color-600);
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    gap: calculate-clamp(8px, 12px, 1439px, 1023px);
  }

  &__item {
    width: 100%;
    border-radius: var(--radius-base);
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active-card {
      background-color: var(--secondary-color-100);
      color: var(--white-color);
      cursor: pointer;
    }
  }

  &__item-header,
  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item-header {
    .h6 {
      font-size: 24px;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__item {
      min-height: calculate-clamp(66px, 88px, 767px, 480px);
    }
  }
}
