.input-tel-wrapper {
  .iti__country-list {
    display: none;
  }
}

.dropdown-tel {
  .dropdown {
    &__content {
      overflow: hidden;
      max-height: none;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  .country-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
}
