.popup {
  padding: 12px 16px;

  &.popup--fit-content {
    min-width: fit-content;
  }
}

.price-popup {
  min-width: 444px;
  right: 0;
  left: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
