.popup {
  padding: calculate-clamp(8px, 12px, 1023px, 767px)
    calculate-clamp(8px, 16px, 1023px, 767px);

  &.popup--fit-content {
    min-width: fit-content;
  }
}

.price-popup {
  min-width: 444px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  @media (max-width: $tablet-breakpoint) {
    min-width: 100%;
    width: 100%;

    &__content {
      gap: 6px;

      p {
        font-size: var(--font-size-3xs);
      }
    }

    .input-box{
      &__info {
        flex-direction: column;
        align-items: normal;
        padding-inline: 2px;

        input {
          text-align: center;
        }
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
