.price {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(4px, 8px, 1023px, 767px);

  &__top,
  &__content {
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }

  &__top {
    &--end {
      align-items: flex-end;
    }
  }

  &__content {
    flex-direction: column;
    color: var(--dark-color-600);
  }

  &__change,
  &__change-content {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__change-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: transparent;

    p {
      text-decoration: underline;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__top {
      &--column-media {
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;
      }
    }
  }
}
