.pricing {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;

    &--flex {
      display: flex;
      flex-wrap: wrap;

      .pricing-card {
        min-width: 172px;
      }
    }
  }

  &__footer {
    display: block;
    min-width: 0;

    .swiper {
      min-width: 0;
      width: 100%;
    }
  }

  @media (max-width: 1279px) {
    &__items {
      grid-template-columns: repeat(2, 1fr);

      &:not(.pricing__items--flex) {
        .pricing-card {
          &:first-child {
            grid-column: 1 / -1;
          }
        }
      }

      .pricing-card {
        min-width: 130px;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__items {
      &--flex {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        .pricing-card {
          grid-column: span 2;

          &:nth-of-type(1),
          &:nth-child(2) {
            grid-column: span 3;
          }
        }
      }

      .pricing-card {
        min-width: 0;
      }
    }
  }

  @media (max-width: 359px) {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
}
