.pricing-card {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: var(--radius-base);
  background-color: var(--white-color);
  justify-content: space-between;

  &--gray {
    background-color: var(--gray-color-200);
  }

  &--small {
    padding: 8px 12px;
    gap: 0;

    .pricing-card {
      &__footer {
        gap: 8px;
      }

      &__block {
        gap: 2px;
      }
    }
  }

  &--middle {
    padding: 12px 24px;
    gap: 4px;
    border-radius: var(--radius-md);

    .pricing-card {
      &__block {
        gap: 2px;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--row {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;

    &.green {
      color: var(--green-color-100);
    }

    &.red {
      color: var(--primary-color-500);
    }
  }
}
