.price {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__top,
  &__content {
    display: flex;
    gap: 12px;
    align-items: flex-start;
  }

  &__content {
    flex-direction: column;
    color: var(--dark-color-600);
  }

  &__change,
  &__change-content {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__change-btn {
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: transparent;

    p {
      text-decoration: underline;
    }
  }
}
