.property {
  &__inner,
  &__info {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(20px, 32px, 1023px, 767px);
  }

  &__content,
  &__filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__filter {
    .button {
      width: 100%;
    }

    &.accordeon__item {
      @media (max-width: $tablet-breakpoint) {
        gap: 0;

        &.active {
          .property__filter-search {
            padding-bottom: 12px;
          }

          .companies-filter--property {
            padding-bottom: 24px;
          }

          .accordeon__question.button {
            background-color: var(--secondary-color-100);
            color: var(--white-color);
          }
        }
      }
    }
  }

  &__filter-search {
    display: grid;
    grid-template-columns: 40px calc(100% - 80px - 16px) 40px;
    gap: 8px;
    width: 100%;
    padding-bottom: 24px;
  }

  &__filter-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__filter-sort-item {
    &:has(.select-box) {
      width: 151px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  // @media (min-width: $tablet-breakpoint) {
    // &__swiper-box .swiper-wrapper--propperty {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 24px;
    // }

    &[data-grid="tiles"] {
      .property__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 24px 14px;

        & > *:not(.swiper-slide) {
          // grid-column: 1 / -1;
        }
      }
    }

    // .swiper-wrapper--propperty > .swiper-slide {
    //   display: none;
    //   width: 100%;

    //   &:nth-child(-n + 3) {
    //     display: flex;
    //   }

    //   .good-item {
    //     width: 100%;
    //   }
    // }
  // }

  @media (max-width: $tablet-breakpoint) {
    &__info {
      gap: 24px;
    }
    // .swiper--property {
    //   overflow: visible;
    // }

    // .swiper-pagination--property {
    //   width: 100%;
    // }
  }
}
