.propgress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--secondary-color-100);
  font-weight: var(--weight-font-md);
  text-align: center;

  &__items {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__item {
    border-radius: var(--radius-sm);
    overflow: hidden;
    background-color: var(--gray-color-300);
    height: calculate-clamp(6px, 8px, 1023px, 767px);
    flex: 1;
    transition: all .3s;

    &.active {
      background-color: var(--secondary-color-100);
    }
  }

  @media (max-width: $lg-breakpoint) {
    flex-direction: row-reverse;
    align-items: center;
    white-space: nowrap;
  }
}
