.quick {
  --padding-left-title: 16px;

  display: flex;
  flex-direction: column;
  gap: calculate-clamp(20px, 32px, 1023px, 480px);

  &__item {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(12px, 16px, 767px, 480px);

    &--noGap {
      &-lg {
        @media (max-width: $lg-breakpoint) {
          gap: 0;
        }
      }
    }

    &.accordeon__item.active {
      .quick__info {
        padding-top: 10px;
      }
    }
  }

  &--full {
    &-tablet {
      @media (max-width: $tablet-breakpoint) {
        .quick__title {
          border-radius: 0;
        }
      }
    }
  }

  &__title {
    min-height: 48px;
    padding: 10px var(--padding-left-title);
    background-color: var(--gray-color-200);
    border-radius: var(--radius-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    p {
      font-size: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calculate-clamp(8px, 16px, 1024px, 767px);
    padding-left: var(--padding-left-title);
    align-items: flex-start;

    &--one-grid {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &--two-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    &--four-grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 8px calculate-clamp(8px, 16px, 1024px, 767px);

      @media (max-width: $lg-breakpoint) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

  }

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
    flex-wrap: wrap;
  }

  &__mean {
    color: var(--dark-color-600);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: var(--padding-left-title);
  }

  @media (max-width: 767px) {
    // --padding-left-title: 0px;

    // &__title {
    //   padding: 10px 16px;
    // }

    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 479px) {
    &__items {
      display: flex;
      flex-direction: column;
    }
  }
}
