.quote {
  padding: 28px 40px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: var(--secondary-color-400);
  border-radius: var(--radius-xl);

  &__header {
    display: flex;
    flex-direction: column;
    gap: 28px;

    blockquote {
      color: var(--white-color);
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--white-color);
    overflow: hidden;
    color: var(--secondary-color-400);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 21px;
      height: 16px;

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    max-width: 300px;
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid var(--secondary-color-100);
    margin: 0 auto;
    color: var(--secondary-color-200);
  }
}
