.quote {
  --gap-main-quote: #{calculate-clamp(24px, 28px, 1023px, 767px)};

  padding: calculate-clamp(24px, 28px, 1023px, 767px)
    calculate-clamp(32px, 40px, 1023px, 767px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-main-quote);
  background-color: var(--secondary-color-400);
  border-radius: var(--radius-xl);

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-main-quote);

    blockquote {
      color: var(--white-color);
    }
  }

  &__icon {
    width: calculate-clamp(48px, 56px, 1023px, 767px);
    height: calculate-clamp(48px, 56px, 1023px, 767px);
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--white-color);
    overflow: hidden;
    color: var(--secondary-color-400);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    max-width: 300px;
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid var(--secondary-color-100);
    margin: 0 auto;
    color: var(--secondary-color-200);
  }

  @media (max-width: $tablet-breakpoint) {
    --gap-main-quote: #{calculate-clamp(16px, 24px, 767px, 480px)};

    padding: calculate-clamp(16px, 24px, 767px, 480px)
      calculate-clamp(12px, 32px, 767px, 480px);

    &__footer {
      max-width: 100%;
    }
  }
}
