.rating {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rating-stars {
  display: flex;
  align-items: center;
  gap: 4px;

  &__item {
    cursor: pointer;

    &.pre-active {
      .icon {
        svg path {
          stroke: var(--primary-color-100);
        }
      }
    }

    &.active {
      .icon {
        color: var(--primary-color-100);

        svg path {
          stroke: var(--primary-color-100);
        }
      }
    }

    .icon {
      transition: all 0.5s;
      width: 20px;
      height: 20px;
      color: transparent;

      svg,
      img {
        width: 100%;
        height: 100%;
      }

      svg path {
        stroke: var(--dark-color-600);
      }
    }
  }
}
