.search {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 48px, $lg-breakpoint, $tablet-breakpoint);

    &--small {
      gap: 24px;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(12px, 16px, $lg-breakpoint, $tablet-breakpoint);
  }

  &__inputs {
    display: grid;
    gap: 16px;
    grid-template-columns: 72% 1fr;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(24px, 48px, $lg-breakpoint, $tablet-breakpoint);;
  }

  &__block,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  @media (max-width: $lg-breakpoint) {
    &__inputs {
      grid-template-columns: 79% 1fr;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__inputs {
      display: flex;

      .input-box {
        width: 100%;
      }
    }
  }
}
