.search-big {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 126px;
  height: 100%;

  &__content {
    box-shadow: 0px 4px 12px 0px #0d0a2c0f;
    border-radius: var(--radius-sm);
    width: 100%;
    background-color: var(--white-color);
    padding: calculate-clamp(12px, 16px, $lg-breakpoint, $tablet-breakpoint) calculate-clamp(12px, 16px, $lg-breakpoint, $tablet-breakpoint) 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      border-radius: calc(var(--radius-sm) + 2px);
      background: linear-gradient(
        91.24deg,
        #ff5118 -1.96%,
        #3b3efb 49.5%,
        #c00bdc 101.96%
      );
      z-index: -1;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: var(--gray-color-200);
    padding: 4px 8px;
    border-radius: var(--radius-base);
    min-height: 30px;
  }

  &__inputs {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
      background-color: transparent;
      cursor: pointer;
      resize: none;
      color: var(--dark-color-200);
      font-size: var(--font-size-xs);
      width: 100%;
      min-height: 54px;

      &::placeholder {
        font-size: 100%;
        color: var(--dark-color-500);
      }
    }
  }

  &:has(.search-big__inputs textarea.has-value) {
    .search-big {
      &__edit {
        display: flex;
      }

      &__apply {
        display: none;
      }

      &__content {
        background-color: var(--gray-color-200);
      }
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__edit {
    display: none;
    color:var(--dark-color-100);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .button--bg-gradient {
      padding-inline-start: 16px;
      padding-inline-end: 4px;
      min-height: calculate-clamp(32px, 36px, $tablet-breakpoint, $mobile-breakpoint);
    }
  }

  &__head-block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  @media (max-width:$tablet-breakpoint) {
    &__content {
      padding: calculate-clamp(4px, 12px, $tablet-breakpoint, $mobile-breakpoint) calculate-clamp(4px, 12px, $tablet-breakpoint, $mobile-breakpoint) 8px;
    }

    &__inputs,
    &__footer {
      padding-inline-start: 8px;
      padding-inline-end: 4px;
    }
  }
}
