.search-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: var(--radius-base);
  padding: 4px 12px;
  color: var(--dark-color-500);
  transition: all 0.3s;
  cursor: pointer;

  &__content,
  &__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &:hover {
    background-color: var(--gray-color-200);
    color: var(--dark-color-200);

    .search-item {
        &__delete {
            opacity: 1;
            visibility: visible;
        }
    }
  }

  &__delete {
    color: var(--dark-color-500);
    background-color: transparent;
    opacity: 0;
    visibility: hidden;

    &:hover {
      color: var(--primary-color-100);
    }
  }
}
