.search-address {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__items {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}