.select-box {
  &.with-icon {
    .ts-control {
      &:before {
        content: "";
        width: 24px;
        height: 24px;
        font-size: 24px;
        flex-shrink: 0;
      }
    }
  }

  &[data-icon="search"] {
    .ts-control {
      &:before {
        background-image: url(/img/icons/search.svg);
      }
    }
  }

  &[data-icon="sort"] {
    .ts-control {
      &:before {
        background-image: url(/img/icons/sort.svg);
      }
    }
  }
}

.select-box {
  select {
    opacity: 0;
  }

  .ts-control {
    padding: 4px 16px;
    border-radius: var(--radius-md);
    border: 1px solid var(--gray-color-600);
    font-size: 16px;
    line-height: 1;
    color: var(--dark-color-500);
    width: fit-content;
    min-width: 91px;
    max-width: 260px;
    width: 100%;
    min-height: 48px;
    background-color: var(--white-color);
    gap: 8px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    cursor: pointer;

    input {
      font-size: 16px;
      line-height: 1;
      color: var(--dark-color-500);
      min-width: 0;
      margin: 0;
      cursor: pointer;

      &::placeholder {
        font-size: 100%;
      }
    }

    .icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background-image: url(/img/icons/search.svg);
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 0;
      margin-left: auto;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5' fill='none'%3E%3Cpath d='M8.5 0.5L4.5 4.5L0.5 0.5' stroke='%23111928' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: center;
      transition: all 0.5s;
    }
  }

  &--big {
    min-width: 260px;
  }

  &--middle {
    min-width: 151px;
  }

  &--noMax {
    .ts-control,
    .ts-dropdown {
      max-width: 100% !important;
    }
  }

  &--search {
    @mixin search-icon {
      content: "";
      flex-shrink: 0;
      background-image: url(/img/icons/search.svg);
      background-repeat: no-repeat;
      background-size: contain;
      flex-shrink: 0;
    }

    .ts-control {
      &:after {
        display: none;
      }
    }

    .dropdown-input-wrap {
      &:after {
        left: 0;
        width: 16px;
        height: 16px;
        font-size: 16px;
        @include search-icon;
      }
    }
  }

  .ts-dropdown {
    margin: 0;
    border: 1px solid var(--gray-color-600);
    border-radius: var(--radius-md);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-loosest);
    padding: 4px;
    max-width: 200px;
    width: 100%;
    z-index: 100;

    .ts-option {
      padding: 4px 8px;
      border-radius: var(--radius-base);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:hover,
      &:active,
      &.active {
        background-color: var(--gray-color-200);
      }

      &.selected {
        background-color: var(--secondary-color-200);

        .ts-option-remove {
          display: flex;
        }
      }

      .ts-option-remove {
        display: none;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        font-size: 16px;
        flex-shrink: 0;
        background-color: transparent;
      }
    }

    .dropdown-input-wrap {
      min-height: 36px;
      border: 1px solid var(--gray-color-600);
      padding: 7px 8px;
      border-radius: var(--radius-base);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      input {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
      }

      .icon {
        width: 16px;
        height: 16px;
        font-size: 16px;
      }
    }
  }

  .ts-wrapper.multi .ts-control > div {
    margin: 0;
    padding: 2px 8px;
    color: var(--secondary-color-100);
    align-items: center;

    .ts-item-remove {
      padding: 0;
      background-color: transparent;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }

  .ts-item {
    display: inline-flex;
    padding: 2px 8px;
    gap: 4px;
    background-color: var(--gray-color-200);
    border-radius: var(--radius-base);
    font-size: var(--font-size-xs);
    line-height: var(--line-height-loosest);
    white-space: nowrap;
  }

  .ts-dropdown-content {
    max-height: calc(36px * 7);
  }

  .plugin-dropdown_input.focus.dropdown-active .ts-control {
    border-color: var(--dark-color-600);
  }

  .ts-counter {
    color: var(--secondary-color-300);
    background-color: var(--secondary-color-100);
    border-radius: var(--radius-base);
    padding: 2px 8px;
  }

  .city-option {
    .highlight {
      color: var(--dark-color-200);
      text-decoration: underline;
    }
  }

  .ts-wrapper {
    &.single.has-items,
    &.multi.has-items {
      .ts-control input {
        position: absolute;
        opacity: 0;
      }
    }

    &.has-items {
      .ts-control {
        border-color: var(--secondary-color-100);

        &:after {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='5' viewBox='0 0 9 5' fill='none'%3E%3Cpath d='M8.5 0.5L4.5 4.5L0.5 0.5' stroke='%23636899' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
      }
    }

    &.dropdown-active {
      .ts-control {
        &:after {
          rotate: -180deg;
        }
      }
    }
  }

  .ts-wrapper.multi .ts-control > div.active {
    background-color: transparent;
  }

  &--words {
    .ts-item {
      padding: 0;
      background-color: transparent;
    }

    .ts-wrapper.multi .ts-control > div {
      padding: 0;
      background-color: transparent;
      margin: 0;
    }
  }

  .ts-wrapper.single.input-active .ts-control {
    cursor: pointer;
  }

  .ts-wrapper.single .ts-item,
  .ts-wrapper.single .ts-option span {
    width: 100%;
    text-overflow: ellipsis;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--check {
    .ts-dropdown {
      max-width: 340px;
      width: 332px;
      padding: 12px 16px;
    }

    .ts-control {
      gap: 0;
    }

    .ts-dropdown-content {
      display: flex;
      gap: 16px 8px;
      flex-wrap: wrap;
    }
  }
}

.select-box--words
  .ts-wrapper.multi
  .ts-control
  > .ts-item:not(:last-of-type)::after {
  content: ",";
  margin-right: 0;
}

.select-box--words .ts-wrapper.multi .ts-control > .ts-item:not(:last-child) {
  gap: 0;
}

.plugin-optgroup_columns .ts-dropdown-content {
  display: grid !important;
  gap: 20px;
}

.optgroup {
  display: flex;
  align-items: center;
  gap: 16px 8px;
  flex-wrap: wrap;

  .ts-optgroup-header {
    width: 100%;
  }
}
