.share {
  

  &__bnts {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__popup {
    width: fit-content;
    padding: calculate-clamp(8px, 16px, 767px, 480px);
    box-shadow: 0px 4px 12px 0px #0d0a2c0f;
    border-color: var(--gray-color-200);
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(142px, 1fr));
    max-width: 460px;
    width: 100%;
    gap: 8px;

    button,
  a {
    color: var(--dark-color-200);
  }
   
  }

  &__item-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(8px, 16px, 767px, 480px);
    padding: calculate-clamp(8px, 16px, 767px, 480px);
    background-color: var(--gray-color-100);
    border-radius: var(--radius-base);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s;
    background-color: transparent;

    .icon {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: var(--secondary-color-100);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    width: 100%;
    gap: 8px;

    .share__item-box {
      padding: 10px 16px;
    }
  }

  @media (max-width: $tablet-breakpoint) {
    .list-popup__box {
      max-width: 300px;
     
    }

    &__item-box  {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
