.sibebar {
  max-width: 0px;
  overflow: hidden;
  width: 100%;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  
  transition: all .5s;

  &.open {
    padding: 16px calculate-clamp(12px, 20px, 1440px, 1023px);
  }
}
