.sign-in-item {
  padding: 32px;
  background-color: var(--white-color);
  border-radius: var(--radius-2xl);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 56px;
    flex-shrink: 0;
    border-radius: var(--radius-4xl);
    background-color: var(--gray-color-200);
    color: var(--dark-color-500);

    * {
      width: 32px;
      height: 32px;
      font-size: 32px !important;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}
