.sign-in-item {
  padding: calculate-clamp(24px, 32px, 767px, 480px);
  background-color: var(--white-color);
  border-radius: var(--radius-2xl);

  &:has(.check-big-item__hidden:checked) {
    .sign-in-item {
      &__icon {
        color: var(--white-color);
        background-color: var(--secondary-color-100);
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 56px;
    flex-shrink: 0;
    border-radius: var(--radius-4xl);
    background-color: var(--gray-color-200);
    color: var(--dark-color-500);
    transition: all 0.3s;

    * {
      width: 32px;
      height: 32px;
      font-size: 32px !important;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }

  @media (max-width: $tablet-breakpoint) {
    &__content {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    &__icon {
      height: 100%;
    }

    &__info {
      align-items: flex-start;
      gap: 0;
      text-align: left;
    }
  }
}
