.slogan {
  background-color: var(--gray-color-100);
  padding: 32px;
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
}

.slogan-img {
  background-color: var(--secondary-color-200);
  border-radius: var(--radius-xl);
  overflow: hidden;
  width: 100%;

  &__img-box {
    width: 100%;
    height: 302px;
    position: relative;
    overflow: hidden;
  }

  &__img-main {
    height: 100%;
    width: 100%;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: absolute;
    z-index: 2px;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    aspect-ratio: 1 / 1;
    width: 78px;
    border: 4px solid var(--white-color);
    border-radius: var(--radius-base);
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $md-desktop-breakpoint) {
    &__img-box {
      height: calculate-clamp(368px, 408px, $lg-breakpoint, $tablet-breakpoint);
    }

    &__logo {
      width: calculate-clamp(68px, 98px, 767px, 480px);
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &__img-box {
      height: calculate-clamp(196px, 368px, 767px, 480px);
    }
  }

  @media (max-width: $tablet-breakpoint) {
    background-color: var(--white-color-170);
    border-radius: var(--radius-md);
  }
}
