.social {
  display: flex;
  align-items: center;
  gap: 28px;

  &__item {
    width: 24px;
    height: 24px;
    display: flex;

    .icon {
      width: 100%;
      height: 100%;

      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
