.svg-hint {
  position: relative;

  &:hover {
    .svg-hint {
      &__popup {
        display: flex;
      }
    }
  }

  &__popup {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    z-index: 10;
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color-100);
    border-radius: var(--radius-base);
    padding: 12px 16px;
    flex-direction: column;
    gap: 8px;
    min-width: 195px;
    max-width: 200px;
    width: 100%;
    color: var(--dark-color-200);
    text-align: left;
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }
}
