.swiper-box {
  &--pagination-bottom {
    .swiper-wrapper {
      padding-bottom: 20px;
    }

    &:has(.swiper-pagination.swiper-pagination-lock) {
      .swiper-wrapper {
        padding-bottom: 0px;
      }
    }
  }

  &__block {
    width: 100%;
    min-width: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    .swiper-box__block {
      width: 100%;
      min-width: 0;
    }
  }


  .swiper-slide {
    height: auto;
  }
}
