.swiper-box {
  &--pagination-bottom {
    .swiper-wrapper {
      padding-bottom: 20px;
    }

    &:has(.swiper-pagination.swiper-pagination-lock) {
      .swiper-wrapper {
        padding-bottom: 0px;
      }
    }
  }
}
