.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;

  &--absolute {
    position: absolute;
    bottom: 8px;
    z-index: 4;
    left: 10px;
    right: 10px;
  }

  &--counter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00000080;
    min-height: 26px;
    font-size: var(--font-size-2xs);
    border-radius: var(--radius-2xl);
    padding: 2px 8px;
    color: var(--white-color);
    gap: 4px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--dark-color-800);
    border: 1px solid var(--gray-color-200);
    transition: border-radius 0.8s, width 0.5s, background-color 0.5s;

    &.swiper-pagination-bullet-active {
      width: 24px;
      height: 8px;
      background-color: var(--secondary-color-100);
      border-radius: var(--radius-sm);
    }
  }

  &.swiper-pagination-lock {
    display: none;
  }
}

.swiper-pagination-progressbar {
  width: 100%;
  height: 10px;
  overflow: hidden;
  border-radius: 3px;
  background-color: var(--white-color);
  padding: 1px;
  display: block;

  .swiper-pagination-progressbar-fill {
    height: 100%;
    display: block;
    background-color: var(--gray-color-400);
    border-radius: 2px;
    transform-origin: left;
  }
}

.swiper {
  &:has(.swiper-pagination.swiper-pagination-progressbar) {
    .swiper-wrapper {
      margin-bottom: 8px;
    }
  }
}
