.tabs-box {
  width: 100%;

  &__btns {
    width: 100%;
    border: 1px solid var(--gray-color-600);
    background-color: var(--white-color);
    padding: 4px;
    border-radius: var(--radius-md);
    display: flex;
    gap: 4px;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    height: auto;
    border-radius: var(--radius-base);
    cursor: pointer;
    transition: all 0.5s;
    color: var(--dark-color-200);
    padding: 8px 12px;
    text-align: center;

    &.active {
      background-color: var(--secondary-color-300);
      color: var(--white-color);
    }

    &:hover {
      color: var(--white-color);
      background-color: var(--secondary-color-100);
    }
  }

  &--secondary-bg-active-200 {
    .tabs-box {
      &__btn {
        &.active {
          background-color: var(--secondary-color-200);
          color: var(--secondary-color-300);
        }

        &:hover {
          color: var(--white-color);
          background-color: var(--secondary-color-300);
        }
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__content-item,
  &__header-item {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  @media (max-width: 359px) {
    &__btns {
      display: flex;
      flex-direction: column;
    }
  }
}

body .wrapper {
  .tab-item {
    display: none;

    &.active {
      display: flex;
    }
  }
}
