.table-grid {
  --grid-template-columns: 60% repeat(3, 1fr);
  --gap-items: 4px;
  --gap-table: 4px;

  display: flex;
  flex-direction: column;
  gap: var(--gap-table);
  width: 100%;

  &--two {
    --grid-template-columns: repeat(2, 1fr);
    --gap-items: 20px;
  }

  &--four {
    --grid-template-columns: repeat(4, 1fr);
    --gap-items: 2px;
  }

  &--five {
    --grid-template-columns: repeat(5, 1fr);
    --gap-items: 2px;
  }

  &--noGap {
    --gap-items: 0px;
    --gap-table: 0px;
  }

  &--noRadius {
    .table-grid__row,
    .table-grid__header {
      border-radius: 0;
    }
  }

  &--border {
    border-bottom: 1px solid var(--gray-color-600);

    .table-grid {
      &__row,
      &__decor {
        border-top: 1px solid var(--gray-color-600);
      }

      &__cell {
        padding: 6px 8px;
      }
    }
  }

  &--border-item {
    .table-grid {
      &__cell {
        &:not(:last-child) {
          border-right: 1px solid var(--gray-color-600);
        }
      }
    }
  }

  &--bg-all {
    .table-grid__row {
      background-color: var(--gray-color-100);
    }
  }

  &--fz-s {
    p {
      font-size: var(--font-size-s);
    }
  }

  &__header {
    background-color: var(--gray-color-200);
    border-radius: var(--radius-base);
    overflow: hidden;

    &--noBg {
      background-color: transparent;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--gap-items);
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--gap-items);
  }

  &__cell {
    padding: 10px 16px;

    display: flex;
    align-items: center;
    gap: 8px;

    &--gray-color-200 {
      background-color: var(--gray-color-200);
    }
  }

  &__decor {
    grid-column: 1 / -1;
  }

  &__decor-cell {
    padding: 12px 10px;

    &--big {
      padding: 16px;
    }

    &--gray-color-600 {
      background-color: var(--gray-color-600);
    }
  }

  &:not(.table-grid--odd):not(.table-grid--noBg) {
    .table-grid {
      &__items {
        .table-grid__row {
          &:nth-child(even) {
            background-color: var(--gray-color-100);
          }
        }
      }

      &.table-grid--white-bg {
        .table-grid__items {
          .table-grid__row {
            &:nth-child(even) {
              background-color: var(--white-color);
            }
          }
        }
      }
    }
  }

  &--odd {
    &:not(.table-grid--noBg) {
      .table-grid {
        &__items {
          .table-grid__row {
            &:nth-child(odd) {
              background-color: var(--gray-color-100);
            }
          }
        }
      }
    }

    &.table-grid--white-bg {
      .table-grid__items {
        .table-grid__row {
          &:nth-child(odd) {
            background-color: var(--white-color);
          }
        }
      }
    }
  }

  &__cell-btns {
    display: flex;
    gap: 10px;
  }

  &--line {
    .table-grid {
      &__items {
        .table-grid__row {
          &:first-child {
            border-top: 1px solid var(--gray-color-600);
          }

          border-radius: 0;
          border-bottom: 1px solid var(--gray-color-600);
        }
      }
    }
  }

  &--media-two-head {
    @media (max-width: $tablet-breakpoint) {
      .table-grid {
        &__header {
          display: none;
        }

        &__items {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        &__cell {
          padding: 0;
        }

        &__row {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 12px;
          background-color: var(--gray-color-100);
          border-radius: var(--radius-base);
          padding: 12px;

          .table-grid {
            &__cell {
              grid-column: span 2;

              &:nth-child(1),
              &:nth-child(2) {
                grid-column: span 3;
              }

              &:nth-child(2),
              &:nth-child(4n + 5) {
                justify-content: flex-end;
              }

              &:nth-child(4n + 4) {
                justify-content: center;
                border-left: 1px solid var(--gray-color-600);
              }

              &:nth-child(4n + 5) {
                border-left: 1px solid var(--gray-color-600);
              }
            }
          }
        }
      }
    }
  }
}

.table-swiper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    margin-left: auto;
    width: fit-content;
  }

  &__box {
    width: 100%;
    min-width: 0;
  }
}
