.table-grid {
  --grid-template-columns: 60% repeat(3, calc(40% / 3));
  --gap-items: 4px;

  display: flex;
  flex-direction: column;
  gap: var(--gap-items);
  width: 100%;

  &--two {
    --grid-template-columns: repeat(2, 1fr);
    --gap-items: 20px;
  }

  &--four {
    --grid-template-columns: repeat(5, 1fr);
    --gap-items: 2px;
  }

  &__header {
    background-color: var(--gray-color-200);
  }

  &__row {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: 4px;
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  &__cell {
    padding: 10px 16px;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__decor {
    grid-column: 1 / -1;
  }

  &__decor-cell {
    padding: 12px 10px;
  }

  &:not(.table-grid--odd) {
    .table-grid {
      &__items {
        .table-grid__row {
          &:nth-child(even) {
            background-color: var(--gray-color-100);
          }
        }
      }
    }
  }

  &--odd {
    .table-grid {
      &__items {
        .table-grid__row {
          &:nth-child(odd) {
            background-color: var(--gray-color-100);
          }
        }
      }
    }
  }

  &__cell-btns {
    display: flex;
    gap: 10px;
  }
}
