.table-grid {
  --grid-template-columns: 60% repeat(3, calc(40% / 3));
  --gap-items: 4px;
  --gap-table: 4px;

  display: flex;
  flex-direction: column;
  gap: var(--gap-table);
  width: 100%;

  &--two {
    --grid-template-columns: repeat(2, 1fr);
    --gap-items: 20px;
  }

  &--four {
    --grid-template-columns: repeat(4, 1fr);
    --gap-items: 2px;
  }

  &--five {
    --grid-template-columns: repeat(5, 1fr);
    --gap-items: 2px;
  }

  &--noGap {
    --gap-table: 0px;
  }

  &__header {
    background-color: var(--gray-color-200);
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  &__row {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    gap: var(--gap-items);
    border-radius: var(--radius-base);
    overflow: hidden;
  }

  &__cell {
    padding: 10px 16px;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__decor {
    grid-column: 1 / -1;
  }

  &__decor-cell {
    padding: 12px 10px;

    &--big {
      padding: 16px;
    }

    &--gray-color-600 {
      background-color: var(--gray-color-600);
    }
  }

  &:not(.table-grid--odd):not(.table-grid--noBg) {
    .table-grid {
      &__items {
        .table-grid__row {
          &:nth-child(even) {
            background-color: var(--gray-color-100);
          }
        }
      }

      &.table-grid--white-bg {
        .table-grid__items {
          .table-grid__row {
            &:nth-child(even) {
              background-color: var(--white-color);
            }
          }
        }
      }
    }
  }

  &--odd {
    &:not(.table-grid--noBg) {
      .table-grid {
        &__items {
          .table-grid__row {
            &:nth-child(odd) {
              background-color: var(--gray-color-100);
            }
          }
        }
      }
    }

    &.table-grid--white-bg {
      .table-grid__items {
        .table-grid__row {
          &:nth-child(odd) {
            background-color: var(--white-color);
          }
        }
      }
    }
  }

  &__cell-btns {
    display: flex;
    gap: 10px;
  }

  &--line {
    .table-grid {
      &__items {
        .table-grid__row {
          &:first-child {
            border-top: 1px solid var(--gray-color-600);
          }

          border-radius: 0;
          border-bottom: 1px solid var(--gray-color-600);
        }
      }
    }
  }
}

.table-swiper {
  display: flex;
  flex-direction: column;

  &__header {
    margin-left: auto;
    width: fit-content;
  }

  &__box {
    width: 100%;
    min-width: 0;
  }
}
