.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-xs);
  background-color: var(--gray-color-100);
  border-radius: var(--radius-sm);
  padding: 4px 8px;
  min-height: 36px;

  &--big {
    border-radius: var(--radius-2xl);
    padding: 4px 16px;
  }

  &--gray-200 {
    background-color: var(--gray-color-200);
  }

  &--gray-300 {
    background-color: var(--gray-color-300);
  }

  &--dark-100 {
    background-color: var(--dark-color-100);
    color: var(--white-color);
  }

  &--dark-200 {
    background-color: var(--dark-color-200);
    color: var(--white-color);
  }

  &--dark-300 {
    background-color: var(--dark-color-300);
    color: var(--white-color);
  }

  &--dark-400 {
    background-color: var(--dark-color-400);
    color: var(--white-color);
  }

  &--dark-500 {
    background-color: var(--dark-color-500);
    color: var(--white-color);
  }

  &--secondary-400 {
    background-color: var(--secondary-color-400);
    color: var(--white-color);
  }

  .icon {
    width: 24px;
    height: 24px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &--circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}
