.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-xs);
  background-color: var(--gray-color-100);
  border-radius: var(--radius-sm);
  padding: 4px 8px;
  min-height: 36px;

  .icon {
    width: 24px;
    height: 24px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
