.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-xs);
  background-color: var(--gray-color-100);
  border-radius: var(--radius-sm);
  padding: 4px 8px;
  min-height: 32px;

  &--big {
    border-radius: var(--radius-2xl);
    padding: calculate-clamp(2px, 4px, 1280px, 1023px) calculate-clamp(8px, 16px, 1280px, 1023px);
    min-height: calculate-clamp(30px, 42px, 1280px, 1023px);
  }

  &--lg {
    border-radius: var(--radius-2xl);
    min-height: 36px;
    padding: 2px 16px;
  }

  &--small-radius {
    border-radius: var(--radius-md);
  }

  &--small {
    min-height: 28px;
    padding: 2px 8px;
    border-radius: var(--radius-sm);
  }

  &--xs {
    min-height: 26px;
    padding: 1px 12px;
    border-radius: var(--radius-2xl);
  }

  &--gray-200 {
    background-color: var(--gray-color-200);
  }

  &--gray-300 {
    background-color: var(--gray-color-300);
  }

  &--dark-100 {
    background-color: var(--dark-color-100);
    color: var(--white-color);
  }

  &--dark-200 {
    background-color: var(--dark-color-200);
    color: var(--white-color);
  }

  &--dark-300 {
    background-color: var(--dark-color-300);
    color: var(--white-color);
  }

  &--dark-400 {
    background-color: var(--dark-color-400);
    color: var(--white-color);
  }

  &--dark-500 {
    background-color: var(--dark-color-500);
    color: var(--white-color);
  }

  &--dark-600 {
    background-color: var(--dark-color-600);
    color: var(--white-color);
  }

  &--secondary-100 {
    background-color: var(--secondary-color-100);
    color: var(--secondary-color-200);
  }

  &--secondary-200 {
    background-color: var(--secondary-color-200);
    color: var(--secondary-color-100);
  }

  &--secondary-400 {
    background-color: var(--secondary-color-400);
    color: var(--white-color);
  }

  &--noBg {
    background-color: transparent;
    border: 1px solid var(--gray-color-400);
  }

  &--border-gray-500 {
    border-color: var(--gray-color-500);
  }

  &--border-gray-600 {
    border-color: var(--gray-color-600);
  }

  &--circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }

  &--circle-small {
    width: 26px;
    height: 26px;
  }
}
