.text-banner {
  background-color: var(--gray-color-200);
  border: 1px solid var(--gray-color-400);
  border-radius: var(--radius-base);
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;

  &__block {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
