.top-page {
  --gap-details: #{calculate-clamp(8px, 32px, 1280px, 1023px)};

  &--big {
    .top-page {
      &__inner {
        gap: calculate-clamp(12px, 32px, 1280px, 1023px);
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(12px, 16px, 1280px, 1023px);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__details {
    display: grid;
    grid-template-columns: 200px 280px;
    align-items: center;
    gap: var(--gap-details);

    &--sort {
      --gap-details: #{calculate-clamp(8px, 24px, $lg-breakpoint, $tablet-breakpoint)};;
    }

    &--one {
      grid-template-columns: auto;

      @media (min-width: calc($md-desktop-breakpoint)) {
        grid-template-columns: 280px;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  @media (max-width: $md-desktop-breakpoint) {
    &__items {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__details {
      &--sort {
        grid-template-columns: 124px 200px;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --small-select: 90px;

    &__header {
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 16px;

      &--row {
        flex-direction: row;
      }
    }

    &__details {
      grid-template-columns: var(--small-select) calc(
          100% - var(--small-select) - var(--gap-details)
        );

      &--sort {
        display: flex;
        flex-direction: column-reverse;
        align-items: normal;

        --gap-details: 16px;

        .top-page__item {
          &:first-child {
            width: 200px;
          }
        }
      }
    }
  }
}
