.ui {
  &__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #eeeeee;
    transition: all 0.5s;
    padding-inline: 10px;
    border-radius: var(--radius-xl);

    &--big {
      padding-bottom: 200px;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
}

.accordeon {
  &__item {
    overflow: hidden;
    &.active {
      .accordeon__answer {
        padding: 10px 0 0 0;
      }

      .ui__box {
        padding-block: 10px;

        &--big {
          padding-bottom: 200px;
        }
      }
    }
  }
}
