@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'GP-Icons';
  src:  url('../fonts/icons/icomoon.eot?wa095s');
  src:  url('../fonts/icons/icomoon.eot?wa095s#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.woff2?wa095s') format('woff2'),
    url('../fonts/icons/icomoon.ttf?wa095s') format('truetype'),
    url('../fonts/icons/icomoon.woff?wa095s') format('woff'),
    url('../fonts/icons/icomoon.svg?wa095s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
