@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: 'GP-Icons';
  src:  url('../fonts/icons/GP-Icons.eot?o690n8');
  src:  url('../fonts/icons/GP-Icons.eot?o690n8#iefix') format('embedded-opentype'),
    url('../fonts/icons/GP-Icons.woff2?o690n8') format('woff2'),
    url('../fonts/icons/GP-Icons.ttf?o690n8') format('truetype'),
    url('../fonts/icons/GP-Icons.woff?o690n8') format('woff'),
    url('../fonts/icons/GP-Icons.svg?o690n8#GP-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
