html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--gray-color-100);
  color: var(--dark-color-200);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-tighter);
  overflow-x: hidden;

  &.open-modal {
    overflow: hidden;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: calc(var(--header-height, 140px) + 20px);
  display: flex;
  flex-direction: column;
  gap: var(--gap-blocks);

  section {
    &:last-child {
      margin-bottom: var(--gap-blocks);
    }
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.checkbox-box {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 4px;
  background-color: var(--white-color);
  border-radius: var(--radius-md);
  border: 1px solid var(--gray-color-400);
}

.scroll-max {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 6px;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar,
  &:focus::-webkit-scrollbar {
    opacity: 1;
  }

  &:hover {
    scrollbar-width: thin;
  }

  * {
    flex: 0 0 auto;
  }
}

.text-dots {
  --gap-dots: 8px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-dots);

  & > *:not(:last-child) {
    padding-right: calc(var(--gap-dots) + 6px);
    
    position: relative;

    &:before {
      content:"";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--secondary-color-300);
      border-radius: 50%;
    }
  }
}

[data-block="more-btn"].more {
  .icon {
    rotate: -180deg;
  }
}
