html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--gray-color-100);
  color: var(--dark-color-200);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-tighter);
  overflow-x: hidden;

  &.open-modal {
    overflow: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    top: var(--header-height, 80px);
    z-index: 100;
    background-color: rgba(#acabab, 0.8);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  &.open-decor {
    &:before {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &.white-page {
    background-color: #fff;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: calc(
    var(--header-height, var(--calback-header-height)) + #{calculate-clamp(
        16px,
        20px,
        1023px,
        480px
      )}
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;

  section {
    &:not(:last-child) {
      margin-bottom: var(--gap-blocks);
    }
  }

  &--detail {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-big {
      gap: 32px;
    }
  }

  &--noPaddingAdd {
    padding-top: var(--header-height, var(--calback-header-height));
  }

  &--noLastPadding {
    padding-bottom: 0;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);

  &--small {
    max-width: var(--container-width-second);
  }

  &--full {
    max-width: 100%;
    padding-inline: var(--container-inline-full-padding);
  }
}

body .wrapper {
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: var(--icon-base);
    width: var(--icon-base);
    height: var(--icon-base);

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    .kit-icon {
      font-size: 100%;
      color: currentColor;
    }

    &--big {
      font-size: var(--icon-md);
      width: var(--icon-md);
      height: var(--icon-md);
    }

    &--little {
      width: var(--icon-sm);
      height: var(--icon-sm);
      font-size: var(--icon-sm);
    }

    &--sm {
      width: var(--icon-xs);
      height: var(--icon-xs);
      font-size: var(--icon-xs);
    }

    &--full {
      width: 100%;
      height: 100%;
      font-size: 100%;
    }
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &--middle {
    gap: 32px;
  }

  &--small {
    gap: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__header-content {
    display: flex;
    align-items: center;
    gap: calculate-clamp(20px, 32px, 1280px, 1023px);
  }
}

.checkbox-box {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 4px;
  background-color: var(--white-color);
  border-radius: var(--radius-md);
  border: 1px solid var(--gray-color-400);
}

.scroll-max {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 6px;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar,
  &:focus::-webkit-scrollbar {
    opacity: 1;
  }

  &:hover {
    scrollbar-width: thin;
  }

  * {
    flex: 0 0 auto;
  }
}

.text-dots {
  --gap-dots: 8px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-dots);

  & > *:not(:last-child) {
    padding-right: calc(var(--gap-dots) + 6px);

    position: relative;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--secondary-color-300);
      border-radius: 50%;
    }
  }

  &--secondary-100 {
    & > *:not(:last-child) {
      &:before {
        background-color: var(--secondary-color-100);
      }
    }
  }
}

.top-page {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

[data-block="more-btn"].more {
  .icon {
    rotate: -180deg;
  }
}

.text-gradient {
  background-image: linear-gradient(266.69deg, #5900ff 0%, #d608ff 100%);
  background-clip: text;
  color: transparent;
}

.detail-block {
  display: grid;
  grid-template-columns: auto 280px;
  gap: calculate-clamp(20px, 32px, 1280px, 1023px);
}

.goods-items-block {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__boxs {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 24px 14px;
    }
  }
}

.banners-section {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.decor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--gray-color-200);
  padding: 2px 8px;
  border-radius: var(--radius-base);
  color: var(--secondary-color-300);
}

.decor-sticky {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;

  &--one {
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }
}

.close {
  background-color: transparent;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--white-color);

  &--absolute {
    position: absolute;
    z-index: 10;
    inset: 0;
  }
}

.decor {
  &__map {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px 0px #050d1d2e;
    border: 2px solid var(--white-color);
    background-color: var(--secondary-color-100);
    border-radius: var(--radius-md);

    .icon {
      width: 16px;
      height: 16px;
      color: var(--white-color);

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
}

.cluster-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px 0px #050d1d2e;
  border: 2px solid var(--white-color);
  background-color: var(--secondary-color-100);
  color: var(--white-color);
  padding: 5px 8px;
  font-size: var(--font-size-2xs);
  border-radius: var(--radius-xl);
}

.more-block {
  & > *:not(:first-child) {
    display: none;
  }

  &.more-block--two {
    & > *:not(:nth-child(-n + 2)) {
      display: none;
    }

    & > *:nth-child(-n + 2) {
      display: block;
    }
  }

  &.more {
    & > *:nth-child(-n + 9999) {
      display: block;
    }
  }
}

.input-tel-wrapper {
  &__box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__flug {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &__arrow {
    width: 6px;
    height: 6px;
  }
}

.popup-select {
  position: relative;

  .dropdown {
    position: static;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
