html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--gray-color-100);
  color: var(--dark-color-200);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-tighter);
  overflow-x: hidden;

  &.open-modal {
    overflow: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    top: var(--header-height, 80px);
    z-index: 100;
    background-color: rgba(#acabab, 0.8);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  &.open-decor {
    &:before {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &.white-page {
    background-color: #fff;
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: calc(
    var(--header-height, 140px) + #{calculate-clamp(16px, 20px, 1023px, 480px)}
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;

  section {
    &:not(:last-child) {
      margin-bottom: var(--gap-blocks);
    }
  }

  &--detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);

  &--small {
    max-width: var(--container-width-second);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &--small {
    gap: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.checkbox-box {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 4px;
  background-color: var(--white-color);
  border-radius: var(--radius-md);
  border: 1px solid var(--gray-color-400);
}

.scroll-max {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 6px;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar,
  &:focus::-webkit-scrollbar {
    opacity: 1;
  }

  &:hover {
    scrollbar-width: thin;
  }

  * {
    flex: 0 0 auto;
  }
}

.text-dots {
  --gap-dots: 8px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-dots);

  & > *:not(:last-child) {
    padding-right: calc(var(--gap-dots) + 6px);

    position: relative;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--secondary-color-300);
      border-radius: 50%;
    }
  }

  &--secondary-100 {
    & > *:not(:last-child) {
      &:before {
        background-color: var(--secondary-color-100);
      }
    }
  }
}

.top-page {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

[data-block="more-btn"].more {
  .icon {
    rotate: -180deg;
  }
}

.text-gradient {
  background-image: linear-gradient(266.69deg, #5900ff 0%, #d608ff 100%);
  background-clip: text;
  color: transparent;
}
