.checkbox-box {
  display: flex;
  align-items: center;
  gap: 0;
  padding: 4px;
  background-color: var(--white-color);
  border-radius: var(--radius-md);
  border: 1px solid var(--gray-color-400);
  white-space: nowrap;
}

.scroll-max {
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    height: 6px;
    transition: opacity 0.3s;
    opacity: 0;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar,
  &:focus::-webkit-scrollbar {
    opacity: 1;
  }

  &:hover {
    scrollbar-width: thin;
  }

  * {
    flex: 0 0 auto;
  }
}

.text-dots {
  --gap-dots: 8px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap-dots);

  & > *:not(:last-child) {
    padding-right: calc(var(--gap-dots) + 6px);

    position: relative;

    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: var(--secondary-color-300);
      border-radius: 50%;
    }
  }

  &--secondary-100 {
    & > *:not(:last-child) {
      &:before {
        background-color: var(--secondary-color-100);
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &--media-no-dots {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;

      & > *:not(:last-child) {
        padding: 0;

        &:before {
          display: none;
        }
      }
    }
  }
}

[data-block="more-btn"].more {
  .icon {
    rotate: -180deg;
  }
}

.text-gradient {
  background-image: linear-gradient(266.69deg, #5900ff 0%, #d608ff 100%);
  background-clip: text;
  color: transparent;
}

.detail-block {
  --gap-detail: #{calculate-clamp(20px, 32px, 1280px, 1023px)};
  --width-banners: 280px;

  display: grid;
  grid-template-columns: calc(100% - var(--gap-detail) - var(--width-banners)) var(
      --width-banners
    );
  gap: var(--gap-detail);

  &__banners {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__sticky-banner {
    position: sticky;
    top: calc(var(--header-height, --calback-header-height) + 10px);
    transition: all 0.3s;
  }

  @media (max-width: $md-desktop-breakpoint) {
    --gap-detail: 48px;

    display: flex;
    flex-direction: column;

    &__banners {
      display: none;
    }

    &__sticky-banner {
      position: static;
    }
  }
}

body.scrollBottom {
  .detail-block {
    &__sticky-banner {
      top: 10px;
    }
  }
}

.goods-items-block {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__boxs {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &--grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      gap: 24px 14px;
    }
  }
}

.goods-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: calculate-clamp(12px, 24px, 1280px, 1023px)
    calculate-clamp(12px, 14px, 1280px, 1023px);

  &--big {
    gap: calculate-clamp(12px, 24px, 1280px, 1023px);
  }

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.banners-section,
.decors-section {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;

    @media (max-width: $tablet-breakpoint) {
      gap: calculate-clamp(24px, 32px, 767px, 480px);
    }
  }
}

.decor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--gray-color-200);
  padding: 2px 8px;
  border-radius: var(--radius-base);
  color: var(--secondary-color-300);
}

.decor-sticky {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;

  &--one {
    line-clamp: 1;
    -webkit-line-clamp: 1;
  }

  &--three {
    line-clamp: 3;
    -webkit-line-clamp: 3;
  }

  &--four {
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
}

.close {
  background-color: transparent;
}

.map {
  &:not(.kit-icon) {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--white-color);

  &--absolute {
    position: absolute;
    z-index: 10;
    inset: 0;
  }
}

.decor {
  &__map {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 15px 0px #050d1d2e;
    border: 2px solid var(--white-color);
    background-color: var(--secondary-color-100);
    border-radius: var(--radius-md);

    .icon {
      width: 16px;
      height: 16px;
      color: var(--white-color);

      img,
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
}

.leaflet-marker-icon.custom-marker {
  &.is-active {
    .decor {
      &__map {
        background-color: var(--green-color-100);
        width: 32px;
        height: 40px;
        border-radius: 0;
      }
    }
  }
}

.cluster-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 15px 0px #050d1d2e;
  border: 2px solid var(--white-color);
  background-color: var(--secondary-color-100);
  color: var(--white-color);
  padding: 5px 8px;
  font-size: var(--font-size-2xs);
  border-radius: var(--radius-xl);
}

.more-block {
  &__item {
    display: none;
    width: 100%;

    &.item-visible {
      display: block;
    }
  }

  &.more {
    .more-block__item {
      display: block;
    }
  }
}

.input-tel-wrapper {
  &__box {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__flug {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  &__arrow {
    width: 6px;
    height: 6px;
  }
}

.popup-select {
  position: relative;

  .dropdown {
    position: static;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}



.decor-el {
  display: flex;
  align-items: center;
  gap: 8px;

  &--small {
    gap: 4px;
  }
}

.lg-download {
  display: none !important;
}



[data-loading="true"] {
  display: none;
}

[data-block="more-footer"] {
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.full-btn-media {
  @media (max-width: $tablet-breakpoint) {
    width: 100%;
  }
}

.grid-items {
  &__boxs {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &[data-grid="tiles"] {
    .grid-items__boxs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      gap: 24px 14px;

      & > *:not(.good-item) {
        grid-column: 1 / -1;
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    &[data-grid="tiles"],
    &[data-grid="list"] {
      .grid-items__boxs {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

[data-block="clamp-text"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[data-block="clamp-text"].is-clamped {
  -webkit-line-clamp: var(--lines, 1);
}

[data-block="clamp-text"].is-open {
  -webkit-line-clamp: unset;
}

[data-block="clamp-text"].is-open
  + [data-block="clamp-footer"]
  [data-block="clamp-btn"] {
  transform: rotate(-180deg);
}

[data-block="clamp-footer"] {
  display: none;
}

[data-block="clamp-footer"].visible {
  display: block;
}

.custom-scrolbar {
  // scrollbar-width: thin;
  // scrollbar-color: var(--dark-color-500) var(--gray-color-300);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--gray-color-300);
    border-radius: var(--radius-sm);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--radius-sm);
    background-color: var(--dark-color-500);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-color-600);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.loader-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: calculate-clamp(12px, 24px, 1280px, 1023px)
    calculate-clamp(12px, 14px, 1280px, 1023px);

  & > * {
    @media (max-width: $mobile-breakpoint) {
      &:not(:first-child) {
        display: none;
      }
    }
  }
}

.full-el {
  &--tablet {
    @media (max-width: $tablet-breakpoint) {
      position: relative;
      left: calc(var(--container-inline-padding) * -1);
      right: calc(var(--container-inline-padding) * -1);
      width: calc(100% + var(--container-inline-padding) * 2);
    }
  }
}
