html {
  scroll-behavior: smooth;

  // &:has(body.open-modal) {
  //   // overflow: hidden;
  // }
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--gray-color-100);
  color: var(--dark-color-200);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-tighter);
  overflow-x: hidden;

  &.open-modal,
  &.open-menu {
    overflow: hidden;
  }

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    transform: translateX(-100%);
  }

  &.open-decor {
    &:before {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &.white-page {
    background-color: #fff;
  }

  &:has(.modalSecond.open) {
    &:before {
      background-color: var(--gray-color-100);
    }
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: calc(
    var(--header-height, var(--calback-header-height)) + #{calculate-clamp(
        16px,
        20px,
        1023px,
        480px
      )}
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;

  section {
    &:not(:last-child) {
      margin-bottom: var(--gap-blocks);
    }
  }

  &--small {
    section {
      &:not(:last-child) {
        margin-bottom: var(--gap-blocks-small);

        &.gap-section-xs {
          margin-bottom: var(--gap-blocks-xs);
        }
      }
    }
  }

  &--detail {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-big {
      gap: calculate-clamp(24px, 40px, 1439px, 1023px);
    }

    &--middle {
      gap: calculate-clamp(24px, 32px, 1439px, 1023px);
    }
  }

  &--noPaddingAdd {
    padding-top: var(--header-height, var(--calback-header-height));
  }

  &--noLastPadding {
    padding-bottom: 0;
  }

  &--paddingLastSmall {
    padding-bottom: 24px;
  }

  &--full {
    padding: 0;
  }

  @media (max-width: $tablet-breakpoint) {
    &--detail {
      &-big {
        // gap: calculate-clamp(20px, 32px, 767px, 480px);
      }
    }
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);

  &--small {
    max-width: var(--container-width-second);
  }

  &--middle {
    max-width: var(--container-width-middle);
  }

  &--full {
    max-width: 100%;
    padding-inline: var(--container-inline-full-padding);
  }
}

body .wrapper {
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: var(--icon-base);
    width: var(--icon-base);
    height: var(--icon-base);
    // background-color: red;

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    .kit-icon {
      font-size: 100%;
      color: currentColor;
      // width: 100%;
      // height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        font-size: 100%;
        color: currentColor;
      }
    }

    &--big {
      font-size: var(--icon-md);
      width: var(--icon-md);
      height: var(--icon-md);
    }

    &--little {
      width: var(--icon-sm);
      height: var(--icon-sm);
      font-size: var(--icon-sm);
    }

    &--sm {
      width: var(--icon-xs);
      height: var(--icon-xs);
      font-size: var(--icon-xs);
    }

    &--lg {
      width: var(--icon-lg);
      height: var(--icon-lg);
      font-size: var(--icon-lg);
    }

    &--md-base {
      width: calculate-clamp(
        20px,
        24px,
        $lg-breakpoint,
        $tablet-breakpoint
      );
      height: calculate-clamp(
        20px,
        24px,
        $lg-breakpoint,
        $tablet-breakpoint
      );
      font-size: calculate-clamp(
        20px,
        24px,
        $lg-breakpoint,
        $tablet-breakpoint
      );
    }

    &--full {
      width: 100%;
      height: 100%;
      font-size: 100%;
    }
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(20px, 40px, 1439px, 1023px);

  &--middle {
    gap: calculate-clamp(20px, 32px, 1220px, 1023px);
  }

  &--small {
    gap: calculate-clamp(16px, 24px, 1439px, 1023px);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__header-content {
    display: flex;
    align-items: center;
    gap: calculate-clamp(20px, 32px, 1280px, 1023px);
  }
}

.fixed-block {
  position: fixed;
  z-index: 100;
  left: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 360px;
  width: 100%;

  @media (max-width: $mobile-breakpoint) {
    left: 12px;
    right: 12px;
    width: auto;
  }
}

body .wrapper {
  .xl-desktop-none {
    @media (max-width: $xl-desktop-breakpoint) {
      display: none;
    }
  }

  .xl-desktop-show {
    display: none;

    @media (max-width: $xl-desktop-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .desktop-none {
    @media (max-width: $desktop-breakpoint) {
      display: none;
    }
  }

  .desktop-show {
    display: none;

    @media (max-width: $desktop-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .md-desktop-none {
    @media (max-width: $md-desktop-breakpoint) {
      display: none;
    }
  }

  .md-desktop-show {
    display: none;

    @media (max-width: $md-desktop-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .tablet-none {
    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .tablet-show {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .lg-show {
    display: none;

    @media (max-width: $lg-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .lg-none {
    @media (max-width: $lg-breakpoint) {
      display: none;
    }
  }

  .br-el {
    &--rounded-sm {
      border-radius: var(--radius-sm);
    }

    &--rounded-base {
      border-radius: var(--radius-base);
    }

    &--rounded-md {
      border-radius: var(--radius-md);
    }

    &--rounded-lg {
      border-radius: var(--radius-lg);
    }

    &--rounded-xl {
      border-radius: var(--radius-xl);
    }

    &--rounded-2xl {
      border-radius: var(--radius-2xl);
    }

    &--rounded-3xl-md {
      border-radius: calculate-clamp(12px, 24px, 1023px, 767px);
    }

    &--rounded-3xl {
      border-radius: var(--radius-3xl);
    }
  }
}
