@use "sass:math";

@function calculate-clamp(
  $min,
  $max,
  $width-at-max: 1500px,
  $min-width: 415px
) {
  $slope: math.div($max - $min, $width-at-max - $min-width);
  $intercept: $min - $slope * $min-width;
  @return clamp(#{$min}, calc(#{$intercept} + #{$slope * 100}vw), #{$max});
}
// calculate-clamp(200px, 300px, 1023px, 767px)

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  visibility: hidden;
  border: 0;
}

$xl-desktop-breakpoint: 1550px;
$desktop-breakpoint: 1439px;
$md-desktop-breakpoint: 1279px;
$lg-breakpoint: 1023px;
$tablet-breakpoint: 767px;
$mobile-breakpoint: 479px;

@mixin columnOrMeidaBannerPromo {
  min-height: 490px;

  &__logo {
    display: none;
  }

  &__footer {
    flex-direction: column;
    align-items: normal;
    margin-top: auto;

    .banner-promo__logo {
      display: flex;
    }
  }

  &__content {
    gap: 24px;
    flex: 1;
  }

  &__items {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@mixin hover-link {
  color: var(--link-color-active);

  &.active-noColor {
    color: inherit;
  }

  &:before {
    transform-origin: left;
    scale: 1;
  }
}

@mixin companieCardMediaOrSmall {
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  border-radius: var(--radius-md);

  &__content,
  &__img-box {
    padding: 0;
  }

  &__img-box {
    display: none;
  }

  &__header-img {
    display: flex;
  }

  &__btns {
    display: grid;
    width: 100%;

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}


