@use "sass:math";

@function calculate-clamp(
  $min,
  $max,
  $width-at-max: 1500px,
  $min-width: 415px
) {
  $slope: math.div($max - $min, $width-at-max - $min-width);
  $intercept: $min - $slope * $min-width;
  @return clamp(#{$min}, calc(#{$intercept} + #{$slope * 100}vw), #{$max});
}
// calculate-clamp(200px, 300px, $lg-breakpoint, $tablet-breakpoint)

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  pointer-events: none;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  visibility: hidden;
  border: 0;
}

$xl-desktop-breakpoint: 1550px;
$desktop-breakpoint: 1439px;
$md-desktop-breakpoint: 1279px;
$lg-breakpoint: 1023px;
$tablet-breakpoint: 767px;
$mobile-breakpoint: 479px;

@mixin columnOrMeidaBannerPromo {
  min-height: 490px;

  &__logo {
    display: none;
  }

  &__footer {
    flex-direction: column;
    align-items: normal;
    margin-top: auto;

    .banner-promo__logo {
      display: flex;
    }
  }

  &__content {
    gap: 24px;
    flex: 1;
  }

  &__items {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@mixin hover-link {
  color: var(--link-color-active);

  &.active-noColor {
    color: inherit;
  }

  &:before {
    transform-origin: left;
    scale: 1;
  }
}

@mixin companieCardMediaOrSmall {
  flex-direction: column;
  gap: 16px;
  padding: 12px;
  border-radius: var(--radius-md);

  &--empty {
    .companie-card__header-img {
      background-color: transparent;
    }
  }

  &__content,
  &__img-box {
    padding: 0;
  }

  

  &__img-box {
    display: none;


  }

  &--show-img {
    flex-direction: row;
    align-items: flex-start;

    .companie-card {
      &__img-box {
        display: flex;
        border: none;
        border: 1px solid var(--gray-color-200);
        max-width: 60px;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-sm);

        .kit-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        * {
          width: 60px !important;
          font-size: 32px !important;
        }
      }

      &__img-block {
        width: 100%;
      }
    }
    
  }

  &__header-img {
    display: flex;
    color: var(--dark-color-700);
    background-color: transparent;
      border: 1px solid var(--gray-color-200);

      img {
        object-fit: contain;
      }
  }

  &__btns {
    display: grid;
    width: 100%;

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__header-item {
    .icon {
      font-size: var(--icon-base) !important;
      width: var(--icon-base) !important;
      height: var(--icon-base) !important;
    }
  }
}

@mixin share-hover {
  background-color: var(--dark-color-200);
  color: var(--white-color);
}
