.h1,
h1 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-3xl);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
    font-weight: var(--weight-font-lg);
  }
}

.h2,
h2 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-2xl);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
    font-weight: var(--weight-font-lg);
  }
}

.h3,
h3 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-xl);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
    font-weight: var(--weight-font-lg);
  }
}

.h4,
h4 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-base);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
    font-weight: var(--weight-font-lg);
  }
}

.h5,
h5 {
  font-weight: var(--weight-font-lg);
  font-size: var(--font-size-md);
  line-height: var(--line-height-relaxed);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
  }
}

.h6,
h6 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-base);
  line-height: var(--line-height-loose);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
  }
}

.h6-add {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-base2);
  line-height: var(--line-height-loose);

  @media (max-width: $lg-breakpoint) {
    line-height: var(--line-height-relaxed);
  }
}

.p1 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-looser);
}

.p2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-loosest);
}

.p3 {
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-loose);
}

.p4 {
  font-size: var(--font-size-3xs);
  line-height: var(--line-height-looser);
}

.regular-font {
  font-weight: var(--weight-font-main);
}

.medium-font {
  font-weight: var(--weight-font-md);
}

.semibold-font {
  font-weight: var(--weight-font-lg);
}

.bold-font {
  font-weight: var(--weight-font-xl);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-secondary-100 {
  color: var(--secondary-color-100);
}

.text-secondary-200 {
  color: var(--secondary-color-200);
}

.text-secondary-300 {
  color: var(--secondary-color-300);
}

.text-primary-100 {
  color: var(--primary-color-100);
}

.text-primary-500 {
  color: var(--primary-color-500);
}

.text-dark-100 {
  color: var(--dark-color-100);
}

.text-dark-200 {
  color: var(--dark-color-200);
}

.text-dark-300 {
  color: var(--dark-color-300);
}

.text-yellow-300 {
  color: var(--yellow-color-300);
}

.text-yellow-400 {
  color: var(--yellow-color-400);
}

.text-dark-500 {
  color: var(--dark-color-500);
}

.text-dark-600 {
  color: var(--dark-color-600);
}

.text-green-100 {
  color: var(--green-color-100);
}

.text-green-600 {
  color: var(--green-color-600);
}

.fz-40-16 {
  font-size: calculate-clamp(
    16px,
    40px,
    $md-desktop-breakpoint,
    $lg-breakpoint
  );
}

.fz-48-26 {
  font-size: calculate-clamp(
    26px,
    48px,
    $md-desktop-breakpoint,
    $lg-breakpoint
  );
}

.fz-24-22 {
  font-size: calculate-clamp(
    22px,
    24px,
    $md-desktop-breakpoint,
    $lg-breakpoint
  );
}

.fz-28-16 {
  font-size: calculate-clamp(
    16px,
    28px,
    $md-desktop-breakpoint,
    $mobile-breakpoint
  );
}

.fz-24-16 {
  font-size: calculate-clamp(
    16px,
    24px,
    $md-desktop-breakpoint,
    $tablet-breakpoint
  );
}

.fz60-22 {
  font-size: calculate-clamp(
    28px,
    60px,
    $md-desktop-breakpoint,
    $lg-breakpoint
  );

  @media (max-width: $tablet-breakpoint) {
    font-size: calculate-clamp(22px, 28px, $lg-breakpoint, $mobile-breakpoint);
  }
}

.fz18-14 {
  font-size: calculate-clamp(
    16px,
    18px,
    $md-desktop-breakpoint,
    $lg-breakpoint
  );

  @media (max-width: $tablet-breakpoint) {
    font-size: calculate-clamp(14px, 16px, $lg-breakpoint, $mobile-breakpoint);
  }
}

body .main {
  .br-base {
    border-radius: var(--radius-base);
  }
}

.accent-color {
  color: var(--primary-color-100);
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}