.h1,
h1 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-3xl);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.h2,
h2 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-2xl);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.h3,
h3 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-xl);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.h4,
h4 {
  font-weight: var(--weight-font-xl);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-base);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.h5,
h5 {
  font-weight: var(--weight-font-lg);
  font-size: var(--font-size-md);
  line-height: var(--line-height-relaxed);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.h6,
h6 {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-base);
  line-height: var(--line-height-loose);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.h6-add {
  font-weight: var(--weight-font-md);
  font-size: var(--font-size-base2);
  line-height: var(--line-height-loose);

  @media (max-width: 767px) {
    line-height: var(--line-height-relaxed);
  }
}

.p1 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-looser);
}

.p2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-loosest);
}

.p3 {
  font-size: var(--font-size-2xs);
  line-height: var(--line-height-loose);
}

.p4 {
  font-size: var(--font-size-3xs);
  line-height: var(--line-height-looser);
}

.regular-font {
  font-weight: var(--weight-font-main);
}

.medium-font {
  font-weight: var(--weight-font-md);
}

.semibold-font {
  font-weight: var(--weight-font-lg);
}

.bold-font {
  font-weight: var(--weight-font-xl);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-secondary-100 {
  color: var(--secondary-color-100);
}

.text-secondary-200 {
  color: var(--secondary-color-200);
}

.text-secondary-300 {
  color: var(--secondary-color-300);
}

.text-primary-100 {
  color: var(--primary-color-100);
}

.text-primary-500 {
  color: var(--primary-color-500);
}

.text-dark-100 {
  color: var(--dark-color-100);
}

.text-dark-200 {
  color: var(--dark-color-200);
}

.text-dark-300 {
  color: var(--dark-color-300);
}

.text-yellow-300 {
  color: var(--yellow-color-300);
}

.text-yellow-400 {
  color: var(--yellow-color-400);
}

.text-dark-500 {
  color: var(--dark-color-500);
}

.text-dark-600 {
  color: var(--dark-color-600);
}

.text-green-100 {
  color: var(--green-color-100);
}

.text-green-600 {
  color: var(--green-color-600);
}

body .main {
  .br-base {
    border-radius: var(--radius-base);
  }
}

.accent-color {
  color: var(--primary-color-100);
}
